Repository elastic/elastic-charts, pull requests merged in 2019-05, with the labels that each got.

#200 fix(scales): use bisect to handle invertWithStep
  src/lib/utils/scales/scale_band.test.ts
  src/lib/utils/scales/scale_band.ts
  src/lib/utils/scales/scale_continuous.test.ts
  src/lib/utils/scales/scale_continuous.ts
  src/lib/utils/scales/scale_time.test.ts
  src/lib/utils/scales/scales.test.ts
  src/lib/utils/scales/scales.ts
  src/state/chart_state.timescales.test.ts
  src/state/chart_state.ts
  src/state/crosshair_utils.linear_snap.test.ts
  src/state/crosshair_utils.ts
  src/state/test/interactions.test.ts
  stories/bar_chart.tsx
Labels: :interactions, bug

#203 ci(codecov): fix codecov upload on master
  .travis.yml
Labels: chore

#182 feat: add option to toggle value labels on bar charts
  src/components/react_canvas/bar_geometries.tsx
  src/components/react_canvas/bar_values.tsx
  src/components/react_canvas/reactive_chart.tsx
  src/components/react_canvas/utils/rendering_props_utils.test.ts
  src/components/react_canvas/utils/rendering_props_utils.ts
  src/lib/series/rendering.bars.test.ts
  src/lib/series/rendering.ts
  src/lib/series/specs.ts
  src/lib/themes/dark_theme.ts
  src/lib/themes/light_theme.ts
  src/lib/themes/theme.test.ts
  src/lib/themes/theme.ts
  src/state/chart_state.ts
  src/state/utils.test.ts
  src/state/utils.ts
  stories/bar_chart.tsx
Labels: :chart, enhancement

#180 feat(rect_annotation): add RectAnnotation type
  src/components/_annotation.scss
  src/components/annotation_tooltips.tsx
  src/components/react_canvas/line_annotation.tsx
  src/components/react_canvas/reactive_chart.tsx
  src/components/react_canvas/rect_annotation.tsx
  src/index.ts
  src/lib/series/specs.ts
  src/lib/themes/theme.test.ts
  src/lib/themes/theme.ts
  src/specs/index.ts
  src/specs/line_annotation.tsx
  src/specs/rect_annotation.tsx
  src/state/annotation_marker.test.tsx
  src/state/annotation_utils.test.ts
  src/state/annotation_utils.ts
  src/state/chart_state.test.ts
  src/state/chart_state.ts
  src/state/test/interactions.test.ts
  stories/annotations.tsx
Labels: :annotation, enhancement

#206 fix(eui): update EUI dependency to 11.0.0
  package.json
  yarn.lock
Labels: chore

#210 fix(eui): generate css without EUI classes
  package.json
  src/index.scss
  yarn.lock
Labels: :styling, chore
