Repository elastic/elastic-charts, pull requests merged in 2019-03, with the labels that each got.

#51 feat(legend/click): add click interations on legend titles
  src/components/_legend.scss
  src/components/legend.tsx
  src/components/legend_element.tsx
  src/components/react_canvas/line_geometries.tsx
  src/lib/series/legend.test.ts
  src/lib/series/legend.ts
  src/lib/series/series.test.ts
  src/lib/series/series.ts
  src/specs/settings.tsx
  src/specs/specs_parser.test.tsx
  src/specs/specs_parser.tsx
  src/state/chart_state.test.ts
  src/state/chart_state.ts
  src/state/utils.test.ts
  src/state/utils.ts
  stories/interactions.tsx
  stories/legend.tsx
Labels: :interactions, :legend

#92 fix(scale): timeFormat use millis instead of Date for time scales
  src/lib/series/utils/test_dataset_kibana.ts
  src/lib/series/utils/test_dataset_random.ts
  src/lib/utils/scales/scale_continuous.ts
  src/lib/utils/scales/scales.test.ts
  src/utils/data/formatters.ts
  stories/area_chart.tsx
  stories/bar_chart.tsx
  stories/line_chart.tsx
Labels: :data

#95 feat(series): set custom series colors through spec prop
  src/lib/series/series.test.ts
  src/lib/series/series.ts
  src/lib/series/specs.ts
  src/state/chart_state.test.ts
  src/state/chart_state.ts
  src/state/utils.test.ts
  src/state/utils.ts
  stories/styling.tsx
Labels: :legend, :specs

#100 build(storybook): fix missing story source view
  .storybook/webpack.config.js
Labels: bug

#101 fix(npm): add missing generated file to npm package
  .travis.yml
  src/index.ts
  stories/area_chart.tsx
  stories/bar_chart.tsx
  stories/interactions.tsx
  stories/legend.tsx
  stories/line_chart.tsx
  stories/styling.tsx
  stories/utils.ts
Labels: chore

#98 feat(domain): scale data to a specific domain via axis spec
  src/lib/axes/axis_utils.test.ts
  src/lib/axes/axis_utils.ts
  src/lib/series/domains/x_domain.test.ts
  src/lib/series/domains/x_domain.ts
  src/lib/series/domains/y_domain.test.ts
  src/lib/series/domains/y_domain.ts
  src/lib/series/rendering.ts
  src/lib/series/specs.ts
  src/lib/utils/dimensions.test.ts
  src/lib/utils/dimensions.ts
  src/specs/settings.tsx
  src/state/chart_state.ts
  src/state/utils.test.ts
  src/state/utils.ts
  stories/axis.tsx
Labels: :axis, :data, :specs

#107 test(utils/domain): add tests for domain computations
  src/lib/utils/domain.test.ts
Labels: test

#115 fix(chart): fix duplicated keys for chart elements
  src/components/react_canvas/area_geometries.tsx
  src/components/react_canvas/bar_geometries.tsx
  src/components/react_canvas/globals.ts
  src/components/react_canvas/line_geometries.tsx
  src/components/react_canvas/reactive_chart.tsx
Labels: :chart, bug

#114 fix(rendering): fix rendering values <= 0 on log scale
  src/lib/series/rendering.areas.test.ts
  src/lib/series/rendering.bars.test.ts
  src/lib/series/rendering.lines.test.ts
  src/lib/series/rendering.ts
  src/lib/series/utils/test_dataset_tsvb.ts
  src/lib/utils/scales/scale_continuous.test.ts
  src/lib/utils/scales/scale_continuous.ts
  stories/line_chart.tsx
Labels: :data, bug

#129 fix(animation): re-enabled animateData prop to disable animation
  src/state/chart_state.ts
  src/state/utils.test.ts
  src/state/utils.ts
Labels: :chart, :specs, bug

#132 Add stories ts check on commit and build
  package.json
  stories/interactions.tsx
  tsconfig.all.json
Labels: bug
