Repository elastic/elastic-charts, pull requests merged in 2019-07, with the labels that each got.

#256 fix(theme): merge optional params
  src/lib/themes/theme.ts
  src/lib/utils/commons.test.ts
  src/lib/utils/commons.ts
Labels: :styling, bug

#217 feat(axis): add tickLabelPadding prop
  src/components/react_canvas/axis.tsx
  src/lib/axes/axis_utils.test.ts
  src/lib/axes/axis_utils.ts
  src/lib/axes/bbox_calculator.ts
  src/lib/axes/canvas_text_bbox_calculator.test.ts
  src/lib/axes/canvas_text_bbox_calculator.ts
  src/lib/series/rendering.ts
  src/lib/series/specs.ts
  src/lib/themes/dark_theme.ts
  src/lib/themes/light_theme.ts
  stories/axis.tsx
  stories/styling.tsx
Labels: :axis, enhancement

#261 fix(last_value): compute last value for non stacked series
  src/lib/series/series.ts
  src/state/utils.ts
  stories/bar_chart.tsx
Labels: :legend, bug

#252 refactor(legend): remove visibility button
  src/components/legend/_legend_item.scss
  src/components/legend/legend_item.tsx
Labels: :legend, :styling, enhancement

#258 feat(style): allow fill and stroke overrides
  .playground/playgroud.tsx
  src/components/react_canvas/area_geometries.tsx
  src/components/react_canvas/axis.tsx
  src/components/react_canvas/bar_geometries.tsx
  src/components/react_canvas/grid.tsx
  src/components/react_canvas/line_annotation.tsx
  src/components/react_canvas/line_geometries.tsx
  src/components/react_canvas/reactive_chart.tsx
  src/components/react_canvas/rect_annotation.tsx
  src/components/react_canvas/utils/rendering_props_utils.test.ts
  src/components/react_canvas/utils/rendering_props_utils.ts
  src/index.ts
  src/lib/series/rendering.areas.test.ts
  src/lib/series/rendering.bands.test.ts
  src/lib/series/rendering.bars.test.ts
  src/lib/series/rendering.lines.test.ts
  src/lib/series/rendering.test.ts
  src/lib/series/rendering.ts
  src/lib/series/specs.ts
  src/lib/series/tooltip.test.ts
  src/lib/themes/dark_theme.ts
  src/lib/themes/light_theme.ts
  src/lib/themes/theme.test.ts
  src/lib/themes/theme.ts
  src/lib/utils/interactions.test.ts
  src/state/chart_state.test.ts
  src/state/test/interactions.test.ts
  src/state/utils.test.ts
  src/state/utils.ts
  stories/bar_chart.tsx
  stories/styling.tsx
Labels: :styling, enhancement

#259 fix: position tooltip within chart with single value xScale
  src/lib/utils/interactions.ts
  src/lib/utils/scales/scale_band.test.ts
  src/lib/utils/scales/scale_band.ts
  src/lib/utils/scales/scale_continuous.test.ts
  src/lib/utils/scales/scale_continuous.ts
  src/lib/utils/scales/scales.ts
  src/state/chart_state.test.ts
  src/state/chart_state.ts
  src/state/crosshair_utils.ts
  src/state/test/interactions.test.ts
  stories/bar_chart.tsx
Labels: :interactions, bug

#266 chore: remove enums from project
  src/lib/axes/axis_utils.test.ts
  src/lib/series/curves.ts
  src/lib/series/specs.ts
  src/lib/themes/theme.ts
  src/lib/utils/interactions.ts
  src/lib/utils/scales/scales.ts
  src/state/chart_state.ts
  stories/interactions.tsx
Labels: chore

#265 fix: adjust domain & range for single value histogram
  src/lib/axes/axis_utils.ts
  src/lib/series/scales.test.ts
  src/lib/series/scales.ts
  src/state/chart_state.ts
  src/state/utils.ts
  stories/annotations.tsx
Labels: :axis, bug

#219 feat: add isChartEmpty
  src/components/_index.scss
  src/components/_unavailable_chart.scss
  src/components/react_canvas/reactive_chart.tsx
  src/lib/series/legend.ts
  src/state/chart_state.ts
  src/state/utils.test.ts
  src/state/utils.ts
Labels: :chart

#269 fix: handle chart click as mouseUp to prevent click while brushing
  src/components/react_canvas/reactive_chart.tsx
  stories/interactions.tsx
Labels: :interactions, bug

#267 fix: update EUI and add autoprefixer
  .playground/webpack.config.js
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/theme_service.ts
  .storybook/webpack.config.js
  package.json
  src/chart_types/xy_chart/store/chart_state.ts
  src/components/legend/_legend.scss
  src/specs/settings.tsx
  yarn.lock
Labels: chore
