Repository elastic/elastic-charts, pull requests merged in 2019-06, with the labels that each got.

#226 fix(axis_title): remove whitespace with empty axis title
  src/components/react_canvas/axis.tsx
  src/lib/axes/axis_utils.test.ts
  src/lib/axes/axis_utils.ts
  src/lib/utils/__snapshots__/dimensions.test.ts.snap
  src/lib/utils/dimensions.ts
  stories/styling.tsx
Labels: :axis, bug

#220 fix(crosshair): adjust band position for rotation
  src/state/chart_state.ts
  src/state/crosshair_utils.linear_snap.test.ts
  src/state/crosshair_utils.ts
  stories/bar_chart.tsx
  stories/line_chart.tsx
Labels: :interactions

#231 feat(scss): export the theme as SCSS file
  package.json
  scripts/concat_sass.js
  src/_eui_imports.scss
  src/components/_index.scss
  src/style/themes/_colors_dark.scss
  src/style/themes/_colors_light.scss
  src/theme_dark.scss
  src/theme_light.scss
  src/theme_only_dark.scss
  src/theme_only_light.scss
  wiki/consuming.md
  yarn.lock
Labels: :styling

#233 feat(tooltip): add custom headerFormatter
  src/components/tooltips.tsx
  src/index.ts
  src/lib/series/tooltip.ts
  src/lib/utils/interactions.ts
  src/specs/settings.test.tsx
  src/specs/settings.tsx
  src/state/chart_state.test.ts
  src/state/chart_state.timescales.test.ts
  src/state/chart_state.ts
  stories/bar_chart.tsx
  stories/interactions.tsx
Labels: :interactions, enhancement

#236 fix(line_annotation): use scaleAndValidate for line annotations
  src/state/annotation_marker.test.tsx
  src/state/annotation_utils.test.ts
  src/state/annotation_utils.ts
  stories/bar_chart.tsx
Labels: :annotation, bug

#243 feat(brush): show crosshair cursor when brush enabled
  src/components/_container.scss
  src/components/react_canvas/reactive_chart.tsx
  src/state/chart_state.test.ts
  src/state/chart_state.ts
Labels: :interactions

#240 feat: add minInterval option for custom xDomain
  src/lib/series/domains/x_domain.test.ts
  src/lib/series/domains/x_domain.ts
  src/lib/series/specs.ts
  src/lib/series/utils/test_dataset_discover_per_30s.ts
  stories/bar_chart.tsx
Labels: :data, enhancement

#239 feat(theme): allow recursive partial theme
  .playground/tsconfig.json
  .playground/webpack.config.js
  .storybook/tsconfig.json
  .storybook/webpack.config.js
  jest.config.json
  package.json
  src/lib/themes/theme.test.ts
  src/lib/themes/theme.ts
  src/lib/utils/commons.test.ts
  src/lib/utils/commons.ts
  src/specs/settings.test.tsx
  src/specs/settings.tsx
  stories/styling.tsx
  tsconfig.all.json
  tsconfig.jest.json
  tsconfig.json
  tsconfig.lib.json
Labels: :styling, enhancement
