Repository elastic/elastic-charts, pull requests merged in 2020-05, with the labels that each got.

#656 docs: add PR review and S&M check list
  CONTRIBUTING.md
Labels: :docs

#660 feat(partition): treemap padding
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-custom-style-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-groove-text-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-mid-two-layers-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-multi-color-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-one-layer-2-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-one-layer-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-percentage-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-two-layers-stress-test-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-zero-values-visually-looks-correct-1-snap.png
  src/chart_types/partition_chart/layout/types/config_types.ts
  src/chart_types/partition_chart/layout/types/viewmodel_types.ts
  src/chart_types/partition_chart/layout/viewmodel/fill_text_layout.test.ts
  src/chart_types/partition_chart/layout/viewmodel/fill_text_layout.ts
  src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  src/chart_types/partition_chart/renderer/canvas/canvas_renderers.ts
  src/utils/dimensions.ts
  stories/treemap/4_two_layer_stress.tsx
  stories/treemap/8_groove_text.tsx
Labels: :chart, :partition, enhancement

#665 feat(partition): linked text maximum length config
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-value-formatted-visually-looks-correct-1-snap.png
  src/chart_types/partition_chart/layout/config/config.ts
  src/chart_types/partition_chart/layout/types/config_types.ts
  src/chart_types/partition_chart/layout/viewmodel/link_text_layout.ts
  src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  stories/sunburst/2_value_formatted.tsx
Labels: :partition, enhancement

#671 fix: build/type issue with DataGenerator
  src/mocks/utils.ts
  src/utils/data_generators/data_generator.ts
  src/utils/data_generators/simple_noise.ts
  tsconfig.lib.json
Labels: bug

#670 feat(partition): linked text overflow avoidance
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-bold-link-value-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-clockwise-no-special-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-counter-clockwise-special-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-linked-labels-only-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-most-basic-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-negative-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-not-a-number-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-some-zero-value-slice-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-value-formatted-with-categorical-color-palette-visually-looks-correct-1-snap.png
  src/chart_types/partition_chart/layout/types/geometry_types.ts
  src/chart_types/partition_chart/layout/types/viewmodel_types.ts
  src/chart_types/partition_chart/layout/viewmodel/link_text_layout.ts
  src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  stories/sunburst/7_zero_slice.tsx
Labels: :partition, enhancement

#666 feat(partition): enable grooves in all group layers
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-three-layer-visually-looks-correct-1-snap.png
  src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  stories/treemap/10_three_layers.tsx
  stories/treemap/treemap.stories.tsx
Labels: :partition, enhancement

#662 docs: add api-extractor report
  .gitattributes
  .github/workflows/api_extractor_check.yaml
  api-extractor.json
  api/charts.api.md
  package.json
  src/chart_types/goal_chart/specs/index.ts
  src/chart_types/xy_chart/specs/rect_annotation.tsx
  src/chart_types/xy_chart/utils/specs.ts
  src/components/chart.tsx
  src/index.ts
  src/scales/scale_band.ts
  src/scales/scale_continuous.ts
  src/specs/settings.tsx
  src/utils/accessor.ts
  src/utils/commons.ts
  tsconfig.lib-nocomments.json
  tsconfig.lib.json
  yarn.lock
Labels: :build, :docs

#654 fix(partition): consider legendMaxDepth on legend size
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-sunburst-with-two-layers-visually-looks-correct-1-snap.png
  src/chart_types/partition_chart/state/selectors/get_legend_items_labels.test.ts
  src/chart_types/partition_chart/state/selectors/get_legend_items_labels.ts
  stories/sunburst/8_sunburst_two_layers.tsx
Labels: :legend, :partition, enhancement

#681 feat(partition): monotonic font size scaling
  api/charts.api.md
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-legend-piechart-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-bold-link-value-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-clockwise-no-special-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-counter-clockwise-special-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-donut-chart-with-fill-labels-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-heterogeneous-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-linked-labels-only-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-most-basic-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-percentage-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-sunburst-with-two-layers-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-value-formatted-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-value-formatted-with-categorical-color-palette-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-with-direct-text-labels-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-with-fill-labels-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-custom-style-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-groove-text-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-mid-two-layers-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-multi-color-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-one-layer-2-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-one-layer-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-percentage-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-three-layer-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-two-layers-stress-test-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-zero-values-visually-looks-correct-1-snap.png
  src/chart_types/partition_chart/layout/circline_geometry.ts
  src/chart_types/partition_chart/layout/config/config.ts
  src/chart_types/partition_chart/layout/types/config_types.ts
  src/chart_types/partition_chart/layout/types/geometry_types.ts
  src/chart_types/partition_chart/layout/types/viewmodel_types.ts
  src/chart_types/partition_chart/layout/utils/calcs.test.ts
  src/chart_types/partition_chart/layout/utils/calcs.ts
  src/chart_types/partition_chart/layout/viewmodel/fill_text_layout.ts
  src/chart_types/partition_chart/layout/viewmodel/link_text_layout.ts
  src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  stories/sunburst/9_sunburst_three_layers.tsx
  stories/treemap/10_three_layers.tsx
Labels: :partition, chore, enhancement

#684 build: remove testing hooks and add random seed
  .ci/run.sh
  .huskyrc.js
  .prettierignore
  .storybook/preview-head.html
  integration/jest_puppeteer.config.js
  package.json
  src/chart_types/partition_chart/layout/config/config.ts
  src/components/_unavailable_chart.scss
  src/mocks/hierarchical/palettes.ts
  src/utils/data_samples/test_dataset_discover_per_30s.ts
  stories/bar/43_test_discover.tsx
  tsconfig.lib.json
Labels: :build, chore
