Repository elastic/elastic-charts, pull requests merged in 2020-10, with the labels that each got.

#843 fix: legend item label for functional tests
  src/components/__snapshots__/chart.test.tsx.snap
  src/components/legend/__snapshots__/legend.test.tsx.snap
  src/components/legend/legend_item.tsx
Labels: :legend

#841 fix: limit annotation to the current domain extent
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-within-domain-cover-from-0-to-1-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-within-domain-cover-from-0-to-end-domain-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-within-domain-cover-from-1-only-on-bar-chart-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-within-domain-cover-from-3-only-on-bar-chart-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-within-domain-dont-render-outside-domain-1-snap.png
  integration/tests/annotations_stories.test.ts
  src/chart_types/xy_chart/annotations/rect/dimensions.ts
  stories/annotations/rects/1_linear_bar_chart.tsx
Labels: :annotation, :xy, bug

#844 fix(heatmap): destroy canvas bbox calculator when done
  src/chart_types/heatmap/state/selectors/compute_chart_dimensions.ts
  src/chart_types/heatmap/state/selectors/get_x_axis_right_overflow.ts
Labels: bug

#848 fix(interactions): recognise drag after 100ms and 4px
  integration/page_objects/common.ts
  src/chart_types/xy_chart/state/chart_state.interactions.test.ts
  src/state/reducers/interactions.ts
  src/utils/point.ts
Labels: :interactions, bug

#850 fix(heatmap): x-axis labels overlapping for time series data
  src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
Labels: :heatmap, bug

#849 fix(heatmap): adjust pageSize based available chart height
  .playground/playground.tsx
  api/charts.api.md
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-basic-visually-looks-correct-1-snap.png
  src/chart_types/heatmap/layout/types/config_types.ts
  src/chart_types/heatmap/layout/viewmodel/grid.ts
  src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  src/chart_types/heatmap/renderer/canvas/connected_component.tsx
  src/chart_types/heatmap/state/selectors/compute_chart_dimensions.ts
  src/chart_types/heatmap/state/selectors/geometries.ts
  src/chart_types/heatmap/state/selectors/get_grid_full_height.ts
  src/chart_types/heatmap/state/selectors/get_heatmap_config.ts
  src/chart_types/heatmap/state/selectors/get_heatmap_container_size.ts
  src/chart_types/heatmap/state/selectors/scenegraph.ts
Labels: :heatmap, bug

#853 fix: detect dragging only by the delta changes
  src/chart_types/xy_chart/state/chart_state.interactions.test.ts
  src/state/reducers/interactions.ts
Labels: :interactions, enhancement

#855 fix: filter highlighted Y values
  .playground/playground.tsx
  src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
Labels: bug

#854 ci(release): use gh workflow to manually release and push
  .github/workflows/auto_release.yaml
Labels: :ci, enhancement

#842 fix: annotation rendering with no yDomain
  .playground/playground.tsx
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-annotations-rects-with-group-id-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-annotations-rects-zero-domain-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-with-no-group-id-provided-does-not-show-annotation-when-no-group-id-provided-and-y-0-and-y-1-values-specified-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-with-no-group-id-provided-show-annotation-when-group-id-is-provided-and-y-0-and-y-1-values-specified-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-with-no-group-id-provided-show-annotation-when-group-id-is-provided-no-y-0-nor-y-1-values-specified-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-with-no-group-id-provided-show-annotation-when-group-id-is-provided-y-0-and-y-1-values-specified-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-with-no-group-id-provided-show-annotation-when-no-group-id-provided-and-no-y-0-nor-y-1-values-specified-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-with-zero-domain-or-fit-to-domain-does-not-show-annotation-with-y-domain-is-0-0-and-y-0-and-y-1-specified-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-with-zero-domain-or-fit-to-domain-does-not-show-annotation-with-y-domain-is-20-20-and-y-0-and-y-1-values-are-specified-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-with-zero-domain-or-fit-to-domain-show-annotation-when-y-domain-fit-is-true-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-with-zero-domain-or-fit-to-domain-show-annotation-when-y-domain-is-0-0-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-with-zero-domain-or-fit-to-domain-show-annotation-when-y-domain-is-0-20-and-y-0-and-y-1-are-specified-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-render-with-zero-domain-or-fit-to-domain-show-annotation-when-y-domain-is-not-zero-value-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltip-formatting-show-synced-tooltips-1-snap.png
  integration/tests/annotations_stories.test.ts
  src/chart_types/xy_chart/annotations/rect/dimensions.integration.test.ts
  src/chart_types/xy_chart/annotations/rect/dimensions.ts
  src/chart_types/xy_chart/annotations/utils.test.ts
  src/chart_types/xy_chart/annotations/utils.ts
  src/chart_types/xy_chart/state/selectors/compute_annotations.ts
  src/chart_types/xy_chart/state/utils/types.ts
  stories/annotations/rects/6_zero_domain.tsx
  stories/annotations/rects/7_with_group_id.tsx
  stories/annotations/rects/rects.stories.tsx
Labels: :annotation, bug

#870 ci: fix comma linting
  .eslintrc.js
Labels: :ci

#877 feat(legend): allow legend text to be copyable
  src/components/legend/_legend_item.scss
Labels: :legend
