Repository elastic/elastic-charts, pull requests merged in 2021-07, with the labels that each got.

#1230 fix(heatmap): pick correct brush end value
  packages/charts/src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_brushed_highlighted_shapes.test.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_picked_cells.ts
Labels: :heatmap, :interactions, bug, regression

#1218 feat(a11y): allow user to add optional semantic meaning to goal/gauge charts
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-goal-semantics-visually-looks-correct-1-snap.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/goal_chart/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/goal_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/goal_chart/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/goal_chart/renderer/canvas/connected_component.tsx
  packages/charts/src/chart_types/goal_chart/specs/index.ts
  packages/charts/src/chart_types/goal_chart/state/selectors/get_goal_chart_data.ts
  packages/charts/src/components/accessibility/accessibility.test.tsx
  packages/charts/src/components/accessibility/goal_semantic_description.tsx
  packages/charts/src/components/accessibility/index.ts
  stories/goal/25_goal_semantic.tsx
  stories/goal/goal.stories.tsx
Labels: :accessibility, :bullet/goal/gauge, enhancement

#1247 docs(readme): update README and FAQ
  FAQ.md
  README.md
Labels: :docs

#1250 ci: fix semantic-release slack-bot config
  .releaserc.js
Labels: :ci, bug

#1233 feat(xy): hide labels that protrude the bar geometry
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bar-chart-with-value-label-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-value-labels-positioning-clip-both-geometry-and-chart-area-values-1-snap.png
  integration/tests/bar_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/renderer/canvas/values/bar.ts
  packages/charts/src/chart_types/xy_chart/rendering/bars.ts
  packages/charts/src/chart_types/xy_chart/utils/specs.ts
  packages/charts/src/utils/geometry.ts
  stories/bar/2_label_value.tsx
  stories/bar/51_label_value_advanced.tsx
Labels: :annotation, :xy, enhancement

#1226 feat(xy): add null bars to geometry indexing
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-interactions-interaction-with-null-values-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-should-show-null-values-in-tooltip-if-configured-hide-tooltip-if-configured-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-should-show-null-values-in-tooltip-if-configured-show-n-a-tooltip-for-areas-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-should-show-null-values-in-tooltip-if-configured-show-n-a-tooltip-for-bars-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltip-sync-show-synced-extra-values-in-legend-1-snap.png
  integration/tests/interactions.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/rendering/bars.ts
  packages/charts/src/chart_types/xy_chart/rendering/points.ts
  packages/charts/src/chart_types/xy_chart/rendering/rendering.areas.test.ts
  packages/charts/src/chart_types/xy_chart/rendering/rendering.bubble.test.ts
  packages/charts/src/chart_types/xy_chart/rendering/rendering.lines.test.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_tooltip_snap.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_tooltip_values_highlighted_geoms.ts
  packages/charts/src/specs/constants.ts
  packages/charts/src/specs/settings.tsx
  stories/interactions/18_null_values.tsx
  stories/interactions/interactions.stories.tsx
Labels: :interactions, :tooltip, :xy

#1254 ci: slackbot package name
  .releaserc.js
Labels: :ci

#1246 refactor(bullet): better tooltip foundations
  .eslintrc.js
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-full-circle-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-third-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-two-thirds-visually-looks-correct-1-snap.png
  packages/charts/src/chart_types/goal_chart/layout/viewmodel/geoms.ts
  packages/charts/src/chart_types/goal_chart/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/goal_chart/renderer/canvas/connected_component.tsx
  packages/charts/src/chart_types/goal_chart/state/selectors/geometries.ts
  playground/playground.tsx
Labels: :bullet/goal/gauge, enhancement

#1258 fix: interaction in linear/log x scales
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-area-chart-stepped-area-visually-looks-correct-1-snap.png
  package.json
  packages/charts/src/scales/scale_continuous.ts
  stories/area/20_stepped_area.tsx
  stories/area/area.stories.tsx
Labels: :interactions, :xy, backport, bug

#1259 fix(xy): interaction in linear/log x scales (#1258) [32.x]
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-area-chart-stepped-area-visually-looks-correct-1-snap.png
  package.json
  packages/charts/src/scales/scale_continuous.ts
  stories/area/20_stepped_area.tsx
  stories/area/area.stories.tsx
Labels: backport

#1227 feat(legend): add point shape styles to legend item
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-flame-alpha-flame-chart-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-flame-alpha-icicle-chart-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-interactions-sunburst-slice-clicks-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-legend-piechart-repeated-labels-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-legend-piechart-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-line-chart-point-shapes-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-mosaic-alpha-simple-mosaic-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-stylings-mixed-point-shapes-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-stylings-texture-multiple-series-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-custom-tooltip-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-single-sunburst-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-sunburst-with-three-layers-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-sunburst-with-two-layers-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-mid-two-layers-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-three-layer-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-two-layers-stress-test-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltips-should-render-current-tooltip-for-split-and-y-accessors-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltips-should-show-tooltip-on-sunburst-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-extra-values-should-display-flat-legend-extra-values-on-sunburst-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-extra-values-should-display-flat-legend-extra-values-on-treemap-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-extra-values-should-display-nested-legend-extra-values-on-sunburst-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-extra-values-should-display-nested-legend-extra-values-on-treemap-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-have-the-same-order-as-nested-with-no-indent-even-if-there-are-repeated-labels-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-render-color-picker-on-mouse-click-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-tooltip-placement-with-legend-should-render-tooltip-with-right-legend-1-snap.png
  integration/tests/__image_snapshots__/stylings-stories-test-ts-stylings-stories-texture-area-should-allow-any-random-texture-customization-1-snap.png
  integration/tests/__image_snapshots__/stylings-stories-test-ts-stylings-stories-texture-area-should-use-hover-opacity-for-texture-1-snap.png
  integration/tests/__image_snapshots__/stylings-stories-test-ts-stylings-stories-texture-bar-should-allow-any-random-texture-customization-1-snap.png
  integration/tests/__image_snapshots__/stylings-stories-test-ts-stylings-stories-texture-bar-should-use-hover-opacity-for-texture-1-snap.png
  packages/charts/src/chart_types/xy_chart/legend/legend.ts
  packages/charts/src/chart_types/xy_chart/renderer/dom/highlighter.tsx
  packages/charts/src/chart_types/xy_chart/renderer/shapes_paths.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/compute_legend.ts
  packages/charts/src/chart_types/xy_chart/state/utils/utils.test.ts
  packages/charts/src/chart_types/xy_chart/utils/texture.ts
  packages/charts/src/common/legend.ts
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/components/icons/icon.tsx
  packages/charts/src/components/legend/__snapshots__/legend.test.tsx.snap
  packages/charts/src/components/legend/color.tsx
  packages/charts/src/components/legend/legend.test.tsx
  packages/charts/src/components/legend/legend.tsx
  packages/charts/src/components/legend/legend_icon.test.tsx
  packages/charts/src/components/legend/legend_icon.tsx
  packages/charts/src/components/legend/legend_item.tsx
  packages/charts/src/utils/fast_deep_equal.test.ts
  packages/charts/src/utils/fast_deep_equal.ts
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.test.ts
  stories/legend/11_legend_actions.tsx
  stories/line/14_point_shapes.tsx
  stories/stylings/11_custom_lines.tsx
  stories/stylings/12_custom_area.tsx
  stories/stylings/25_mixed_point_shapes.tsx
  stories/stylings/stylings.stories.tsx
Labels: :legend, :xy

#1269 chore(partition): remove unused text metrics
  packages/charts/src/chart_types/partition_chart/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/fill_text_layout.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/link_text_layout.ts
  packages/charts/src/common/text_utils.ts
Labels: :partition, chore

#1265 fix: persisted color via color picker
  packages/charts/src/state/chart_state.ts
  stories/legend/11_legend_actions.tsx
  stories/line/14_point_shapes.tsx
Labels: :legend, bug, regression

#1274 fix: hex colors to allow alpha channel
  packages/charts/src/common/color_library_wrappers.test.ts
  packages/charts/src/common/color_library_wrappers.ts
Labels: :all, :styling

#1253 fix: heatmap snap domain to interval
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-time-visually-looks-correct-1-snap.png
  packages/charts/src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  packages/charts/src/utils/chrono/chrono.ts
  packages/charts/src/utils/chrono/elasticsearch.test.ts
  packages/charts/src/utils/chrono/elasticsearch.ts
  packages/charts/src/utils/chrono/luxon.ts
  packages/charts/src/utils/chrono/moment.ts
  packages/charts/src/utils/chrono/types.ts
  packages/charts/src/utils/common.tsx
  storybook/stories/heatmap/3_time.tsx
  storybook/stories/heatmap/heatmap.stories.tsx
Labels: :data, :heatmap, bug
