Repository elastic/elastic-charts, pull requests merged in 2021-08, with the labels that each got.

#1285 feat(legend): multiline labels
  integration/server/generate/vrt_page_template.js
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-interactions-clicks-hovers-on-legend-items-bar-chart-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-legend-inside-chart-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-legend-left-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-legend-right-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-stylings-custom-series-colors-via-accessor-function-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-stylings-custom-series-colors-via-colors-array-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/area-stories-test-ts-area-series-stories-negative-log-areas-shows-only-negative-values-when-hiding-positive-one-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltips-should-render-current-tooltip-for-split-and-y-accessors-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-keyboard-navigation-should-navigate-to-legend-item-with-tab-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-bottom-left-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-bottom-left-in-dark-mode-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-bottom-left-in-multiline-mode-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-bottom-right-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-bottom-right-in-dark-mode-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-bottom-right-in-multiline-mode-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-top-left-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-top-left-in-dark-mode-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-top-left-in-multiline-mode-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-top-right-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-top-right-in-dark-mode-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-top-right-in-multiline-mode-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-truncate-multiline-labels-up-to-max-lines-set-to-0-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-truncate-multiline-labels-up-to-max-lines-set-to-1-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-truncate-multiline-labels-up-to-max-lines-set-to-3-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-breakup-multiline-legend-labels-with-long-continous-words-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-correctly-render-multiline-nested-legend-labels-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-correctly-render-very-long-multiline-legend-labels-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-tooltip-placement-with-legend-should-render-tooltip-with-left-legend-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-tooltip-placement-with-legend-should-render-tooltip-with-right-legend-1-snap.png
  integration/tests/interactions.test.ts
  integration/tests/legend_stories.test.ts
  package.json
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/utils/dimensions.test.ts
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/components/legend/__snapshots__/legend.test.tsx.snap
  packages/charts/src/components/legend/_legend_item.scss
  packages/charts/src/components/legend/label.tsx
  packages/charts/src/components/legend/legend.tsx
  packages/charts/src/components/legend/legend_item.tsx
  packages/charts/src/components/tooltip/_tooltip.scss
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.ts
  storybook/stories/legend/10_sunburst.tsx
  storybook/stories/legend/11_legend_actions.tsx
  storybook/stories/legend/12_legend_margins.tsx
  storybook/stories/legend/13_inside_chart.tsx
  storybook/stories/legend/8_spacing_buffer.tsx
  storybook/stories/utils/knobs.ts
Labels: enhancement, :legend, :styling, :all

#1288 chore: upgrade caniuse-lite dep
  yarn.lock
Labels: chore, dependencies

#1287 build: fix storybook build
  integration/server/generate/import_template.js
  integration/server/mocks/use_global_parameters.ts
  integration/tests/legend_stories.test.ts
  storybook/main.js
  storybook/package.json
  storybook/preview.ts
  storybook/stories/icicle/01_unix_icicle.tsx
  storybook/stories/icicle/02_unix_flame.tsx
  storybook/stories/icicle/03_cpu_profile_flame.tsx
  storybook/stories/interactions/4_sunburst_slice_clicks.tsx
  storybook/stories/legend/10_sunburst.tsx
  storybook/stories/legend/10_sunburst_repeated_label.tsx
  storybook/stories/small_multiples/7_sunbursts.tsx
  storybook/stories/stylings/22_dark_theme.tsx
  storybook/stories/sunburst/15_single_sunburst.tsx
  storybook/stories/sunburst/19_negative.tsx
  storybook/stories/sunburst/1_simple.tsx
  storybook/stories/sunburst/22_counter_clockwise.tsx
  storybook/stories/sunburst/23_clockwise.tsx
  storybook/stories/sunburst/26_percentage.tsx
  storybook/stories/sunburst/27_heterogeneous_depth.tsx
  storybook/stories/sunburst/28_not_a_number.tsx
  storybook/stories/sunburst/29_custom_stroke.tsx
  storybook/stories/sunburst/2_value_formatted.tsx
  storybook/stories/sunburst/31_bold_link_value.tsx
  storybook/stories/sunburst/32_custom_tooltip.tsx
  storybook/stories/sunburst/4_fill_labels.tsx
  storybook/stories/sunburst/5_donut.tsx
  storybook/stories/sunburst/8_sunburst_two_layers.tsx
  storybook/stories/sunburst/9_sunburst_three_layers.tsx
  storybook/stories/treemap/10_three_layers.tsx
  storybook/stories/treemap/1_one_layer.tsx
  storybook/stories/treemap/3_mid_two.tsx
  storybook/stories/treemap/4_two_layer_stress.tsx
  storybook/stories/treemap/5_multicolor.tsx
  storybook/stories/treemap/6_custom_style.tsx
  storybook/stories/treemap/7_percentage.tsx
  storybook/stories/treemap/8_groove_text.tsx
  storybook/stories/treemap/9_zero_values.tsx
  storybook/story_wrapper.tsx
  storybook/use_base_theme.ts
  yarn.lock
Labels: :docs, :build

#1289 ci: fix package versioning script
  .releaserc.js
  packages/charts/package.json
Labels: :ci, :build

#1281 fix(bar): filter zero-height bars from rendering
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bar-chart-test-rect-border-visually-looks-correct-1-snap.png
  packages/charts/src/chart_types/xy_chart/renderer/canvas/bars.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/rect.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/styles/bar.test.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/styles/bar.ts
  storybook/stories/bar/57_test_rect_border_bars.tsx
  storybook/stories/bar/bars.stories.tsx
Labels: :styling, :xy

#1291 build: fix storybook build source error
  storybook/webpack.config.js
Labels: :docs, :build

#1292 fix: polarity value filtering on non-log scales
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-line-chart-test-negative-points-visually-looks-correct-1-snap.png
  packages/charts/src/chart_types/xy_chart/rendering/rendering.lines.test.ts
  packages/charts/src/chart_types/xy_chart/rendering/utils.ts
  storybook/stories/line/15_test_negative_points.tsx
  storybook/stories/line/line.stories.tsx
Labels: bug, :data, :xy

#1300 ci: cleanup storybook vrt styles and colors
  integration/server/mocks/use_global_parameters.ts
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-stylings-dark-theme-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltips-should-render-current-tooltip-in-dark-theme-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-bottom-left-in-dark-mode-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-bottom-right-in-dark-mode-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-top-left-in-dark-mode-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-legend-inside-chart-should-correctly-display-top-right-in-dark-mode-1-snap.png
  storybook/preview.ts
  storybook/stories/area/20_stepped_area.tsx
  storybook/stories/interactions/16_cursor_update_action.tsx
  storybook/stories/interactions/18_null_values.tsx
  storybook/stories/stylings/25_mixed_point_shapes.tsx
  storybook/story_wrapper.tsx
  storybook/style.scss
  storybook/use_base_theme.ts
Labels: :docs, :ci

#1273 fix(heatmap): compute nice legend items from color scale
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-basic-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-categorical-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/heatmap-test-ts-heatmap-color-scale-linear-1-snap.png
  integration/tests/__image_snapshots__/heatmap-test-ts-heatmap-color-scale-quantile-1-snap.png
  integration/tests/__image_snapshots__/heatmap-test-ts-heatmap-color-scale-quantize-1-snap.png
  integration/tests/__image_snapshots__/heatmap-test-ts-heatmap-color-scale-threshold-1-snap.png
  integration/tests/heatmap.test.ts
  packages/charts/src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/heatmap/state/selectors/compute_legend.ts
  packages/charts/src/chart_types/heatmap/state/selectors/geometries.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_color_scale.ts
  packages/charts/src/chart_types/heatmap/state/selectors/scenegraph.ts
  packages/charts/src/utils/data_samples/test_anomaly_swim_lane.ts
  storybook/stories/heatmap/1_basic.tsx
  storybook/stories/heatmap/2_categorical.tsx
Labels: bug, :legend, :heatmap

#1301 feat(goal): optional target tick
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-band-in-band-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-range-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-should-render-without-target-1-snap.png
  integration/tests/goal_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/goal_chart/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/goal_chart/layout/viewmodel/geoms.ts
  packages/charts/src/chart_types/goal_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/goal_chart/specs/index.ts
  packages/charts/src/chart_types/goal_chart/state/selectors/get_goal_chart_data.ts
  storybook/stories/goal/11_gaps.tsx
Labels: enhancement, :data, :bullet/goal/gauge

#1302 fix(goal): tooltip actual color
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-should-render-actual-tooltip-color-on-hover-1-snap.png
  integration/tests/goal_stories.test.ts
  integration/tests/heatmap.test.ts
  integration/tests/legend_stories.test.ts
  packages/charts/src/chart_types/goal_chart/state/selectors/tooltip.ts
  storybook/main.js
  storybook/package.json
  storybook/preview.ts
  storybook/stories/annotations/lines/1_x_continuous.tsx
  storybook/stories/annotations/lines/6_test_single_bar_histogram.tsx
  storybook/stories/bar/2_label_value.tsx
  storybook/stories/wordcloud/1_wordcloud.tsx
  yarn.lock
Labels: :styling, :bullet/goal/gauge

#1307 chore(xy): avoid large dimensions in ctx.clearRect
  packages/charts/src/chart_types/goal_chart/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/heatmap/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/partition_chart/renderer/canvas/partition.tsx
  packages/charts/src/chart_types/xy_chart/renderer/canvas/renderers.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/xy_chart.tsx
  packages/charts/src/components/brush/brush.tsx
  packages/charts/src/renderers/canvas/index.ts
Labels: chore, :xy, :bullet/goal/gauge, :heatmap, code quality

#1313 refactor: reduction of canvas context threading
  packages/charts/src/chart_types/goal_chart/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/heatmap/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/partition_chart/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/areas.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/bars.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/bubbles.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/grids.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/lines.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/panels/panels.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/arc.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/line.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/path.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/shapes.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/text.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/renderers.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/utils/debug.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/utils/panel_transform.ts
  packages/charts/src/components/brush/brush.tsx
  packages/charts/src/renderers/canvas/index.ts
Labels: chore, code quality, :all

#1317 fix: improved heatmap legend
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-basic-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-categorical-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-time-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/heatmap-test-ts-heatmap-color-scale-linear-1-snap.png
  integration/tests/__image_snapshots__/heatmap-test-ts-heatmap-color-scale-quantile-1-snap.png
  integration/tests/__image_snapshots__/heatmap-test-ts-heatmap-color-scale-quantize-1-snap.png
  integration/tests/__image_snapshots__/heatmap-test-ts-heatmap-color-scale-threshold-1-snap.png
  integration/tests/heatmap.test.ts
  packages/charts/api/charts.api.md
  packages/charts/package.json
  packages/charts/src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/heatmap/scales/band_color_scale.ts
  packages/charts/src/chart_types/heatmap/specs/heatmap.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_color_scale.ts
  packages/charts/src/chart_types/heatmap/state/selectors/scenegraph.ts
  packages/charts/src/index.ts
  packages/charts/src/mocks/specs/specs.ts
  storybook/stories/heatmap/1_basic.tsx
  storybook/stories/heatmap/2_categorical.tsx
  storybook/stories/heatmap/3_time.tsx
Labels: enhancement, :legend, :heatmap

#1316 fix(legend): no truncation with single value
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-legend-single-series-visually-looks-correct-1-snap.png
  packages/charts/src/components/legend/style_utils.ts
  storybook/stories/legend/14_single_series.tsx
  storybook/stories/legend/legend.stories.tsx
Labels: :legend, :all

#1318 fix(heatmap): reuse valueFormatter in legend
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-basic-visually-looks-correct-1-snap.png
  packages/charts/src/chart_types/heatmap/scales/band_color_scale.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_color_scale.ts
  storybook/stories/heatmap/1_basic.tsx
Labels: bug, :legend, :heatmap, skip-newsletter

#1315 chore: removed more context variable shadowing and withContext
  packages/charts/src/chart_types/goal_chart/layout/viewmodel/geoms.ts
  packages/charts/src/chart_types/heatmap/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/partition_chart/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/annotations/index.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/areas.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/bars.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/bubbles.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/grids.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/lines.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/points.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/arc.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/line.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/path.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/shapes.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/utils.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/renderers.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/styles/bar.test.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/styles/bar.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/utils/debug.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/utils/panel_transform.ts
  packages/charts/src/chart_types/xy_chart/renderer/dom/annotations/annotations.tsx
  packages/charts/src/chart_types/xy_chart/utils/indexed_geometry_spatial_map.ts
  packages/charts/src/renderers/canvas/index.ts
Labels: :performance, code quality, :all

#1270 fix(heatmap): limit brush tool
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-should-not-have-brush-tool-extend-into-axes-1-snap.png
  integration/tests/heatmap_stories.test.ts
  packages/charts/src/chart_types/heatmap/renderer/dom/highlighter.tsx
  packages/charts/src/chart_types/heatmap/state/selectors/get_brush_area.ts
  packages/charts/src/components/brush/brush.tsx
  storybook/stories/heatmap/1_basic.tsx
Labels: bug, :interactions, :heatmap

#1329 fix(partition): small multiples panel title color
  integration/server/generate/vrt_page_template.js
  integration/server/mocks/use_global_parameters.ts
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-small-multiples-alpha-sunbursts-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/dark-mode-test-ts-small-multiples-dark-mode-renders-panel-titles-1-snap.png
  integration/tests/dark_mode.test.ts
  packages/charts/src/chart_types/partition_chart/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/scenegraph.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/partition_chart/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/partition_chart/renderer/dom/highlighter.tsx
  packages/charts/src/chart_types/partition_chart/state/selectors/geometries.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/get_debug_state.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/get_screen_reader_data.ts
  storybook/story_wrapper.tsx
  storybook/use_base_theme.ts
Labels: bug, :styling, :partition

#1330 fix(partition): small multiples panel title color (#1329) [32.x]
  integration/server/generate/vrt_page_template.js
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-small-multiples-alpha-sunbursts-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/dark-mode-test-ts-small-multiples-dark-mode-renders-panel-titles-1-snap.png
  integration/tests/dark_mode.test.ts
  packages/charts/src/chart_types/partition_chart/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/scenegraph.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/partition_chart/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/partition_chart/renderer/dom/highlighter.tsx
  packages/charts/src/chart_types/partition_chart/state/selectors/geometries.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/get_debug_state.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/get_screen_reader_data.ts
  stories/small_multiples/7_sunbursts.tsx
Labels: backport

#1336 fix(partition): small multiples panel title color (#1329) [34.1.x]
  integration/server/generate/vrt_page_template.js
  integration/server/mocks/use_global_parameters.ts
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-small-multiples-alpha-sunbursts-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/dark-mode-test-ts-small-multiples-dark-mode-renders-panel-titles-1-snap.png
  integration/tests/dark_mode.test.ts
  packages/charts/src/chart_types/partition_chart/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/scenegraph.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/partition_chart/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/partition_chart/renderer/dom/highlighter.tsx
  packages/charts/src/chart_types/partition_chart/state/selectors/geometries.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/get_debug_state.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/get_screen_reader_data.ts
  storybook/story_wrapper.tsx
  storybook/use_base_theme.ts
Labels: backport

#1324 refactor(xy): axis title and related simplifications
  .huskyrc.js
  package.json
  packages/charts/src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_x_axis_right_overflow.ts
  packages/charts/src/chart_types/xy_chart/axes/axes_sizes.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/annotations/lines.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/annotations/rect.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/grids.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/panels/global_title.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/panels/panel_title.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/panels/panels.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/panels/title.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/renderers.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/utils/debug.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/values/bar.ts
  packages/charts/src/chart_types/xy_chart/rendering/bars.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/compute_axis_ticks_dimensions.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/on_brush_end_caller.ts
  packages/charts/src/chart_types/xy_chart/state/utils/utils.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.test.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.ts
  packages/charts/src/components/legend/legend.tsx
  packages/charts/src/components/legend/position_style.ts
  packages/charts/src/components/legend/style_utils.ts
  packages/charts/src/scales/scale_band.ts
  packages/charts/src/scales/scale_continuous.ts
  packages/charts/src/state/selectors/get_legend_size.ts
  packages/charts/src/utils/bbox/bbox_calculator.ts
  packages/charts/src/utils/bbox/canvas_text_bbox_calculator.test.ts
  packages/charts/src/utils/bbox/canvas_text_bbox_calculator.ts
  packages/charts/src/utils/bbox/dom_text_bbox_calculator.ts
  packages/charts/src/utils/bbox/svg_text_bbox_calculator.ts
  packages/charts/src/utils/common.test.ts
  packages/charts/src/utils/common.tsx
  packages/charts/src/utils/dimensions.ts
  renovate.json
  yarn.lock
Labels: :axis, :xy, code quality

#1272 fix(a11y): restore focus after popover close with color picker
  packages/charts/src/components/legend/legend_item.tsx
  storybook/stories/legend/9_color_picker.tsx
Labels: :legend, :accessibility
