Repository elastic/elastic-charts, pull requests merged in 2021-10, with the labels that each got.

#1418 fix(debug): add predictable axis labels sorting order
  packages/charts/src/chart_types/xy_chart/state/__snapshots__/chart_state.debug.test.ts.snap
  packages/charts/src/chart_types/xy_chart/state/chart_state.debug.test.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_debug_state.ts
Labels: :axis, :xy

#1413 fix(goal): reduce whitespace for circular charts
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-gauge-with-target-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-goal-semantics-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-half-circle-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-side-gauge-inverted-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-side-gauge-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-third-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-two-thirds-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-sagitta-offset-should-limit-max-offset-to-3-2-π-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-sagitta-offset-should-limit-min-offset-to-π-2-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-sagitta-offset-should-render-goal-with-asymetric-angle-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-theme-dark-should-render-gauge-with-target-story-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-theme-eui-dark-should-render-gauge-with-target-story-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-theme-eui-light-should-render-gauge-with-target-story-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-theme-light-should-render-gauge-with-target-story-1-snap.png
  integration/tests/goal_stories.test.ts
  packages/charts/src/chart_types/goal_chart/layout/viewmodel/geoms.ts
  packages/charts/src/chart_types/goal_chart/layout/viewmodel/utils.ts
  storybook/stories/goal/2_gauge_with_target.story.tsx
Labels: enhancement, :bullet/goal/gauge

#1396 fix(interactions): change allowBrushingLastHistogramBin to true
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/state/selectors/on_brush_end_caller.ts
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/specs/constants.ts
  packages/charts/src/specs/settings.tsx
  storybook/stories/interactions/10a_brush_selection_bar_hist.story.tsx
  storybook/stories/interactions/12_brush_time_hist.story.tsx
Labels: :interactions, :xy, breaking change
