Repository elastic/elastic-charts, pull requests merged in 2021-12, with the labels that each got.

#1505 feat: expose style for interpolation fit functions
  integration/tests/__image_snapshots__/stylings-stories-test-ts-stylings-stories-fit-function-styling-can-style-the-area-1-snap.png
  integration/tests/__image_snapshots__/stylings-stories-test-ts-stylings-stories-fit-function-styling-can-style-the-line-1-snap.png
  integration/tests/__image_snapshots__/stylings-stories-test-ts-stylings-stories-fit-function-styling-should-apply-opacity-on-styled-fit-series-1-snap.png
  integration/tests/__image_snapshots__/stylings-stories-test-ts-stylings-stories-fit-function-styling-should-render-interpolated-area-as-non-interpolated-areas-1-snap.png
  integration/tests/__image_snapshots__/stylings-stories-test-ts-stylings-stories-fit-function-styling-should-render-interpolated-line-as-non-interpolated-lines-1-snap.png
  integration/tests/__image_snapshots__/stylings-stories-test-ts-stylings-stories-fit-function-styling-should-render-style-on-stacked-areas-1-snap.png
  integration/tests/stylings_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/renderer/canvas/areas.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/lines.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/path.ts
  packages/charts/src/chart_types/xy_chart/rendering/area.ts
  packages/charts/src/chart_types/xy_chart/rendering/bubble.ts
  packages/charts/src/chart_types/xy_chart/rendering/line.ts
  packages/charts/src/chart_types/xy_chart/rendering/points.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_debug_state.ts
  packages/charts/src/chart_types/xy_chart/state/utils/utils.test.ts
  packages/charts/src/chart_types/xy_chart/state/utils/utils.ts
  packages/charts/src/common/color_library_wrappers.ts
  packages/charts/src/index.ts
  packages/charts/src/mocks/geometries.ts
  packages/charts/src/utils/geometry.ts
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.test.ts
  packages/charts/src/utils/themes/theme.ts
  storybook/stories/mixed/6_fitting.story.tsx
  storybook/stories/mixed/6_fitting_stacked.story.tsx
  storybook/stories/stylings/11_custom_lines.story.tsx
  storybook/stories/stylings/12_custom_area.story.tsx
Labels: :data, :xy, :theme

#1498 fix(partition): linkLabel textColor override
  .eslintrc.js
  integration/helpers.ts
  integration/page_objects/common.ts
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-default-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-default-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-default-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-default-text-color-1-snap.png
  integration/tests/axis_stories.test.ts
  integration/tests/goal_stories.test.ts
  integration/tests/partition_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/partition_chart/layout/config.ts
  packages/charts/src/chart_types/partition_chart/layout/types/config_types.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/link_text_layout.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/utils/common.ts
  storybook/stories/sunburst/24_linked_label.story.tsx
  storybook/stories/treemap/2_one_layer_2.story.tsx
Labels: bug, :styling, :partition

#1515 fix(partition): linkLabel textColor override (#1498) [40.0.x]
  .eslintrc.js
  integration/helpers.ts
  integration/page_objects/common.ts
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-default-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-default-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-default-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-default-text-color-1-snap.png
  integration/tests/axis_stories.test.ts
  integration/tests/goal_stories.test.ts
  integration/tests/partition_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/partition_chart/layout/config.ts
  packages/charts/src/chart_types/partition_chart/layout/types/config_types.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/link_text_layout.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/utils/common.ts
  storybook/stories/sunburst/24_linked_label.story.tsx
  storybook/stories/treemap/2_one_layer_2.story.tsx
Labels: backport

#1510 fix(waffle): use descend sortPredicate by default
  integration/tests/__image_snapshots__/waffle-stories-test-ts-waffle-should-render-cells-in-ascending-order-1-snap.png
  integration/tests/waffle_stories.test.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/hierarchy_of_arrays.ts
  storybook/stories/waffle/1_simple.story.tsx
Labels: :docs, :partition

#1523 fix(partition): linkLabel textColor override (#1498) [40.1.x]
  .eslintrc.js
  integration/helpers.ts
  integration/page_objects/common.ts
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-sunburst-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-fill-label-textcolor-treemap-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-dark-theme-should-show-default-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-dark-theme-should-show-default-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-eui-light-theme-should-show-default-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-black-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-black-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-red-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-white-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-custom-white-translucent-text-color-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-link-label-textcolor-light-theme-should-show-default-text-color-1-snap.png
  integration/tests/axis_stories.test.ts
  integration/tests/goal_stories.test.ts
  integration/tests/partition_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/partition_chart/layout/config.ts
  packages/charts/src/chart_types/partition_chart/layout/types/config_types.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/link_text_layout.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/utils/common.ts
  storybook/stories/sunburst/24_linked_label.story.tsx
  storybook/stories/treemap/2_one_layer_2.story.tsx
Labels: backport

#1467 feat(legend): custom legend width
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-custom-width-position-bottom-should-limit-size-to-max-70-of-chart-dimension-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-custom-width-position-bottom-should-set-exact-size-of-legend-within-constraints-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-custom-width-position-left-should-limit-size-to-max-70-of-chart-dimension-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-custom-width-position-left-should-limit-width-to-min-of-30-of-computed-width-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-custom-width-position-left-should-set-exact-size-of-legend-within-constraints-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-custom-width-position-right-should-limit-size-to-max-70-of-chart-dimension-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-custom-width-position-right-should-limit-width-to-min-of-30-of-computed-width-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-custom-width-position-right-should-set-exact-size-of-legend-within-constraints-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-custom-width-position-top-should-limit-size-to-max-70-of-chart-dimension-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-custom-width-position-top-should-set-exact-size-of-legend-within-constraints-1-snap.png
  integration/tests/legend_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/specs/constants.ts
  packages/charts/src/specs/settings.tsx
  packages/charts/src/state/selectors/get_legend_config_selector.ts
  packages/charts/src/state/selectors/get_legend_size.ts
  storybook/stories/legend/1_legend_right.story.tsx
  storybook/stories/legend/2_legend_bottom.story.tsx
  storybook/stories/legend/3_legend_left.story.tsx
  storybook/stories/legend/4_legend_top.story.tsx
  storybook/stories/legend/legend_size_knob.ts
Labels: enhancement, :legend, :all

#1407 refactor(wordcloud): cleanup config, types and theming (#1358)
  .eslintrc.js
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-wordcloud-alpha-simple-wordcloud-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/wordcloud-stories-test-ts-scales-stories-should-render-multiple-wordcloud-template-1-snap.png
  integration/tests/__image_snapshots__/wordcloud-stories-test-ts-scales-stories-should-render-right-angled-wordcloud-template-1-snap.png
  integration/tests/__image_snapshots__/wordcloud-stories-test-ts-scales-stories-should-render-single-wordcloud-template-1-snap.png
  integration/tests/__image_snapshots__/wordcloud-stories-test-ts-scales-stories-should-render-small-waves-wordcloud-template-1-snap.png
  integration/tests/__image_snapshots__/wordcloud-stories-test-ts-scales-stories-should-render-sparse-wordcloud-template-1-snap.png
  integration/tests/__image_snapshots__/wordcloud-stories-test-ts-scales-stories-should-render-square-words-wordcloud-template-1-snap.png
  integration/tests/wordcloud_stories.test.ts
  package.json
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/wordcloud/layout/config/config.ts
  packages/charts/src/chart_types/wordcloud/layout/types/config_types.ts
  packages/charts/src/chart_types/wordcloud/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/wordcloud/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/wordcloud/renderer/svg/connected_component.tsx
  packages/charts/src/chart_types/wordcloud/specs/index.ts
  packages/charts/src/chart_types/wordcloud/state/selectors/geometries.ts
  packages/charts/src/chart_types/wordcloud/state/selectors/scenegraph.ts
  storybook/stories/wordcloud/1_wordcloud.story.tsx
  yarn.lock
Labels: :styling, breaking change, :wordcloud, :theme

#1530 fix: export deprecated partition config types
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/partition_chart/layout/types/config.ts
  packages/charts/src/index.ts
Labels: :partition, typings, skip-newsletter

#1503 feat(heatmap): add axis titles
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-basic-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-categorical-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-theming-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-time-snap-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-time-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-should-maximize-the-label-font-size-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-should-maximize-the-label-with-an-unique-font-size-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-should-not-have-brush-tool-extend-into-axes-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-should-show-x-and-y-axis-titles-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-theme-dark-should-render-basic-heatmap-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-theme-dark-should-render-correct-brush-area-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-theme-eui-dark-should-render-basic-heatmap-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-theme-eui-dark-should-render-correct-brush-area-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-theme-eui-light-should-render-basic-heatmap-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-theme-eui-light-should-render-correct-brush-area-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-theme-light-should-render-basic-heatmap-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-theme-light-should-render-correct-brush-area-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-2-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-3-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-4-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-5-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-6-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-7-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-8-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-9-1-snap.png
  integration/tests/heatmap_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/heatmap/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/heatmap/layout/viewmodel/scenegraph.ts
  packages/charts/src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/heatmap/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/heatmap/renderer/canvas/connected_component.tsx
  packages/charts/src/chart_types/heatmap/renderer/dom/highlighter_brush.tsx
  packages/charts/src/chart_types/heatmap/specs/heatmap.ts
  packages/charts/src/chart_types/heatmap/state/chart_state.tsx
  packages/charts/src/chart_types/heatmap/state/selectors/compute_chart_dimensions.ts
  packages/charts/src/chart_types/heatmap/state/selectors/geometries.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_brush_area.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_grid_full_height.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_picked_cells.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_tooltip_anchor.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_x_axis_right_overflow.ts
  packages/charts/src/chart_types/heatmap/state/selectors/picked_shapes.ts
  packages/charts/src/mocks/specs/specs.ts
  packages/charts/src/utils/dimensions.ts
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.ts
  storybook/stories/heatmap/1_basic.story.tsx
  storybook/stories/heatmap/2_categorical.story.tsx
  storybook/stories/heatmap/4_test_time_snap.story.tsx
  storybook/stories/heatmap/5_theming.story.tsx
Labels: enhancement, :axis, :heatmap

#1488 docs: update bug template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: :docs

#1532 fix(heatmap): render empty state
  packages/charts/src/chart_types/heatmap/state/chart_state.tsx
  packages/charts/src/chart_types/heatmap/state/selectors/compute_legend.ts
  packages/charts/src/chart_types/heatmap/state/selectors/geometries.ts
  packages/charts/src/chart_types/heatmap/state/selectors/is_empty.ts
Labels: enhancement, :data, :heatmap

#1541 fix(flamegraph): solve animation regression
  packages/charts/src/chart_types/partition_chart/layout/types/config_types.ts
  packages/charts/src/chart_types/partition_chart/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/partition_chart/specs/index.ts
  packages/charts/src/mocks/specs/specs.ts
Labels: :interactions, :partition, :flamegraph

#1538 fix(waffle): fix strange 0 text in legend item extra when label is 0
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-waffle-alpha-test-visually-looks-correct-1-snap.png
  packages/charts/src/components/legend/utils.ts
  packages/charts/src/mocks/hierarchical/dimension_codes.ts
  storybook/stories/utils/utils.ts
  storybook/stories/waffle/2_test.story.tsx
  storybook/stories/waffle/waffle.stories.tsx
Labels: :legend, :partition
