Repository elastic/elastic-charts, pull requests merged in 2021-04, with the labels that each got.

#1091 fix(annotations): provide fallback for line annotation markers
  .playground/playground.tsx
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-test-cases-no-axes-annotation-bug-fix-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/test-cases-stories-test-ts-annotation-marker-rotation-should-render-marker-with-annotations-with-0-degree-rotations-1-snap.png
  integration/tests/__image_snapshots__/test-cases-stories-test-ts-annotation-marker-rotation-should-render-marker-with-annotations-with-180-degree-rotations-1-snap.png
  integration/tests/__image_snapshots__/test-cases-stories-test-ts-annotation-marker-rotation-should-render-marker-with-annotations-with-90-degree-rotations-1-snap.png
  integration/tests/__image_snapshots__/test-cases-stories-test-ts-annotation-marker-rotation-should-render-marker-with-annotations-with-negative-90-degree-rotations-1-snap.png
  integration/tests/accessibility.test.ts
  integration/tests/test_cases_stories.test.ts
  package.json
  src/chart_types/xy_chart/annotations/line/dimensions.ts
  stories/annotations/rects/2_ordinal_bar_chart.tsx
  stories/test_cases/3_no_axes_annotation.tsx
  stories/test_cases/test_cases.stories.tsx
  yarn.lock
Labels: :annotation

#1103 ci: fix release push to protected branches
  .github/workflows/auto_release.yaml
Labels: :ci

#1106 feat(partitions): small multipies events pass on smAccessorValue
  api/charts.api.md
  src/chart_types/goal_chart/state/selectors/picked_shapes.ts
  src/chart_types/partition_chart/layout/types/viewmodel_types.ts
  src/chart_types/partition_chart/layout/viewmodel/picked_shapes.ts
  src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  src/chart_types/partition_chart/renderer/canvas/partition.tsx
  src/chart_types/partition_chart/state/selectors/geometries.ts
  src/chart_types/partition_chart/state/selectors/picked_shapes.test.ts
  src/chart_types/partition_chart/state/selectors/tree.ts
  src/chart_types/wordcloud/state/selectors/picked_shapes.ts
  src/specs/group_by.ts
  src/specs/settings.tsx
  stories/interactions/4_sunburst_slice_clicks.tsx
  stories/small_multiples/7_sunbursts.tsx
Labels: :partition, :small multiples

#1109 fix(xy): negative highlight and click
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-interactions-bar-clicks-and-hovers-visually-looks-correct-1-snap.png
  src/chart_types/xy_chart/rendering/bars.ts
  src/chart_types/xy_chart/rendering/rendering.bars.test.ts
  src/chart_types/xy_chart/state/chart_state.interactions.test.ts
  stories/interactions/1_bar_clicks.tsx
Labels: :interactions, :xy, bug

#1112 feat(partition): order slices and sectors
  api/charts.api.md
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-ordered-slices-visually-looks-correct-1-snap.png
  src/chart_types/partition_chart/layout/utils/group_by_rollup.ts
  src/chart_types/partition_chart/layout/utils/treemap.ts
  src/chart_types/partition_chart/layout/viewmodel/hierarchy_of_arrays.test.ts
  src/chart_types/partition_chart/layout/viewmodel/hierarchy_of_arrays.ts
  src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  src/chart_types/partition_chart/specs/index.ts
  src/index.ts
  src/utils/accessor.ts
  src/utils/common.ts
  stories/sunburst/33_ordered_slices.tsx
  stories/sunburst/sunburst.stories.tsx
  stories/utils/utils.ts
Labels: :partition, enhancement

#1104 feat(a11y): improve chart figure
  .playground/playground.tsx
  integration/tests/accessibility.test.ts
  src/chart_types/xy_chart/renderer/canvas/xy_chart.tsx
  src/chart_types/xy_chart/renderer/dom/_index.scss
  src/chart_types/xy_chart/renderer/dom/_screen_reader.scss
  src/chart_types/xy_chart/state/selectors/get_series_types.ts
  src/components/__snapshots__/chart.test.tsx.snap
Labels: :accessibility, :xy

#1113 feat: mosaic plot
  api/charts.api.md
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-mosaic-alpha-other-slices-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-mosaic-alpha-simple-mosaic-visually-looks-correct-1-snap.png
  src/chart_types/partition_chart/layout/types/config_types.ts
  src/chart_types/partition_chart/layout/viewmodel/hierarchy_of_arrays.ts
  src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  src/chart_types/partition_chart/renderer/dom/highlighter.tsx
  stories/mosaic/10_mosaic_simple.tsx
  stories/mosaic/20_mosaic_with_other.tsx
  stories/mosaic/mosaic.stories.tsx
Labels: :new chart type, :partition

#1087 feat: nice ticks everywhere
  api/charts.api.md
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-axes-custom-domain-visually-looks-correct-1-snap.png
  src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  src/chart_types/heatmap/specs/heatmap.ts
  src/chart_types/heatmap/specs/scale_defaults.ts
  src/chart_types/heatmap/state/selectors/get_heatmap_table.ts
  src/chart_types/heatmap/state/selectors/get_x_axis_right_overflow.ts
  src/chart_types/xy_chart/crosshair/crosshair_utils.linear_snap.test.ts
  src/chart_types/xy_chart/crosshair/crosshair_utils.ordinal_snap.test.ts
  src/chart_types/xy_chart/domains/nice.ts
  src/chart_types/xy_chart/domains/types.ts
  src/chart_types/xy_chart/domains/x_domain.test.ts
  src/chart_types/xy_chart/domains/x_domain.ts
  src/chart_types/xy_chart/domains/y_domain.test.ts
  src/chart_types/xy_chart/domains/y_domain.ts
  src/chart_types/xy_chart/legend/legend.ts
  src/chart_types/xy_chart/rendering/rendering.lines.test.ts
  src/chart_types/xy_chart/scales/get_api_scales.ts
  src/chart_types/xy_chart/scales/scale_defaults.ts
  src/chart_types/xy_chart/state/selectors/compute_series_domains.ts
  src/chart_types/xy_chart/state/selectors/get_api_scale_configs.ts
  src/chart_types/xy_chart/state/selectors/merge_y_custom_domains.ts
  src/chart_types/xy_chart/state/utils/utils.test.ts
  src/chart_types/xy_chart/state/utils/utils.ts
  src/chart_types/xy_chart/utils/axis_utils.test.ts
  src/chart_types/xy_chart/utils/axis_utils.ts
  src/chart_types/xy_chart/utils/scales.test.ts
  src/chart_types/xy_chart/utils/scales.ts
  src/chart_types/xy_chart/utils/series.ts
  src/chart_types/xy_chart/utils/specs.ts
  src/mocks/xy/domains.ts
  src/scales/scale_continuous.test.ts
  src/scales/scale_continuous.ts
  src/scales/scales.test.ts
  stories/axes/8_custom_domain.tsx
  stories/line/2_w_axis.tsx
Labels: :axis, enhancement

#1115 fix(legend): sizing for short labels with scrollbar
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-test-cases-legend-scroll-bar-sizing-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-mid-two-layers-visually-looks-correct-1-snap.png
  src/state/selectors/get_legend_size.ts
  stories/test_cases/5_legend_scroll_bar_sizing.tsx
  stories/test_cases/test_cases.stories.tsx
Labels: :legend, bug

#1111 feat(a11y): allow user to pass custom description for screen readers
  api/charts.api.md
  integration/page_objects/common.ts
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-test-cases-add-custom-description-visually-looks-correct-1-snap.png
  src/chart_types/xy_chart/renderer/canvas/xy_chart.tsx
  src/chart_types/xy_chart/state/chart_state.a11y.test.ts
  src/components/__snapshots__/chart.test.tsx.snap
  src/specs/constants.ts
  src/specs/settings.tsx
  stories/test_cases/6_a11y_custom_description.tsx
  stories/test_cases/test_cases.stories.tsx
Labels: :accessibility, :xy

#1119 fix(xy): consider `useDefaultGroupDomain` on scale config
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bar-chart-test-use-default-group-domain-visually-looks-correct-1-snap.png
  src/chart_types/xy_chart/state/selectors/get_api_scale_configs.test.ts
  src/chart_types/xy_chart/state/selectors/get_api_scale_configs.ts
  stories/bar/56_test_use_dfl_gdomain.tsx
  stories/bar/bars.stories.tsx
Labels: :data, bug, regression

#1117 feat: add debug state for partition charts
  api/charts.api.md
  src/chart_types/partition_chart/state/chart_state.tsx
  src/chart_types/partition_chart/state/selectors/get_debug_state.test.ts
  src/chart_types/partition_chart/state/selectors/get_debug_state.ts
  src/components/chart_status.tsx
  src/state/types.ts
  stories/sunburst/10_2_slice.tsx
  stories/treemap/1_one_layer.tsx
Labels: :partition, enhancement

#1126 fix(xy): negative bar highlight and click (#1109) [25.0.x]
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-interactions-bar-clicks-and-hovers-visually-looks-correct-1-snap.png
  src/chart_types/xy_chart/rendering/bars.ts
  src/chart_types/xy_chart/rendering/rendering.bars.test.ts
  src/chart_types/xy_chart/state/chart_state.interactions.test.ts
  stories/interactions/1_bar_clicks.tsx
Labels: backport

#1130 ci: fix flaky loading on visual test runner
  .eslintignore
  .eslintrc.js
  .storybook-docs/tsconfig.json
  .storybook/tsconfig.json
  global.d.ts
  integration/helpers.ts
  integration/page_objects/common.ts
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-legend-actions-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-render-color-picker-on-mouse-click-1-snap.png
  integration/tests/all.test.ts
  integration/tests/area_stories.test.ts
  integration/tests/legend_stories.test.ts
  integration/tests/test_cases_stories.test.ts
  package.json
  playground/index.html
  playground/index.tsx
  playground/playground.tsx
  playground/tsconfig.json
  playground/webpack.config.js
  src/mocks/utils.ts
  stories/interactions/14_crosshair_time.tsx
  stories/legend/13_inside_chart.tsx
  stories/mixed/6_fitting_stacked.tsx
  stories/stylings/22_dark_theme.tsx
  stories/stylings/4_theme_styling.tsx
  storybook-docs/addons.ts
  storybook-docs/config.ts
  storybook-docs/preview-head.html
  storybook-docs/style.scss
  storybook-docs/theme_service.ts
  storybook-docs/tsconfig.json
  storybook-docs/webpack.config.js
  storybook/addons.ts
  storybook/config.ts
  storybook/preload_icons.ts
  storybook/preview-head.html
  storybook/style.scss
  storybook/theme_service.ts
  storybook/tsconfig.json
  storybook/webpack.config.js
  tsconfig.json
  tsconfig.lib-check.json
  tsconfig.lib-nocomments.json
  tsconfig.lib.json
  tsconfig.lint.json
Labels: :ci

#1133 ci: remove unnecessary jobs
  .ci/jobs/elastic+elastic-charts+pr-lint.yml
  .ci/jobs/elastic+elastic-charts+pr-unit-tests.yml
  .ci/jobs/elastic+elastic-charts+pull-request.yml
  .ci/lint.sh
  .ci/unit_tests.sh
Labels: :ci

#1131 fix(interaction): remove unnecessary elements
  src/chart_types/xy_chart/renderer/dom/_crosshair.scss
  src/chart_types/xy_chart/renderer/dom/crosshair.tsx
  src/components/__snapshots__/chart.test.tsx.snap
  src/components/tooltip/tooltip.tsx
Labels: :interactions, :tooltip, :xy, enhancement

#1132 fix(partition): fix safari highlight bug on single slice
  src/chart_types/partition_chart/renderer/dom/highlighter.tsx
Labels: :partition, bug

#1136 build: fix types in vscode tsconfigs
  global.d.ts
  integration/tsconfig.json
  playground/tsconfig.json
  storybook/tsconfig.json
  tsconfig.json
Labels: :build

#1134 fix(legend): disable handleLabelClick for one legend item
  integration/tests/accessibility.test.ts
  src/components/__snapshots__/chart.test.tsx.snap
  src/components/legend/legend.test.tsx
  src/components/legend/legend_item.tsx
Labels: :interactions, :legend
