Repository elastic/elastic-charts, pull requests merged in 2021-03, with the labels that each got.

#1049 fix(tooltip): allow explicit boundary element
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bar-chart-tooltip-boundary-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltips-boundary-chart-should-contain-tooltip-inside-boundary-near-bottom-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltips-boundary-chart-should-contain-tooltip-inside-boundary-near-top-1-snap.png
  integration/tests/interactions.test.ts
  src/chart_types/xy_chart/renderer/dom/annotations/annotation_tooltip.tsx
  src/components/tooltip/tooltip.tsx
  stories/bar/55_tooltip_boundary.tsx
  stories/bar/bars.stories.tsx
  stories/utils/knobs.ts
Labels: :tooltip, bug

#1037 fix: clippedRanges when complete dataset is null
  src/chart_types/xy_chart/rendering/utils.ts
Labels: :styling, bug

#1056 fix(tooltip): allow explicit boundary element (#1049) [25.0.x]
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bar-chart-tooltip-boundary-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltips-boundary-chart-should-contain-tooltip-inside-boundary-near-bottom-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltips-boundary-chart-should-contain-tooltip-inside-boundary-near-top-1-snap.png
  integration/tests/interactions.test.ts
  src/chart_types/xy_chart/renderer/dom/annotations/annotation_tooltip.tsx
  src/components/tooltip/tooltip.tsx
  stories/bar/55_tooltip_boundary.tsx
  stories/bar/bars.stories.tsx
  stories/utils/knobs.ts
Labels: backport

#1065 fix(tooltip): add boundary padding
  api/charts.api.md
  src/components/portal/tooltip_portal.tsx
  src/components/portal/types.ts
  src/index.ts
  stories/bar/55_tooltip_boundary.tsx
Labels: :tooltip, enhancement, kibana cross issue

#1068 fix(tooltip): add boundary padding (#1065) [25.0.x]
  api/charts.api.md
  src/components/portal/tooltip_portal.tsx
  src/components/portal/types.ts
  src/index.ts
  stories/bar/55_tooltip_boundary.tsx
Labels: backport

#976 feat: debug state for the heatmap chart
  api/charts.api.md
  package.json
  src/chart_types/heatmap/specs/heatmap.ts
  src/chart_types/heatmap/state/chart_state.tsx
  src/chart_types/heatmap/state/selectors/get_debug_state.ts
  src/chart_types/heatmap/state/selectors/get_highlighted_area.ts
  src/state/types.ts
  stories/heatmap/1_basic.tsx
Labels: :heatmap

#1071 fix(brush): force brush tool per panel
  src/chart_types/xy_chart/state/selectors/get_brush_area.test.ts
  src/chart_types/xy_chart/state/selectors/get_brush_area.ts
  src/chart_types/xy_chart/state/selectors/on_brush_end_caller.ts
  src/mocks/specs/specs.ts
  stories/interactions/9a_brush_selection_linear.tsx
  stories/small_multiples/1_grid.tsx
  stories/small_multiples/2_vertical_areas.tsx
  stories/small_multiples/3_grid_lines.tsx
Labels: :small multiples, :xy, bug

#1073 fix(brush): force brush tool per panel (#1071) [25.0.x]
  src/chart_types/xy_chart/state/selectors/get_brush_area.test.ts
  src/chart_types/xy_chart/state/selectors/get_brush_area.ts
  src/chart_types/xy_chart/state/selectors/on_brush_end_caller.ts
  src/mocks/specs/specs.ts
  src/utils/common.ts
  stories/interactions/9a_brush_selection_linear.tsx
  stories/small_multiples/1_grid.tsx
  stories/small_multiples/2_vertical_areas.tsx
  stories/small_multiples/3_grid_lines.tsx
Labels: backport

#1078 test(partition): remove mock items with non-positive values or no names
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-flame-alpha-cpu-profile-flame-chart-visually-looks-correct-1-snap.png
  src/mocks/hierarchical/cpu_profile_tree_mock.json
Labels: :partition

#1079 test(partition): dictionary encoding and prop elimination
  src/mocks/hierarchical/cpu_profile_tree_mock.json
  stories/icicle/03_cpu_profile_flame.tsx
Labels: :partition

#1082 feat(tooltip): expose datum in the TooltipValue
  api/charts.api.md
  src/chart_types/goal_chart/state/selectors/tooltip.ts
  src/chart_types/heatmap/state/selectors/tooltip.ts
  src/chart_types/partition_chart/layout/viewmodel/tooltip_info.ts
  src/chart_types/xy_chart/tooltip/tooltip.ts
  src/index.ts
  src/specs/settings.tsx
  src/utils/common.ts
Labels: :tooltip, enhancement

#1076 feat(partition): small multiples
  .eslintrc.js
  .playground/playground.tsx
  api/charts.api.md
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-small-multiples-alpha-sunbursts-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-donut-chart-with-fill-labels-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-sunburst-some-zero-value-slice-visually-looks-correct-1-snap.png
  src/chart_types/goal_chart/state/selectors/geometries.ts
  src/chart_types/goal_chart/state/selectors/picked_shapes.ts
  src/chart_types/goal_chart/state/selectors/tooltip.ts
  src/chart_types/heatmap/specs/heatmap.ts
  src/chart_types/heatmap/state/selectors/get_heatmap_spec.ts
  src/chart_types/heatmap/state/selectors/get_heatmap_table.ts
  src/chart_types/partition_chart/layout/types/config_types.ts
  src/chart_types/partition_chart/layout/types/viewmodel_types.ts
  src/chart_types/partition_chart/layout/viewmodel/picked_shapes.ts
  src/chart_types/partition_chart/layout/viewmodel/scenegraph.ts
  src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  src/chart_types/partition_chart/renderer/canvas/canvas_linear_renderers.ts
  src/chart_types/partition_chart/renderer/canvas/canvas_renderers.ts
  src/chart_types/partition_chart/renderer/canvas/partition.tsx
  src/chart_types/partition_chart/renderer/dom/highlighter.tsx
  src/chart_types/partition_chart/renderer/dom/highlighter_hover.tsx
  src/chart_types/partition_chart/renderer/dom/highlighter_legend.tsx
  src/chart_types/partition_chart/specs/index.ts
  src/chart_types/partition_chart/state/selectors/compute_legend.ts
  src/chart_types/partition_chart/state/selectors/drilldown_active.ts
  src/chart_types/partition_chart/state/selectors/geometries.ts
  src/chart_types/partition_chart/state/selectors/get_highlighted_shapes.ts
  src/chart_types/partition_chart/state/selectors/get_legend_items_extra.ts
  src/chart_types/partition_chart/state/selectors/get_legend_items_labels.ts
  src/chart_types/partition_chart/state/selectors/get_partition_specs.ts
  src/chart_types/partition_chart/state/selectors/partition_spec.ts
  src/chart_types/partition_chart/state/selectors/picked_shapes.ts
  src/chart_types/partition_chart/state/selectors/tooltip.ts
  src/chart_types/partition_chart/state/selectors/tree.ts
  src/chart_types/xy_chart/state/selectors/compute_chart_dimensions.ts
  src/chart_types/xy_chart/state/selectors/compute_small_multiple_scales.ts
  src/chart_types/xy_chart/state/selectors/get_specs.ts
  src/chart_types/xy_chart/state/utils/utils.ts
  src/chart_types/xy_chart/utils/dimensions.ts
  src/common/geometry.ts
  src/common/predicate.ts
  src/index.ts
  src/mocks/specs/specs.ts
  src/scales/scale_band.ts
  src/specs/group_by.ts
  src/specs/small_multiples.ts
  src/state/selectors/get_settings_specs.ts
  src/state/selectors/get_small_multiples_spec.ts
  stories/small_multiples/2_vertical_areas.tsx
  stories/small_multiples/3_grid_lines.tsx
  stories/small_multiples/7_sunbursts.tsx
  stories/small_multiples/small_multiples.stories.tsx
Labels: :partition, :small multiples

#1088 chore: always use offset with flip modifier
  src/components/portal/tooltip_portal.tsx
Labels: chore

#1089 chore(wordcloud): improvements
  api/charts.api.md
  src/chart_types/wordcloud/layout/types/viewmodel_types.ts
  src/chart_types/wordcloud/layout/viewmodel/viewmodel.ts
  src/chart_types/wordcloud/renderer/svg/connected_component.tsx
  src/chart_types/wordcloud/specs/index.ts
  src/chart_types/wordcloud/state/chart_state.tsx
  stories/wordcloud/1_wordcloud.tsx
Labels: :wordcloud

#1090 chore: use LF as new line configuration on API-extractor
  .prettierrc.json
  api-extractor.json
Labels: :docs, chore

#1086 chore: remove IE11 smoke test code
  .github/workflows/smoke_tests.yaml.disabled
  browsers/browsers.test.ts
  browsers/jest.config.js
  browsers/setup.js
  browsers/teardown.js
  package.json
  yarn.lock
Labels: chore

#1092 chore(wordcloud): remove tooltip
  src/chart_types/wordcloud/state/chart_state.tsx
  src/chart_types/wordcloud/state/selectors/is_tooltip_visible.ts
  src/chart_types/wordcloud/state/selectors/tooltip.ts
Labels: :wordcloud

#1094 feat(partitions): Small multiples legends
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-flame-alpha-flame-chart-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-flame-alpha-icicle-chart-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-legend-piechart-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-small-multiples-alpha-sunbursts-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-extra-values-should-display-flat-legend-extra-values-on-sunburst-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-extra-values-should-display-flat-legend-extra-values-on-treemap-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-have-the-same-order-as-nested-with-no-indent-even-if-there-are-repeated-labels-1-snap.png
  src/chart_types/partition_chart/layout/types/viewmodel_types.ts
  src/chart_types/partition_chart/layout/utils/highlighted_geoms.ts
  src/chart_types/partition_chart/layout/utils/legend.ts
  src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  src/chart_types/partition_chart/renderer/dom/highlighter.tsx
  src/chart_types/partition_chart/renderer/dom/highlighter_hover.tsx
  src/chart_types/partition_chart/renderer/dom/highlighter_legend.tsx
  src/chart_types/partition_chart/state/selectors/geometries.ts
  src/chart_types/partition_chart/state/selectors/get_highlighted_shapes.ts
  src/specs/settings.tsx
  stories/legend/10_sunburst_repeated_label.tsx
  stories/small_multiples/7_sunbursts.tsx
Labels: :partition, :small multiples
