Repository elastic/elastic-charts, pull requests merged in 2021-09, with the labels that each got.

#1353 build: update webpack server to v4
  integration/server/webpack.config.js
  package.json
  yarn.lock
Labels: :build

#1351 fix(heatmap): filter out tooltip picked shapes in x-axis area
  packages/charts/src/chart_types/heatmap/state/selectors/picked_shapes.ts
  storybook/stories/heatmap/2_categorical.story.tsx
Labels: bug, :heatmap

#1360 ci: disable local puppeteer download
  .ci/global_setup.sh
  .github/workflows/api_extractor_check.yaml
  .github/workflows/auto_release.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/unit_test.yaml
Labels: :ci

#1361 test: fix flaky test with multi-chart interaction tooltip
  integration/page_objects/common.ts
  integration/tests/interactions.test.ts
Labels: :test, wip

#1362 fix(build): fix license in package.json
  package.json
Labels: :build

#1363 test: add timezone vrts
  integration/tests/__image_snapshots__/timezone-test-ts-time-zone-utc-minus-8-1-snap.png
  integration/tests/__image_snapshots__/timezone-test-ts-time-zone-utc-plus-8-1-snap.png
  integration/tests/timezone.test.ts
Labels: enhancement, :test, visual testing

#1352 feat(heatmap): reduce font size to fit label within cells
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-categorical-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-should-maximize-the-label-font-size-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-should-maximize-the-label-with-an-unique-font-size-1-snap.png
  integration/tests/heatmap_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/heatmap/layout/config/config.ts
  packages/charts/src/chart_types/heatmap/layout/types/config_types.ts
  packages/charts/src/chart_types/heatmap/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/heatmap/renderer/canvas/canvas_renderers.ts
  packages/charts/src/common/text_utils.ts
  packages/charts/src/index.ts
  storybook/main.js
  storybook/stories/heatmap/2_categorical.story.tsx
Labels: bug, :styling, :heatmap

#1326 feat(xy): mutilayer time axis step 1
  integration/server/webpack.config.js
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-area-chart-timeslip-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-scales-remove-duplicate-axis-visually-looks-correct-1-snap.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/goal_chart/layout/viewmodel/geoms.ts
  packages/charts/src/chart_types/goal_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/tree.ts
  packages/charts/src/chart_types/xy_chart/annotations/tooltip.ts
  packages/charts/src/chart_types/xy_chart/axes/axes_sizes.ts
  packages/charts/src/chart_types/xy_chart/domains/x_domain.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/axes/index.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/axes/tick_label.ts
  packages/charts/src/chart_types/xy_chart/state/chart_state.interactions.test.tsx
  packages/charts/src/chart_types/xy_chart/state/chart_state.test.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/compute_axis_ticks_dimensions.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/merge_y_custom_domains.ts
  packages/charts/src/chart_types/xy_chart/state/utils/spec.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.test.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.ts
  packages/charts/src/chart_types/xy_chart/utils/dimensions.test.ts
  packages/charts/src/chart_types/xy_chart/utils/dimensions.ts
  packages/charts/src/chart_types/xy_chart/utils/series.ts
  packages/charts/src/common/color_calcs.ts
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/specs/constants.ts
  packages/charts/src/specs/settings.test.tsx
  packages/charts/src/specs/settings.tsx
  packages/charts/src/state/selectors/is_external_tooltip_visible.ts
  public/fonts/atkinson-hyperlegible-v1-latin-700.woff
  public/fonts/atkinson-hyperlegible-v1-latin-700.woff2
  public/fonts/atkinson-hyperlegible-v1-latin-regular.woff
  public/fonts/atkinson-hyperlegible-v1-latin-regular.woff2
  storybook/stories/area/21_with_time_timeslip.story.tsx
  storybook/stories/area/area.stories.tsx
  storybook/stories/axes/12_duplicate_ticks.story.tsx
  storybook/stories/axes/13_label_formatting.story.tsx
  storybook/stories/interactions/11_brush_time.story.tsx
  storybook/stories/scales/5_remove_duplicates.story.tsx
  storybook/stories/scales/scales.stories.tsx
  storybook/style.scss
Labels: enhancement, :axis, :xy, code quality, :refactor

#1342 feat(heatmap): add text color contrast to heatmap cells
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-categorical-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-text-color-contrast-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-should-allow-text-color-contrast-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-should-maximize-the-label-with-an-unique-font-size-1-snap.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/heatmap/layout/config/config.ts
  packages/charts/src/chart_types/heatmap/layout/types/config_types.ts
  packages/charts/src/chart_types/heatmap/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/heatmap/renderer/canvas/canvas_renderers.ts
  packages/charts/src/chart_types/heatmap/state/selectors/geometries.ts
  packages/charts/src/chart_types/heatmap/state/selectors/scenegraph.ts
  packages/charts/src/common/color_calcs.ts
  packages/charts/src/common/color_library_wrappers.ts
  packages/charts/src/common/fill_text_color.ts
Labels: bug, wip, :styling, :heatmap

#1366 ci: remove EUI initialization
  integration/server/generate/vrt_page_template.js
  integration/server/mocks/use_global_parameters.ts
  integration/server/webpack.config.js
  integration/server/webpack.tsconfig.json
  package.json
  yarn.lock
Labels: visual testing, :ci

#1358 refactor: cleanup wordcloud config, types and theming
  .eslintrc.js
  integration/tests/__image_snapshots__/wordcloud-stories-test-ts-scales-stories-should-render-multiple-wordcloud-template-1-snap.png
  integration/tests/__image_snapshots__/wordcloud-stories-test-ts-scales-stories-should-render-right-angled-wordcloud-template-1-snap.png
  integration/tests/__image_snapshots__/wordcloud-stories-test-ts-scales-stories-should-render-single-wordcloud-template-1-snap.png
  integration/tests/__image_snapshots__/wordcloud-stories-test-ts-scales-stories-should-render-small-waves-wordcloud-template-1-snap.png
  integration/tests/__image_snapshots__/wordcloud-stories-test-ts-scales-stories-should-render-sparse-wordcloud-template-1-snap.png
  integration/tests/__image_snapshots__/wordcloud-stories-test-ts-scales-stories-should-render-square-words-wordcloud-template-1-snap.png
  integration/tests/wordcloud_stories.test.ts
  package.json
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/wordcloud/layout/config/config.ts
  packages/charts/src/chart_types/wordcloud/layout/types/config_types.ts
  packages/charts/src/chart_types/wordcloud/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/wordcloud/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/wordcloud/renderer/svg/connected_component.tsx
  packages/charts/src/chart_types/wordcloud/specs/index.ts
  packages/charts/src/chart_types/wordcloud/state/selectors/geometries.ts
  packages/charts/src/chart_types/wordcloud/state/selectors/scenegraph.ts
  packages/charts/src/index.ts
  storybook/stories/wordcloud/1_wordcloud.story.tsx
  storybook/style.scss
  yarn.lock
Labels: :wordcloud, :refactor

#1367 build(deps): update canvas to 2.8.0
  integration/jest.config.js
  package.json
  packages/charts/src/chart_types/xy_chart/renderer/canvas/styles/area.test.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/styles/bar.test.ts
  yarn.lock
Labels: dependencies, :build, skip-newsletter

#1381 test(xy): scale type improvements
  packages/charts/src/chart_types/xy_chart/annotations/line/dimensions.ts
  packages/charts/src/chart_types/xy_chart/annotations/rect/dimensions.ts
  packages/charts/src/chart_types/xy_chart/annotations/utils.ts
  packages/charts/src/chart_types/xy_chart/crosshair/crosshair_utils.ts
  packages/charts/src/chart_types/xy_chart/rendering/area.ts
  packages/charts/src/chart_types/xy_chart/rendering/bars.ts
  packages/charts/src/chart_types/xy_chart/rendering/bubble.ts
  packages/charts/src/chart_types/xy_chart/rendering/line.ts
  packages/charts/src/chart_types/xy_chart/rendering/points.ts
  packages/charts/src/chart_types/xy_chart/rendering/utils.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/compute_annotations.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/compute_small_multiple_scales.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_cursor_band.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_projected_pointer_position.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/is_tooltip_snap_enabled.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/on_brush_end_caller.ts
  packages/charts/src/chart_types/xy_chart/state/utils/types.ts
  packages/charts/src/chart_types/xy_chart/state/utils/utils.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.test.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.ts
  packages/charts/src/chart_types/xy_chart/utils/scales.ts
  packages/charts/src/mocks/scale/scale.ts
  packages/charts/src/scales/index.ts
  packages/charts/src/scales/scale_band.test.ts
  packages/charts/src/scales/scale_band.ts
  packages/charts/src/scales/scale_continuous.ts
  packages/charts/src/scales/types.ts
  packages/charts/src/utils/events.ts
Labels: :test, :data, :xy, code quality, :refactor

#1391 docs(playground): fix webpack config
  package.json
  playground/playground.tsx
  playground/webpack.config.js
Labels: :docs, skip-newsletter

#1398 docs(storybook): fix hot reloading
  storybook/main.js
Labels: :docs, skip-newsletter

#1405 ci: add back puppeteer skip download flag
  .ci/global_setup.sh
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: :ci, skip-newsletter
