Repository elastic/elastic-charts, pull requests merged in 2021-11, with the labels that each got.

#1448 fix(xy): adding missing last tick and other tick improvements
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-area-chart-timeslip-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-can-render-multilayer-time-axis-on-top-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-can-show-a-finer-raster-than-the-data-bin-width-if-min-interval-is-expressly-specified-to-be-low-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-should-have-st-nd-rd-th-after-day-of-month-numbers-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-should-have-st-nd-rd-th-after-day-of-month-numbers-even-for-the-20-s-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-should-not-show-a-raster-that-is-finer-than-the-bin-width-min-interval-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-theme-dark-should-switch-to-a-30-minute-raster-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-theme-eui-dark-should-switch-to-a-30-minute-raster-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-theme-eui-light-should-switch-to-a-30-minute-raster-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-theme-light-should-switch-to-a-30-minute-raster-1-snap.png
  packages/charts/src/chart_types/xy_chart/renderer/canvas/axes/tick.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/visible_ticks.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.test.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.ts
  packages/charts/src/chart_types/xy_chart/utils/grid_lines.ts
Labels: bug, :axis, :xy

#1452 fix(theme): merge partial with empty initial partial
  packages/charts/api/charts.api.md
  packages/charts/src/state/selectors/get_chart_theme.ts
  packages/charts/src/utils/common.test.ts
  packages/charts/src/utils/common.ts
  packages/charts/src/utils/themes/merge_utils.ts
Labels: :styling, :all, :theme

#1454 fix(theme): merge partial with empty initial partial (#1452) [38.0.x]
  packages/charts/api/charts.api.md
  packages/charts/src/state/selectors/get_chart_theme.ts
  packages/charts/src/utils/common.test.ts
  packages/charts/src/utils/common.ts
  packages/charts/src/utils/themes/merge_utils.ts
Labels: backport

#1453 fix(interactions): line cursor above the chart, band cursor below
  packages/charts/src/chart_types/xy_chart/renderer/dom/cursor_band.tsx
  packages/charts/src/chart_types/xy_chart/renderer/dom/cursor_crossline.tsx
  packages/charts/src/chart_types/xy_chart/renderer/dom/cursor_line.tsx
  packages/charts/src/chart_types/xy_chart/state/chart_state.tsx
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
Labels: bug, kibana cross issue, :interactions, :xy

#1457 fix(interactions): line cursor above the chart, band cursor below (#1453) [38.0.x]
  packages/charts/src/chart_types/xy_chart/renderer/dom/cursor_band.tsx
  packages/charts/src/chart_types/xy_chart/renderer/dom/cursor_crossline.tsx
  packages/charts/src/chart_types/xy_chart/renderer/dom/cursor_line.tsx
  packages/charts/src/chart_types/xy_chart/state/chart_state.tsx
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
Labels: backport

#1458 fix(legend): legend breaking on words
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-break-multiline-legends-with-long-url-characters-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-breakup-multiline-legend-labels-with-long-continous-words-1-snap.png
  integration/tests/legend_stories.test.ts
  packages/charts/src/components/_mixins.scss
  packages/charts/src/components/legend/_legend_item.scss
  packages/charts/src/components/tooltip/_tooltip.scss
  storybook/stories/legend/13_inside_chart.story.tsx
Labels: bug, :legend, :styling, :all

#1464 fix(xy): handle zero-length time domains
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-area-chart-timeslip-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-can-show-a-finer-raster-than-the-data-bin-width-if-min-interval-is-expressly-specified-to-be-low-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-renders-multilayer-time-axis-with-a-single-point-and-a-degenerate-zero-width-domain-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-renders-multilayer-time-axis-with-a-single-point-and-an-arbitrary-non-degenerate-domain-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-should-extend-the-domain-on-the-right-with-one-bin-width-with-custom-bin-width-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-should-extend-the-domain-on-the-right-with-one-bin-width-without-custom-bin-width-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-should-not-show-a-raster-that-is-finer-than-the-bin-width-min-interval-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-theme-dark-should-switch-to-a-30-minute-raster-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-theme-eui-dark-should-switch-to-a-30-minute-raster-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-theme-eui-light-should-switch-to-a-30-minute-raster-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-theme-light-should-switch-to-a-30-minute-raster-1-snap.png
  integration/tests/axis_stories.test.ts
  packages/charts/src/chart_types/xy_chart/axes/timeslip/rasters.ts
  packages/charts/src/chart_types/xy_chart/domains/types.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/visible_ticks.ts
  storybook/stories/bar/44_test_single_histogram.story.tsx
Labels: bug, :axis, :xy

#1470 fix(legend): legend breaking on words (#1458) [38.0.x]
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-break-multiline-legends-with-long-url-characters-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-breakup-multiline-legend-labels-with-long-continous-words-1-snap.png
  integration/tests/legend_stories.test.ts
  packages/charts/src/components/_mixins.scss
  packages/charts/src/components/legend/_legend_item.scss
  packages/charts/src/components/tooltip/_tooltip.scss
Labels: backport

#1462 fix(heatmap): snap time bucket to calendar/fixed intervals
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-time-snap-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-2-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-3-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-4-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-5-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-6-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-7-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-8-1-snap.png
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-time-snap-with-dataset-9-1-snap.png
  integration/tests/heatmap_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/heatmap/specs/heatmap.ts
  packages/charts/src/chart_types/heatmap/state/selectors/compute_chart_dimensions.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_brushed_highlighted_shapes.test.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_heatmap_table.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_picked_cells.test.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_x_axis_right_overflow.ts
  packages/charts/src/chart_types/specs.ts
  packages/charts/src/index.ts
  packages/charts/src/mocks/specs/specs.ts
  packages/charts/src/utils/chrono/chrono.ts
  packages/charts/src/utils/chrono/elasticsearch.test.ts
  packages/charts/src/utils/chrono/elasticsearch.ts
  packages/charts/src/utils/chrono/moment.ts
  packages/charts/src/utils/data_samples/test_anomaly_swim_lane.ts
  packages/charts/src/utils/data_samples/test_dataset_heatmap.ts
  storybook/stories/heatmap/1_basic.story.tsx
  storybook/stories/heatmap/3_time.story.tsx
  storybook/stories/heatmap/4_test_time_snap.story.tsx
  storybook/stories/heatmap/heatmap.stories.tsx
Labels: bug, :axis, :data, breaking change, :heatmap

#1471 build: disable commenting on successfully release PRs
  .releaserc.js
Labels: :build, skip-ci

#1476 refactor(xy): multilayer time axis modularization
  packages/charts/src/chart_types/xy_chart/axes/timeslip/multilayer_ticks.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/visible_ticks.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.test.ts
Labels: :axis, :xy, code quality, :refactor

#1482 fix: align axis tick formatter logic
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-area-chart-stepped-area-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltip-formatting-should-use-default-tick-formatter-with-no-axis-tick-formatter-nor-header-formatter-1-snap.png
  packages/charts/src/chart_types/xy_chart/axes/timeslip/multilayer_ticks.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/axes/tick_label.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/utils/has_mostly_rtl.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/axis_tick_formatter.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/compute_axis_ticks_dimensions.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/visible_ticks.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.test.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.ts
Labels: bug, :axis, :xy, :refactor

#1434 feat(annotations): add annotations to DebugState
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/state/__snapshots__/chart_state.debug.test.ts.snap
  packages/charts/src/chart_types/xy_chart/state/selectors/get_debug_state.ts
  packages/charts/src/components/chart_status.tsx
  packages/charts/src/index.ts
  packages/charts/src/state/types.ts
  storybook/stories/annotations/lines/3_x_time.story.tsx
  storybook/stories/annotations/rects/9_click_handler.story.tsx
  storybook/stories/debug/2_debug_state.story.tsx
  storybook/stories/utils/debug_state_logger.ts
Labels: enhancement, :chart, :annotation

#1431 fix(interactions): remove the option for pixelRatio with png snapshot
  packages/charts/api/charts.api.md
  packages/charts/src/components/chart.snap.test.ts
  packages/charts/src/components/chart.tsx
  storybook/stories/interactions/17_png_export.story.tsx
Labels: :interactions, breaking change, :refactor

#1460 feat(heatmap): add valueShown in heatmap debug state
  packages/charts/src/chart_types/heatmap/state/selectors/get_debug_state.ts
Labels: enhancement, :heatmap

#1483 test(partiton): demo first layer sorting
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-mosaic-alpha-other-slices-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-should-sort-just-the-first-layer-1-snap.png
  integration/tests/__image_snapshots__/partition-stories-test-ts-axis-stories-should-sort-the-first-layer-too-1-snap.png
  integration/tests/partition_stories.test.ts
  storybook/stories/mosaic/20_mosaic_with_other.story.tsx
Labels: :test, :partition

#1493 fix(xy): remove pointer cursor for onElementOver
  packages/charts/src/chart_types/xy_chart/state/selectors/get_cursor_pointer.ts
Labels: :interactions
