Repository elastic/elastic-charts, pull requests merged in 2021-06, with the labels that each got.

#1182 fix(value_labels): zero as valid value for textBorder and borderWidth
  api/charts.api.md
  integration/tests/__image_snapshots__/styles-test-ts-styles-should-hide-the-value-label-with-0-border-width-1-snap.png
  integration/tests/__image_snapshots__/styles-test-ts-styles-should-hide-the-value-label-with-0-text-border-1-snap.png
  integration/tests/styles.test.ts
  src/chart_types/xy_chart/renderer/canvas/primitives/text.ts
  src/chart_types/xy_chart/renderer/canvas/values/bar.ts
  src/utils/themes/theme.ts
Labels: :annotation, :xy

#1180 feat(wordcloud): click and over events on text
  api/charts.api.md
  src/chart_types/partition_chart/state/selectors/get_debug_state.test.ts
  src/chart_types/partition_chart/state/selectors/picked_shapes.test.ts
  src/chart_types/wordcloud/layout/types/viewmodel_types.ts
  src/chart_types/wordcloud/layout/viewmodel/viewmodel.ts
  src/chart_types/wordcloud/renderer/svg/connected_component.tsx
  src/chart_types/wordcloud/specs/index.ts
  src/chart_types/wordcloud/state/chart_state.tsx
  src/chart_types/wordcloud/state/selectors/scenegraph.ts
  src/index.ts
  src/specs/settings.tsx
  stories/wordcloud/1_wordcloud.tsx
Labels: :interactions, :wordcloud, enhancement

#1163 feat(tooltip): stickTo vertical middle of the cursor
  api/charts.api.md
  integration/server/generate/vrt_page_template.js
  src/chart_types/goal_chart/state/chart_state.tsx
  src/chart_types/heatmap/state/selectors/get_tooltip_anchor.ts
  src/chart_types/partition_chart/state/chart_state.tsx
  src/chart_types/wordcloud/state/chart_state.tsx
  src/chart_types/xy_chart/annotations/line/tooltip.test.tsx
  src/chart_types/xy_chart/annotations/rect/tooltip.test.ts
  src/chart_types/xy_chart/annotations/rect/tooltip.ts
  src/chart_types/xy_chart/annotations/types.ts
  src/chart_types/xy_chart/annotations/utils.test.ts
  src/chart_types/xy_chart/annotations/utils.ts
  src/chart_types/xy_chart/crosshair/crosshair_utils.linear_snap.test.ts
  src/chart_types/xy_chart/crosshair/crosshair_utils.ts
  src/chart_types/xy_chart/renderer/canvas/xy_chart.tsx
  src/chart_types/xy_chart/renderer/dom/crosshair.tsx
  src/chart_types/xy_chart/state/chart_state.tsx
  src/chart_types/xy_chart/state/selectors/compute_chart_dimensions.ts
  src/chart_types/xy_chart/state/selectors/get_annotation_tooltip_state.ts
  src/chart_types/xy_chart/state/selectors/get_cursor_band.ts
  src/chart_types/xy_chart/state/selectors/get_tooltip_position.ts
  src/chart_types/xy_chart/utils/dimensions.test.ts
  src/chart_types/xy_chart/utils/dimensions.ts
  src/common/constants.ts
  src/components/__snapshots__/chart.test.tsx.snap
  src/components/chart.tsx
  src/components/portal/tooltip_portal.tsx
  src/components/portal/types.ts
  src/components/tooltip/tooltip.tsx
  src/components/tooltip/types.ts
  src/specs/constants.ts
  src/specs/settings.tsx
  src/state/chart_state.ts
  src/state/selectors/get_internal_tooltip_anchor_position.ts
  stories/area/2_with_time.tsx
  stories/bar/2_label_value.tsx
  stories/bar/48_test_tooltip.tsx
  stories/utils/knobs.ts
Labels: :tooltip, enhancement

#1190 fix(legend): apply value formatter to the heatmap legend items
  src/chart_types/heatmap/state/selectors/compute_legend.ts
Labels: :heatmap, :legend

#1145 feat(axis): allow pixel domain padding for y axes
  api/charts.api.md
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-domain-padding-should-allow-domain-ratio-padding-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-domain-padding-should-allow-domain-space-padding-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-domain-padding-should-allow-pixel-space-padding-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-domain-padding-should-apply-padding-with-positive-and-negative-values-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-domain-padding-should-apply-padding-within-intersept-negative-values-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-domain-padding-should-apply-padding-within-intersept-positive-values-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-domain-padding-should-constrain-padding-to-intersept-negative-values-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-domain-padding-should-constrain-padding-to-intersept-positive-values-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-domain-padding-should-nice-ticks-after-domain-padding-is-applied-1-snap.png
  integration/tests/bar_stories.test.ts
  package.json
  src/chart_types/xy_chart/domains/types.ts
  src/chart_types/xy_chart/domains/y_domain.ts
  src/chart_types/xy_chart/scales/scale_defaults.ts
  src/chart_types/xy_chart/utils/scales.ts
  src/chart_types/xy_chart/utils/specs.ts
  src/scales/scale_continuous.test.ts
  src/scales/scale_continuous.ts
  src/utils/domain.test.ts
  src/utils/domain.ts
  stories/axes/11_fit_domain_extent.tsx
  stories/bar/32_scale_to_extent.tsx
  stories/utils/knobs.ts
Labels: :axis, breaking change, enhancement

#1175 chore: update pr template to align with newsletter
  .github/pull_request_template.md
Labels: :docs

#1155 feat(a11y): add data table for screen readers (sunburst, treemap, icicle, flame)
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/partition_chart/layout/config.ts
  packages/charts/src/chart_types/partition_chart/layout/utils/legend_labels.ts
  packages/charts/src/chart_types/partition_chart/partition.test.tsx
  packages/charts/src/chart_types/partition_chart/renderer/canvas/partition.tsx
  packages/charts/src/chart_types/partition_chart/state/selectors/geometries.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/get_legend_items_labels.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/get_screen_reader_data.test.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/get_screen_reader_data.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/picked_shapes.test.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/xy_chart.tsx
  packages/charts/src/chart_types/xy_chart/renderer/dom/_screen_reader.scss
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/components/accessibility/accessibility.test.tsx
  packages/charts/src/components/accessibility/partitions_data_table.tsx
  packages/charts/src/specs/settings.tsx
  packages/charts/src/state/selectors/get_accessibility_config.ts
  stories/small_multiples/7_sunbursts.tsx
  stories/sunburst/1_simple.tsx
  stories/sunburst/8_sunburst_two_layers.tsx
Labels: :accessibility, :flamegraph, :partition

#1199 fix(partition): getLegendItemsExtra no longer assumes a singleton
  .github/workflows/api_extractor_check.yaml
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/partition_chart/layout/utils/group_by_rollup.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/hierarchy_of_arrays.test.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/hierarchy_of_arrays.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/partition_chart/partition.test.tsx
  packages/charts/src/chart_types/partition_chart/state/selectors/get_legend_items_extra.test.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/get_legend_items_extra.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/picked_shapes.test.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/tree.ts
  packages/charts/src/state/actions/legend.ts
  stories/small_multiples/7_sunbursts.tsx
Labels: :legend, :partition, :small multiples, bug

#1208 refactor(xy): prepare for time axis improvements
  packages/charts/src/chart_types/xy_chart/axes/axes_sizes.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/annotations/lines.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/axes/global_title.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/axes/index.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/axes/line.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/axes/tick.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/panels/global_title.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/panels/panel_title.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/panels/panels.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/line.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/primitives/text.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/renderers.ts
  packages/charts/src/chart_types/xy_chart/state/chart_state.test.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/compute_axis_ticks_dimensions.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_debug_state.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/merge_y_custom_domains.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.test.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.ts
  packages/charts/src/chart_types/xy_chart/utils/dimensions.test.ts
  packages/charts/src/chart_types/xy_chart/utils/dimensions.ts
Labels: :axis, :xy

#1210 chore: fix bad types
  packages/charts/src/chart_types/xy_chart/domains/y_domain.ts
Labels: skip-newsletter

#1207 feat(annotations): option to render rect annotations outside chart
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-annotations-rects-outside-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-domain-x-rotation-0-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-domain-x-rotation-180-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-domain-x-rotation-90-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-domain-x-rotation-negative-90-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-domain-y-rotation-0-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-domain-y-rotation-180-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-domain-y-rotation-90-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-domain-y-rotation-negative-90-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-should-render-outside-annotations-when-axes-are-hidden-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-should-render-outside-annotations-when-tick-line-is-not-rendered-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-should-show-tooltip-on-hover-x-domain-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-should-show-tooltip-on-hover-y-domain-1-snap.png
  integration/tests/annotations_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/annotations/line/tooltip.test.tsx
  packages/charts/src/chart_types/xy_chart/annotations/rect/dimensions.ts
  packages/charts/src/chart_types/xy_chart/annotations/tooltip.ts
  packages/charts/src/chart_types/xy_chart/annotations/utils.ts
  packages/charts/src/chart_types/xy_chart/specs/rect_annotation.tsx
  packages/charts/src/chart_types/xy_chart/state/selectors/compute_annotations.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_annotation_tooltip_state.ts
  packages/charts/src/chart_types/xy_chart/utils/specs.ts
  stories/annotations/rects/8_outside.tsx
  stories/annotations/rects/rects.stories.tsx
Labels: :annotation, :xy, bug, enhancement

#1212 feat(heatmap): enable brushing on categorical charts
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-categorical-visually-looks-correct-1-snap.png
  packages/charts/src/chart_types/heatmap/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_brushed_highlighted_shapes.test.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_brushed_highlighted_shapes.ts
  packages/charts/src/chart_types/heatmap/state/selectors/picked_shapes.ts
  packages/charts/src/mocks/specs/specs.ts
  stories/heatmap/2_categorical.tsx
Labels: :heatmap, :interactions, bug, enhancement

#1194 feat(xy): add onPointerUpdate debounce and trigger options
  integration/tests/interactions.test.ts
  package.json
  packages/charts/api/charts.api.md
  packages/charts/package.json
  packages/charts/src/__mocks__/ts-debounce.ts
  packages/charts/src/chart_types/xy_chart/state/chart_state.interactions.test.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_cursor_band.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_elements_at_cursor_pos.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_projected_pointer_position.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_projected_scaled_values.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_tooltip_values_highlighted_geoms.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/on_pointer_move_caller.ts
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/mocks/store/store.ts
  packages/charts/src/specs/constants.ts
  packages/charts/src/specs/settings.test.tsx
  packages/charts/src/specs/settings.tsx
  packages/charts/src/state/selectors/get_settings_specs.ts
  packages/charts/src/state/selectors/is_external_tooltip_visible.ts
  stories/interactions/16_cursor_update_action.tsx
  yarn.lock
Labels: :interactions, :xy, enhancement

#1220 test: replace mocks with snapshots
  packages/charts/src/chart_types/xy_chart/rendering/__snapshots__/rendering.areas.test.ts.snap
  packages/charts/src/chart_types/xy_chart/rendering/__snapshots__/rendering.bands.test.ts.snap
  packages/charts/src/chart_types/xy_chart/rendering/__snapshots__/rendering.bars.test.ts.snap
  packages/charts/src/chart_types/xy_chart/rendering/__snapshots__/rendering.bubble.test.ts.snap
  packages/charts/src/chart_types/xy_chart/rendering/__snapshots__/rendering.lines.test.ts.snap
  packages/charts/src/chart_types/xy_chart/rendering/rendering.areas.test.ts
  packages/charts/src/chart_types/xy_chart/rendering/rendering.bands.test.ts
  packages/charts/src/chart_types/xy_chart/rendering/rendering.bars.test.ts
  packages/charts/src/chart_types/xy_chart/rendering/rendering.bubble.test.ts
  packages/charts/src/chart_types/xy_chart/rendering/rendering.lines.test.ts
Labels: :test, :xy

#1174 feat(a11y): accessible goal and gauge chart
  packages/charts/src/chart_types/goal_chart/state/selectors/get_goal_chart_data.ts
  packages/charts/src/chart_types/partition_chart/renderer/canvas/partition.tsx
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/components/accessibility/accessibility.test.tsx
  packages/charts/src/components/accessibility/index.ts
  packages/charts/src/components/accessibility/label.tsx
  packages/charts/src/components/accessibility/screen_reader_summary.tsx
  packages/charts/src/components/accessibility/types.tsx
Labels: :accessibility, :bullet/goal/gauge, enhancement
