Repository elastic/elastic-charts, pull requests merged in 2021-01, with the labels that each got.

#971 fix(legend): create unique ids for dot icons
  src/components/__snapshots__/chart.test.tsx.snap
  src/components/icons/assets/dot.tsx
  src/components/legend/__snapshots__/legend.test.tsx.snap
Labels: :accessibility, :legend

#973 fix(legend): remove ids for circles
  src/components/__snapshots__/chart.test.tsx.snap
  src/components/icons/assets/dot.tsx
  src/components/legend/__snapshots__/legend.test.tsx.snap
Labels: :accessibility, :legend

#969 chore: cleanup ts ignores
  scripts/setup_enzyme.ts
  src/chart_types/heatmap/state/selectors/get_heatmap_table.ts
  src/chart_types/partition_chart/layout/viewmodel/fill_text_layout.ts
  src/chart_types/xy_chart/domains/x_domain.ts
  src/chart_types/xy_chart/state/selectors/compute_series_domains.ts
  src/chart_types/xy_chart/state/utils/utils.ts
  src/chart_types/xy_chart/utils/series.ts
  src/components/chart.tsx
Labels: chore

#968 chore: legend gap removal
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-interactions-sunburst-slice-clicks-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-treemap-mid-two-layers-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltips-should-show-tooltip-on-sunburst-1-snap.png
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-hide-bar-series-legend-item-1-snap.png
  src/components/__snapshots__/chart.test.tsx.snap
  src/components/legend/__snapshots__/legend.test.tsx.snap
  src/components/legend/_legend_item.scss
  src/components/legend/legend_item.tsx
Labels: :accessibility, :i18n, :legend

#975 docs: add histogram small multiples example
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-small-multiples-alpha-histogram-bars-visually-looks-correct-1-snap.png
  stories/small_multiples/5_histogram_bars.tsx
  stories/small_multiples/small_multiples.stories.tsx
Labels: :docs

#977 refactor: remove default small multiples value
  src/chart_types/xy_chart/rendering/rendering.areas.test.ts
  src/chart_types/xy_chart/state/chart_state.interactions.test.ts
  src/chart_types/xy_chart/state/selectors/compute_small_multiple_scales.ts
  src/chart_types/xy_chart/state/selectors/get_cursor_band.ts
  src/chart_types/xy_chart/state/selectors/get_tooltip_position.ts
  src/chart_types/xy_chart/state/utils/__snapshots__/utils.test.ts.snap
  src/chart_types/xy_chart/state/utils/utils.test.ts
  src/chart_types/xy_chart/utils/__snapshots__/series.test.ts.snap
  src/chart_types/xy_chart/utils/indexed_geometry_map.ts
  src/chart_types/xy_chart/utils/series.test.ts
  src/chart_types/xy_chart/utils/series.ts
  src/mocks/series/series_identifiers.ts
  src/specs/small_multiples.ts
  stories/small_multiples/2_vertical_areas.tsx
  stories/small_multiples/3_grid_lines.tsx
  stories/small_multiples/4_horizontal_bars.tsx
Labels: :small multiples, chore

#989 fix: chart state and series functions cleanup
  .playground/playground.tsx
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-small-multiples-alpha-heterogeneous-visually-looks-correct-1-snap.png
  src/chart_types/xy_chart/utils/series.ts
  src/state/chart_state.ts
  src/utils/common.ts
  stories/small_multiples/6_heterogeneous_cartesians.tsx
  stories/small_multiples/small_multiples.stories.tsx
  stories/treemap/10_three_layers.tsx
Labels: chore

#960 refactor: annotation marker size calculation
  api/charts.api.md
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-annotations-lines-y-domain-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-small-multiples-alpha-heterogeneous-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-small-multiples-alpha-horizontal-bars-visually-looks-correct-1-snap.png
  package.json
  scripts/setup_enzyme.ts
  src/chart_types/xy_chart/annotations/line/dimensions.integration.test.ts
  src/chart_types/xy_chart/annotations/line/dimensions.test.ts
  src/chart_types/xy_chart/annotations/line/dimensions.ts
  src/chart_types/xy_chart/annotations/line/line.test.tsx
  src/chart_types/xy_chart/annotations/line/tooltip.test.ts
  src/chart_types/xy_chart/annotations/line/tooltip.test.tsx
  src/chart_types/xy_chart/annotations/line/tooltip.ts
  src/chart_types/xy_chart/annotations/line/types.ts
  src/chart_types/xy_chart/annotations/rect/dimensions.ts
  src/chart_types/xy_chart/annotations/rect/tooltip.test.ts
  src/chart_types/xy_chart/annotations/rect/tooltip.ts
  src/chart_types/xy_chart/annotations/rect/types.ts
  src/chart_types/xy_chart/annotations/tooltip.ts
  src/chart_types/xy_chart/annotations/types.ts
  src/chart_types/xy_chart/renderer/dom/annotations/_annotations.scss
  src/chart_types/xy_chart/renderer/dom/annotations/annotation_tooltip.tsx
  src/chart_types/xy_chart/renderer/dom/annotations/annotations.tsx
  src/chart_types/xy_chart/renderer/dom/annotations/tooltip_content.tsx
  src/chart_types/xy_chart/specs/line_annotation.tsx
  src/chart_types/xy_chart/state/selectors/get_annotation_tooltip_state.ts
  src/index.ts
  src/mocks/annotations/annotations.ts
  src/state/actions/dom_element.ts
  src/state/chart_state.ts
  src/state/reducers/interactions.ts
  stories/small_multiples/6_heterogeneous_cartesians.tsx
  yarn.lock
Labels: :specs, enhancement

#993 fix: external tooltip legend extra value sync
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-interactions-cursor-update-action-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltip-sync-show-synced-crosshairs-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltip-sync-show-synced-extra-values-in-legend-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltip-sync-show-synced-tooltips-1-snap.png
  integration/tests/interactions.test.ts
  src/chart_types/xy_chart/state/selectors/get_tooltip_values_highlighted_geoms.ts
  src/components/__snapshots__/chart.test.tsx.snap
  src/components/tooltip/tooltip.tsx
  stories/interactions/16_cursor_update_action.tsx
Labels: :interactions, bug, regression

#994 chore: convert single line snapshots to multiline
  src/components/__snapshots__/chart.test.tsx.snap
  src/components/chart.test.tsx
  src/components/legend/__snapshots__/legend.test.tsx.snap
  src/components/legend/legend.test.tsx
Labels: chore

#991 refactor(partition): improving on chart events and callbacks
  .playground/playground.tsx
  api/charts.api.md
  docs/0-Intro/1-Overview.mdx
  src/chart_types/goal_chart/state/selectors/picked_shapes.ts
  src/chart_types/partition_chart/layout/config/config.ts
  src/chart_types/partition_chart/layout/types/types.ts
  src/chart_types/partition_chart/layout/types/viewmodel_types.ts
  src/chart_types/partition_chart/layout/utils/group_by_rollup.ts
  src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  src/chart_types/partition_chart/renderer/canvas/partition.tsx
  src/chart_types/partition_chart/state/chart_state.tsx
  src/chart_types/partition_chart/state/selectors/compute_legend.ts
  src/chart_types/partition_chart/state/selectors/get_legend_items_extra.ts
  src/chart_types/partition_chart/state/selectors/get_legend_items_labels.ts
  src/chart_types/partition_chart/state/selectors/on_element_click_caller.ts
  src/chart_types/partition_chart/state/selectors/on_element_out_caller.ts
  src/chart_types/partition_chart/state/selectors/on_element_over_caller.ts
  src/chart_types/partition_chart/state/selectors/partition_spec.ts
  src/chart_types/partition_chart/state/selectors/picked_shapes.test.ts
  src/chart_types/partition_chart/state/selectors/picked_shapes.ts
  src/chart_types/partition_chart/state/selectors/tooltip.ts
  src/common/category.ts
  src/index.ts
  src/specs/settings.tsx
  src/state/actions/legend.ts
  stories/icicle/02_unix_flame.tsx
  stories/legend/10_sunburst.tsx
  stories/stylings/20_partition_background.tsx
  stories/sunburst/15_single_sunburst.tsx
  stories/sunburst/26_percentage.tsx
  stories/sunburst/27_heterogeneous_depth.tsx
  stories/sunburst/9_sunburst_three_layers.tsx
  stories/treemap/3_mid_two.tsx
  stories/treemap/4_two_layer_stress.tsx
  stories/treemap/5_multicolor.tsx
  stories/treemap/6_custom_style.tsx
  stories/treemap/7_percentage.tsx
  stories/treemap/8_groove_text.tsx
Labels: :partition, typings

#996 fix: add theme min radius to point shape
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bubble-chart-alpha-mixed-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bubble-chart-alpha-multiple-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bubble-chart-alpha-ordinal-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bubble-chart-alpha-simple-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-line-chart-line-with-mark-accessor-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-mixed-charts-mark-size-accessor-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltip-formatting-should-use-custom-mark-formatters-1-snap.png
  src/chart_types/xy_chart/rendering/area.ts
  src/chart_types/xy_chart/rendering/bubble.ts
  src/chart_types/xy_chart/rendering/line.ts
  src/chart_types/xy_chart/rendering/points.ts
Labels: :xy, enhancement

#997 build: upgade node to 14
  .ci/global_setup.sh
  .github/workflows/api_extractor_check.yaml
  .github/workflows/auto_release.yaml
  .github/workflows/lint.yaml
  .github/workflows/unit_test.yaml
  .nvmrc
  package.json
Labels: :build

#1000 build: update release workflow
  .github/workflows/auto_release.yaml
Labels: :build
