Repository elastic/elastic-charts, pull requests merged in 2022-07, with the labels that each got.

#1718 feat(metric): add click handling
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/basic-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/grid-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-vertical-progress-bar-in-dark-mode-chrome-linux.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-metric-alpha-basic-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-metric-alpha-grid-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/metric-stories-test-ts-metric-should-render-horizontal-progress-bar-1-snap.png
  integration/tests/__image_snapshots__/metric-stories-test-ts-metric-should-render-horizontal-progress-bar-in-dark-mode-1-snap.png
  integration/tests/__image_snapshots__/metric-stories-test-ts-metric-should-render-no-progress-bar-1-snap.png
  integration/tests/__image_snapshots__/metric-stories-test-ts-metric-should-render-no-progress-bar-in-dark-mode-1-snap.png
  integration/tests/__image_snapshots__/metric-stories-test-ts-metric-should-render-vertical-progress-bar-in-dark-mode-1-snap.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/metric/renderer/_index.scss
  packages/charts/src/chart_types/metric/renderer/dom/_progress.scss
  packages/charts/src/chart_types/metric/renderer/dom/_sparkline.scss
  packages/charts/src/chart_types/metric/renderer/dom/_text.scss
  packages/charts/src/chart_types/metric/renderer/dom/index.tsx
  packages/charts/src/chart_types/metric/renderer/dom/metric.tsx
  packages/charts/src/chart_types/metric/renderer/dom/progress.tsx
  packages/charts/src/chart_types/metric/renderer/dom/text.tsx
  packages/charts/src/chart_types/partition_chart/state/selectors/picked_shapes.test.ts
  packages/charts/src/common/color_library_wrappers.ts
  packages/charts/src/specs/settings.tsx
  storybook/stories/metric/1_basic.story.tsx
  storybook/stories/metric/2_grid.story.tsx
Labels: :interactions, :metric

#1720 feat(metric): add icon and title padding
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/basic-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/grid-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-vertical-progress-bar-in-dark-mode-chrome-linux.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-metric-alpha-basic-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-metric-alpha-grid-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/metric-stories-test-ts-metric-should-render-horizontal-progress-bar-1-snap.png
  integration/tests/__image_snapshots__/metric-stories-test-ts-metric-should-render-horizontal-progress-bar-in-dark-mode-1-snap.png
  integration/tests/__image_snapshots__/metric-stories-test-ts-metric-should-render-no-progress-bar-1-snap.png
  integration/tests/__image_snapshots__/metric-stories-test-ts-metric-should-render-no-progress-bar-in-dark-mode-1-snap.png
  integration/tests/__image_snapshots__/metric-stories-test-ts-metric-should-render-vertical-progress-bar-in-dark-mode-1-snap.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/metric/renderer/dom/_text.scss
  packages/charts/src/chart_types/metric/renderer/dom/text.tsx
  packages/charts/src/chart_types/metric/specs/index.ts
  storybook/stories/metric/1_basic.story.tsx
  storybook/stories/metric/2_grid.story.tsx
Labels: enhancement, :styling, :metric

#1726 fix(heatmap): empty state only when there is no valid data
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/render-table-with-all-nulls-chrome-linux.png
  e2e/tests/heatmap_stories.test.ts
  integration/tests/__image_snapshots__/heatmap-stories-test-ts-heatmap-stories-render-table-with-all-nulls-1-snap.png
  integration/tests/heatmap_stories.test.ts
  packages/charts/src/chart_types/heatmap/state/selectors/is_empty.ts
  storybook/stories/heatmap/7_sorting.story.tsx
Labels: enhancement, :data, :heatmap

#1744 chore: allow react 18 as peer dependency
  e2e/tests/annotations_stories.test.ts
  packages/charts/package.json
Labels: dependencies

#1753 ci: move buildkite to new datavis agent queue
  .buildkite/utils/pipeline/steps.ts
  e2e/playwright.config.ts
Labels: :ci

#1760 ci: fix skip logic for dependabot
  .buildkite/scripts/steps/eslint.ts
  .buildkite/steps/api_check.ts
  .buildkite/steps/eslint.ts
  .buildkite/steps/jest.ts
  .buildkite/steps/type_check.ts
  .buildkite/utils/github.ts
Labels: :ci

#1765 fix(time): render correctly 0-24 hourly clock
  e2e/screenshots/annotations_stories.test.ts-snapshots/annotations-stories/hover-state/should-fade-all-other-annotations-when-rect-annotation-is-hovered-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-render-hour-raster-from-00-00-to-23-59-chrome-linux.png
  e2e/tests/axis_stories.test.ts
  packages/charts/src/chart_types/xy_chart/axes/timeslip/rasters.ts
Labels: enhancement, :axis, :xy
