Repository elastic/elastic-charts, pull requests merged in 2022-12, with the labels that each got.

#1888 chore: update to uuid v9 for better exports support
  jest.config.js
  package.json
  packages/charts/package.json
  yarn.lock
Labels: dependencies

#1889 feat(legend): add custom legend component
  e2e/screenshots/all.test.ts-snapshots/baselines/legend/custom-legend-chrome-linux.png
  packages/charts/api/charts.api.md
  packages/charts/src/common/category.ts
  packages/charts/src/components/legend/custom_legend.tsx
  packages/charts/src/components/legend/legend.tsx
  packages/charts/src/index.ts
  packages/charts/src/specs/settings.tsx
  packages/charts/src/specs/tooltip.ts
  packages/charts/src/state/selectors/get_legend_config_selector.ts
  packages/charts/src/state/selectors/get_pointer_value.ts
  packages/charts/src/state/types.ts
  storybook/stories/legend/16_custom_legend.story.tsx
  storybook/stories/legend/legend.stories.tsx
Labels: enhancement, :legend, ci:approved ✅

#1907 build: release on main branch
  .releaserc.js
Labels: :ci, :build, ci:skip

#1906 fix: don't account for label overflow with multi-layer time axis
  e2e/screenshots/all.test.ts-snapshots/baselines/area-chart/timeslip-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/interactions/multi-chart-cursor-sync-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/stylings/highlighter-style-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/can-render-multilayer-time-axis-on-top-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/can-show-a-finer-raster-than-the-data-bin-width-if-min-interval-is-expressly-specified-to-be-low-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/renders-multilayer-time-axis-with-a-single-point-and-a-degenerate-zero-width-domain-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/renders-multilayer-time-axis-with-a-single-point-and-an-arbitrary-non-degenerate-domain-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-extend-the-domain-on-the-right-with-one-bin-width-with-custom-bin-width-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-extend-the-domain-on-the-right-with-one-bin-width-without-custom-bin-width-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-have-st-nd-rd-th-after-day-of-month-numbers-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-have-st-nd-rd-th-after-day-of-month-numbers-even-for-the-20s-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-not-show-a-raster-that-is-finer-than-the-bin-width-min-interval-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-render-hour-raster-from-00-00-to-23-59-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-use-a-decades-raster-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/theme-dark/should-switch-to-a-30-minute-raster-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/theme-eui-dark/should-switch-to-a-30-minute-raster-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/theme-eui-light/should-switch-to-a-30-minute-raster-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/theme-light/should-switch-to-a-30-minute-raster-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/uses-proper-english-ending-at-a-daily-resolution-10th-25th-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/uses-proper-english-ending-at-a-daily-resolution-30th-14th-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/uses-proper-english-ending-at-a-weekly-resolution-chrome-linux.png
  e2e/screenshots/stylings_stories.test.ts-snapshots/stylings-stories/highlight-style-and-point-buffer-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/pinning-over-selection-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/pinning-without-selection-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/selecting-series-on-pinned-tooltip-async-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/selecting-series-on-pinned-tooltip-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/show-loading-prompt-for-async-actions-chrome-linux.png
  packages/charts/src/chart_types/xy_chart/axes/axes_sizes.ts
Labels: bug, :axis, :xy

#1887 feat(tooltip): animate context menu prompt
  e2e/screenshots/all.test.ts-snapshots/baselines/small-multiples-alpha/vertical-areas-chrome-linux.png
  e2e/screenshots/area_stories.test.ts-snapshots/area-series-stories/small-multiples-with-log-scale-dont-clip-chrome-linux.png
  e2e/screenshots/bar_stories.test.ts-snapshots/bar-series-stories/functional-accessors/functional-accessors-with-field-name-with-tooltip-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/tooltips/should-render-current-tooltip-for-split-and-y-accessors-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/tooltips/should-render-current-tooltip-in-dark-theme-chrome-linux.png
  e2e/screenshots/legend_stories.test.ts-snapshots/legend-stories/tooltip-placement-with-legend/should-render-tooltip-with-bottom-legend-chrome-linux.png
  e2e/screenshots/legend_stories.test.ts-snapshots/legend-stories/tooltip-placement-with-legend/should-render-tooltip-with-left-legend-chrome-linux.png
  e2e/screenshots/legend_stories.test.ts-snapshots/legend-stories/tooltip-placement-with-legend/should-render-tooltip-with-right-legend-chrome-linux.png
  e2e/screenshots/legend_stories.test.ts-snapshots/legend-stories/tooltip-placement-with-legend/should-render-tooltip-with-top-legend-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/pinning-over-selection-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/pinning-without-selection-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/selecting-series-on-pinned-tooltip-async-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/selecting-series-on-pinned-tooltip-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/show-loading-prompt-for-async-actions-chrome-linux.png
  packages/charts/src/components/tooltip/components/_tooltip_prompt.scss
  packages/charts/src/components/tooltip/components/tooltip_prompt.tsx
  packages/charts/src/specs/tooltip.ts
  storybook/stories/components/tooltip/10_cartesian_chart.story.tsx
  storybook/stories/components/tooltip/11_partition_chart.story.tsx
  storybook/stories/components/tooltip/12_heatmap.story.tsx
  storybook/stories/components/tooltip/13_flamegraph.story.tsx
  storybook/stories/components/tooltip/5_chart_tooltip.story.tsx
  storybook/stories/components/tooltip/6_async_actions.story.tsx
Labels: enhancement, :tooltip, :all
