Repository elastic/elastic-charts, pull requests merged in 2022-04, with the labels that each got.

#1637 feat(goal): auto generated linear ticks
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-auto-linear-ticks-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-auto-ticks-goal-reverse-false-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-auto-ticks-goal-reverse-true-1-snap.png
  integration/tests/goal_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/goal_chart/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/goal_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/goal_chart/specs/index.ts
  packages/charts/src/components/accessibility/accessibility.test.tsx
  packages/charts/src/utils/common.test.ts
  packages/charts/src/utils/common.ts
  storybook/stories/goal/10_band_in_band.story.tsx
  storybook/stories/goal/11_gaps.story.tsx
  storybook/stories/goal/12_range.story.tsx
  storybook/stories/goal/13_confidence_level.story.tsx
  storybook/stories/goal/14_one_third.story.tsx
  storybook/stories/goal/15_half_circle.story.tsx
  storybook/stories/goal/16_two_thirds.story.tsx
  storybook/stories/goal/17_three_quarters.story.tsx
  storybook/stories/goal/17_total_circle.story.tsx
  storybook/stories/goal/17_very_small_gap.story.tsx
  storybook/stories/goal/18_side_gauge.story.tsx
  storybook/stories/goal/18_side_gauge_inverted_angle_relation.story.tsx
  storybook/stories/goal/19_horizontal_negative.story.tsx
  storybook/stories/goal/20_vertical_negative.story.tsx
  storybook/stories/goal/21_goal_negative.story.tsx
  storybook/stories/goal/22_horizontal_plusminus.story.tsx
  storybook/stories/goal/23_vertical_plusminus.story.tsx
  storybook/stories/goal/24_goal_plusminus.story.tsx
  storybook/stories/goal/25_goal_semantic.story.tsx
  storybook/stories/goal/26_auto_linear_ticks.story.tsx
  storybook/stories/goal/2_gauge_with_target.story.tsx
  storybook/stories/goal/3_horizontal_bullet.story.tsx
  storybook/stories/goal/4_vertical_bullet.story.tsx
  storybook/stories/goal/5_minimal.story.tsx
  storybook/stories/goal/6_minimal_horizontal.story.tsx
  storybook/stories/goal/7_horizontal_bar.story.tsx
  storybook/stories/goal/8_irregular_ticks.story.tsx
  storybook/stories/goal/9_minimal_band.story.tsx
  storybook/stories/goal/goal.stories.tsx
  storybook/stories/interactions/17_png_export.story.tsx
Labels: enhancement, :bullet/goal/gauge

#1644 feat(legend): expose sorting function
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-legend-sort-items-visually-looks-correct-1-snap.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/legend/legend.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/compute_legend.ts
  packages/charts/src/index.ts
  packages/charts/src/specs/settings.tsx
  storybook/stories/legend/15_legend_sort.story.tsx
  storybook/stories/legend/legend.stories.tsx
Labels: enhancement, :legend, :xy

#1645 fix(axis): ticks generation for linear scale on bar charts
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bar-chart-test-discover-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bar-chart-test-min-height-positive-and-negative-values-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bar-chart-with-high-data-volume-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-bar-chart-with-linear-x-axis-no-linear-interval-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-debug-options-debug-state-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-interactions-png-export-action-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-small-multiples-alpha-histogram-bars-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-stylings-dark-theme-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-stylings-multiple-custom-partial-themes-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-stylings-partial-custom-theme-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-stylings-partial-custom-theme-with-base-theme-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-stylings-theme-styling-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-test-axis-positions-with-histogram-bar-series-should-render-correct-axis-rotation-90-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-test-axis-positions-with-histogram-bar-series-should-render-correct-axis-rotation-negative-90-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-test-discover-using-no-custom-min-interval-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltips-should-render-current-tooltip-in-dark-theme-1-snap.png
  packages/charts/src/chart_types/xy_chart/utils/get_linear_ticks.ts
  packages/charts/src/scales/scale_continuous.ts
  packages/charts/src/scales/utils.ts
  storybook/stories/bar/44_test_single_histogram.story.tsx
  storybook/stories/interactions/17_png_export.story.tsx
Labels: enhancement, :axis, :xy

#1646 fix(axis): use correct desired tick count based on axis type
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-area-chart-with-linear-x-axis-visually-looks-correct-1-snap.png
  packages/charts/src/chart_types/xy_chart/state/selectors/get_api_scale_configs.ts
  storybook/stories/area/3_with_linear.story.tsx
Labels: bug, :axis, :xy

#1641 feat(axes): option to fit domain to list of annotation `SpecIds`
  integration/server/mocks/@storybook/addon-knobs/index.ts
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-axes-fit-domain-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-should-included-select-annotation-y-domains-1-snap.png
  integration/tests/axis_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/partition_chart/state/selectors/picked_shapes.test.ts
  packages/charts/src/chart_types/xy_chart/annotations/line/dimensions.test.ts
  packages/charts/src/chart_types/xy_chart/annotations/line/line.test.tsx
  packages/charts/src/chart_types/xy_chart/annotations/rect/dimensions.integration.test.ts
  packages/charts/src/chart_types/xy_chart/annotations/utils.test.ts
  packages/charts/src/chart_types/xy_chart/crosshair/crosshair_utils.linear_snap.test.ts
  packages/charts/src/chart_types/xy_chart/crosshair/crosshair_utils.ordinal_snap.test.ts
  packages/charts/src/chart_types/xy_chart/domains/x_domain.test.ts
  packages/charts/src/chart_types/xy_chart/domains/y_domain.test.ts
  packages/charts/src/chart_types/xy_chart/domains/y_domain.ts
  packages/charts/src/chart_types/xy_chart/rendering/rendering.bubble.test.ts
  packages/charts/src/chart_types/xy_chart/rendering/rendering.lines.test.ts
  packages/charts/src/chart_types/xy_chart/state/__snapshots__/chart_state.debug.test.ts.snap
  packages/charts/src/chart_types/xy_chart/state/chart_state.debug.test.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/compute_series_domains.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/merge_y_custom_domains.ts
  packages/charts/src/chart_types/xy_chart/state/utils/utils.test.ts
  packages/charts/src/chart_types/xy_chart/state/utils/utils.ts
  packages/charts/src/chart_types/xy_chart/tooltip/tooltip.test.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.test.ts
  packages/charts/src/chart_types/xy_chart/utils/series.test.ts
  packages/charts/src/chart_types/xy_chart/utils/specs.ts
  packages/charts/src/mocks/specs/specs.ts
  packages/charts/src/utils/common.ts
  storybook/package.json
  storybook/preload_icons.ts
  storybook/preview.ts
  storybook/stories/axes/11_fit_domain_extent.story.tsx
  storybook/stories/utils/knobs.ts
  storybook/webpack.config.js
Labels: :axis, :xy

#1655 docs: update linking steps
  CONTRIBUTING.md
Labels: :docs

#1651 fix(rendering): clip at panel sizes on small multiples
  integration/tests/__image_snapshots__/area-stories-test-ts-area-series-stories-small-multiples-with-log-scale-dont-clip-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-small-multiples-axis-position-bottom-should-hide-panel-titles-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-small-multiples-axis-position-left-should-hide-empty-title-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-small-multiples-axis-position-left-should-hide-title-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-small-multiples-axis-position-right-should-hide-empty-title-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-small-multiples-axis-position-right-should-hide-title-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-small-multiples-axis-position-top-should-hide-panel-titles-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-small-multiples-should-render-four-axes-with-no-gridlines-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-small-multiples-should-render-four-axes-with-titles-and-panel-titles-1-snap.png
  integration/tests/area_stories.test.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/annotations/index.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/areas.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/bars.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/bubbles.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/lines.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/panel_clipping.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/points.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/renderers.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/xy_chart.tsx
  storybook/stories/small_multiples/2_vertical_areas.story.tsx
Labels: :xy, :small multiples

#1656 fix(rendering): clip at panel sizes on small multiples
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-small-multiples-alpha-grid-lines-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/area-stories-test-ts-area-series-stories-small-multiples-with-log-scale-dont-clip-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-small-multiples-axis-position-left-should-hide-panel-titles-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-small-multiples-axis-position-right-should-hide-panel-titles-1-snap.png
  integration/tests/area_stories.test.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/annotations/index.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/areas.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/bars.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/bubbles.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/lines.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/panel_clipping.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/points.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/renderers.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/xy_chart.tsx
  storybook/stories/small_multiples/2_vertical_areas.story.tsx
Labels: backport

#1628 feat(annotations): animated focus states for hovered annotation
  .eslintrc.js
  e2e-server/server/webpack.config.js
  integration/server/webpack.config.js
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-annotations-rects-styling-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-hover-state-should-fade-all-other-annotations-when-line-marker-is-hovered-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-hover-state-should-fade-all-other-annotations-when-rect-annotation-is-hovered-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-should-show-tooltip-on-hover-x-domain-1-snap.png
  integration/tests/__image_snapshots__/annotations-stories-test-ts-annotations-stories-outside-annotations-should-show-tooltip-on-hover-y-domain-1-snap.png
  integration/tests/annotations_stories.test.ts
  packages/charts/.gitignore
  packages/charts/api/charts.api.md
  packages/charts/package.json
  packages/charts/src/chart_types/xy_chart/annotations/line/dimensions.test.ts
  packages/charts/src/chart_types/xy_chart/annotations/rect/dimensions.ts
  packages/charts/src/chart_types/xy_chart/annotations/rect/tooltip.test.ts
  packages/charts/src/chart_types/xy_chart/annotations/rect/tooltip.ts
  packages/charts/src/chart_types/xy_chart/annotations/rect/types.ts
  packages/charts/src/chart_types/xy_chart/annotations/types.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/animations/README.md
  packages/charts/src/chart_types/xy_chart/renderer/canvas/animations/animation.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/animations/index.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/annotations/index.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/annotations/lines.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/annotations/rect.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/renderers.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/xy_chart.tsx
  packages/charts/src/chart_types/xy_chart/renderer/common/utils.ts
  packages/charts/src/chart_types/xy_chart/renderer/dom/annotations/annotations.tsx
  packages/charts/src/chart_types/xy_chart/renderer/dom/annotations/line_marker.tsx
  packages/charts/src/chart_types/xy_chart/state/chart_state.interactions.test.tsx
  packages/charts/src/chart_types/xy_chart/state/selectors/get_annotation_tooltip_state.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_highlighted_annotation_ids_selector.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_multiple_rectangle_annotations.ts
  packages/charts/src/chart_types/xy_chart/utils/specs.ts
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/index.ts
  packages/charts/src/mocks/annotations/annotations.ts
  packages/charts/src/utils/logger.ts
  packages/charts/src/utils/themes/merge_utils.ts
  packages/charts/src/utils/themes/theme.test.ts
  packages/charts/src/utils/themes/theme.ts
  packages/charts/src/utils/time_functions.test.ts
  packages/charts/src/utils/time_functions.ts
  playground/webpack.config.js
  storybook/stories/annotations/rects/4_styling.story.tsx
  storybook/stories/utils/knobs.ts
  storybook/webpack.config.js
  yarn.lock
Labels: :annotation, :xy
