Repository elastic/elastic-charts, pull requests merged in 2022-01, with the labels that each got.

#1529 feat(goal): add valueFormatter for tooltip
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-goal-alpha-gauge-with-target-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-sagitta-offset-should-limit-max-offset-to-3-2-π-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-sagitta-offset-should-limit-min-offset-to-π-2-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-sagitta-offset-should-render-goal-with-asymetric-angle-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-sagitta-offset-should-show-custom-value-formatter-in-tooltip-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-theme-dark-should-render-gauge-with-target-story-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-theme-eui-dark-should-render-gauge-with-target-story-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-theme-eui-light-should-render-gauge-with-target-story-1-snap.png
  integration/tests/__image_snapshots__/goal-stories-test-ts-goal-stories-theme-light-should-render-gauge-with-target-story-1-snap.png
  integration/tests/goal_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/goal_chart/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/goal_chart/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/goal_chart/specs/index.ts
  packages/charts/src/chart_types/goal_chart/state/selectors/tooltip.ts
  packages/charts/src/components/accessibility/types.tsx
  storybook/stories/goal/2_gauge_with_target.story.tsx
Labels: :interactions, :bullet/goal/gauge

#1537 feat: allow multiple value accessors when computing the stack ratio
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-stacked-bars-configs-non-stacked-with-external-fn-multi-y-1-snap.png
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-stacked-bars-configs-percentage-stacked-with-external-fn-multi-y-1-snap.png
  integration/tests/bar_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/utils/data/data_processing.ts
  storybook/stories/bar/12_stacked_as_percentage.story.tsx
Labels: enhancement, :data, :xy, breaking change

#1544 fix(xy): switch default timezone to `local`
  integration/tests/timezone.test.ts
  packages/charts/src/chart_types/xy_chart/domains/x_domain.test.ts
  packages/charts/src/chart_types/xy_chart/domains/x_domain.ts
  packages/charts/src/chart_types/xy_chart/state/utils/utils.test.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.test.ts
  packages/charts/src/chart_types/xy_chart/utils/specs.ts
  packages/charts/src/mocks/xy/domains.ts
  packages/charts/src/scales/scale_continuous.ts
Labels: :axis, :data, :xy

#1549 fix(heatmap): labels visibility regression
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-heatmap-alpha-time-visually-looks-correct-1-snap.png
  packages/charts/src/chart_types/heatmap/renderer/canvas/canvas_renderers.ts
Labels: :chart, regression, :heatmap

#1551 fix(heatmap): fix unpredictable tick count
  packages/charts/src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
Labels: :data, visual testing, :ci, :heatmap

#1554 fix(deps): remove the ResizeObserver polyfill
  packages/charts/package.json
  packages/charts/src/components/chart_resizer.tsx
Labels: dependencies, :build

#1567 feat(xy): expose projection area
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-composable-basic-visually-looks-correct-1-snap.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/state/chart_state.tsx
  packages/charts/src/chart_types/xy_chart/state/selectors/on_projection_area_caller.ts
  packages/charts/src/index.ts
  packages/charts/src/specs/settings.tsx
  packages/charts/src/utils/dimensions.ts
  storybook/stories/composable/1_basic.story.tsx
  storybook/stories/composable/composable.stories.tsx
Labels: enhancement, :chart, :data, :xy
