Repository elastic/elastic-charts, pull requests merged in 2022-09, with the labels that each got.

#1808 fix(flame): undo the conversion to uniform buffer objects
  e2e/scripts/test.sh
  e2e/tests/flame_stories.test.ts
  packages/charts/src/chart_types/flame_chart/flame_chart.tsx
  packages/charts/src/chart_types/flame_chart/render/ensure_webgl.ts
  packages/charts/src/chart_types/flame_chart/shaders.ts
  packages/charts/src/common/kingly.ts
  packages/charts/src/common/webgl_constants.ts
Labels: :flamegraph

#1816 fix(metric): improve multi-line wrapping
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/grid-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-vertical-progress-bar-in-dark-mode-chrome-linux.png
  packages/charts/src/chart_types/metric/renderer/dom/text.tsx
Labels: enhancement, :metric

#1821 build: fix eslint got stuck on e2e reports
  .eslintignore
Labels: :build

#1819 feat(metric): add empty cell marker
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/grid-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-vertical-progress-bar-in-dark-mode-chrome-linux.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/metric/renderer/_index.scss
  packages/charts/src/chart_types/metric/renderer/dom/index.tsx
  packages/charts/src/chart_types/metric/renderer/dom/metric.tsx
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.ts
  storybook/stories/metric/2_grid.story.tsx
Labels: enhancement, :theme, :metric

#1817 feat(metric): add text value
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/grid-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-vertical-progress-bar-in-dark-mode-chrome-linux.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/metric/renderer/dom/_text.scss
  packages/charts/src/chart_types/metric/renderer/dom/metric.tsx
  packages/charts/src/chart_types/metric/renderer/dom/text.tsx
  packages/charts/src/chart_types/metric/specs/index.ts
  packages/charts/src/chart_types/specs.ts
  storybook/stories/metric/1_basic.story.tsx
  storybook/stories/metric/2_grid.story.tsx
Labels: breaking change, :metric

#1825 feat(metric): expose min metric height
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/metric/renderer/dom/index.tsx
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.ts
Labels: enhancement, :theme

#1827 chore(deps): remove elastic/kibana-buildkite-library dependency
  .buildkite/package.json
  .buildkite/yarn.lock
  github_bot/package.json
  github_bot/yarn.lock
Labels: chore, :build

#1829 chore(deps): Update lerna to 5.x
  lerna.json
  package.json
  yarn.lock
Labels: chore, dependencies, :build

#1830 fix(flamegraph): dark theme
  e2e/screenshots/all.test.ts-snapshots/baselines/flame-alpha/cpu-profile-gl-flame-chart-chrome-linux.png
  e2e/screenshots/flame_stories.test.ts-snapshots/flame-stories/should-focus-element-on-click-chrome-linux.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/flame_chart/flame_chart.tsx
  packages/charts/src/chart_types/flame_chart/render/draw_a_frame.ts
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.ts
  storybook/stories/icicle/04_cpu_profile_gl_flame.story.tsx
Labels: bug, :flamegraph, :theme

#1831 fix(flamegraph): dark theme (#1830) [49.x]
  e2e/screenshots/all.test.ts-snapshots/baselines/flame-alpha/cpu-profile-gl-flame-chart-chrome-linux.png
  e2e/screenshots/flame_stories.test.ts-snapshots/flame-stories/should-focus-element-on-click-chrome-linux.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/flame_chart/flame_chart.tsx
  packages/charts/src/chart_types/flame_chart/render/draw_a_frame.ts
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.ts
  storybook/stories/icicle/04_cpu_profile_gl_flame.story.tsx
Labels: backport
