Repository elastic/elastic-charts, pull requests merged in 2022-08, with the labels that each got.

#1761 feat: add wordwrap for text
  e2e/screenshots/all.test.ts-snapshots/baselines/utils-text/wrap-chrome-linux.png
  packages/charts/src/utils/text/wrap.ts
  storybook/stories/utils/text/1_wrap.story.tsx
  storybook/stories/utils/text/text.stories.tsx
Labels: enhancement, :all

#1767 feat: timeslip prototype added
  e2e/screenshots/all.test.ts-snapshots/baselines/timeslip-alpha/timeslip-prototype-chrome-linux.png
  package.json
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/index.ts
  packages/charts/src/chart_types/timeslip/internal_chart_state.ts
  packages/charts/src/chart_types/timeslip/timeslip/axis_model.ts
  packages/charts/src/chart_types/timeslip/timeslip/data.ts
  packages/charts/src/chart_types/timeslip/timeslip/domain_tween.ts
  packages/charts/src/chart_types/timeslip/timeslip/render/annotations/chart_title.ts
  packages/charts/src/chart_types/timeslip/timeslip/render/annotations/time_extent.ts
  packages/charts/src/chart_types/timeslip/timeslip/render/annotations/time_unit.ts
  packages/charts/src/chart_types/timeslip/timeslip/render/cartesian.ts
  packages/charts/src/chart_types/timeslip/timeslip/render/column.ts
  packages/charts/src/chart_types/timeslip/timeslip/render/glyphs/bar.ts
  packages/charts/src/chart_types/timeslip/timeslip/render/glyphs/boxplot.ts
  packages/charts/src/chart_types/timeslip/timeslip/render/glyphs/debug_box.ts
  packages/charts/src/chart_types/timeslip/timeslip/render/raster.ts
  packages/charts/src/chart_types/timeslip/timeslip/timeslip_render.ts
  packages/charts/src/chart_types/timeslip/timeslip/translations.ts
  packages/charts/src/chart_types/timeslip/timeslip/utils/dom.ts
  packages/charts/src/chart_types/timeslip/timeslip/utils/generator.ts
  packages/charts/src/chart_types/timeslip/timeslip/utils/math.ts
  packages/charts/src/chart_types/timeslip/timeslip/utils/projection.ts
  packages/charts/src/chart_types/timeslip/timeslip_api.ts
  packages/charts/src/chart_types/timeslip/timeslip_chart.tsx
  packages/charts/src/chart_types/xy_chart/axes/timeslip/rasters.ts
  packages/charts/src/index.ts
  packages/charts/src/state/chart_state.ts
  storybook/stories/timeslip/01_timeslip.story.tsx
  storybook/stories/timeslip/timeslip.stories.tsx
Labels: :interactions, :axis, :accessibility, :xy

#1721 feat(heatmap): Sync cursor from xy charts to Heatmap
  e2e/screenshots/all.test.ts-snapshots/baselines/interactions/multi-chart-cursor-sync-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/should-not-have-brush-tool-extend-into-axes-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/theme-dark/should-render-correct-brush-area-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/theme-eui-dark/should-render-correct-brush-area-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/theme-eui-light/should-render-correct-brush-area-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/theme-light/should-render-correct-brush-area-chrome-linux.png
  packages/charts/src/chart_types/heatmap/layout/types/viewmodel_types.ts
  packages/charts/src/chart_types/heatmap/layout/viewmodel/viewmodel.ts
  packages/charts/src/chart_types/heatmap/renderer/dom/cursor_band.tsx
  packages/charts/src/chart_types/heatmap/state/chart_state.tsx
  packages/charts/src/chart_types/heatmap/state/selectors/get_cursor_band.ts
  storybook/stories/interactions/19_multi_chart_cursor_sync.story.tsx
  storybook/stories/interactions/interactions.stories.tsx
Labels: enhancement, :interactions, :heatmap

#1790 fix(metric): clip title at right length
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/basic-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/grid-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-vertical-progress-bar-in-dark-mode-chrome-linux.png
  packages/charts/src/chart_types/metric/renderer/dom/_text.scss
  packages/charts/src/chart_types/metric/renderer/dom/text.tsx
Labels: bug, :metric

#1791 feat(xy): collapsing time into a single hh:mm[:ss] layer
  e2e/screenshots/all.test.ts-snapshots/baselines/area-chart/timeslip-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/interactions/multi-chart-cursor-sync-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/can-show-a-finer-raster-than-the-data-bin-width-if-min-interval-is-expressly-specified-to-be-low-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/renders-multilayer-time-axis-with-a-single-point-and-a-degenerate-zero-width-domain-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/renders-multilayer-time-axis-with-a-single-point-and-an-arbitrary-non-degenerate-domain-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-extend-the-domain-on-the-right-with-one-bin-width-with-custom-bin-width-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-extend-the-domain-on-the-right-with-one-bin-width-without-custom-bin-width-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-have-st-nd-rd-th-after-day-of-month-numbers-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-not-show-a-raster-that-is-finer-than-the-bin-width-min-interval-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/should-render-hour-raster-from-00-00-to-23-59-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/theme-dark/should-switch-to-a-30-minute-raster-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/theme-eui-dark/should-switch-to-a-30-minute-raster-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/theme-eui-light/should-switch-to-a-30-minute-raster-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/theme-light/should-switch-to-a-30-minute-raster-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/uses-proper-english-ending-at-a-daily-resolution-10th-25th-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/uses-proper-english-ending-at-a-daily-resolution-30th-14th-chrome-linux.png
  e2e/screenshots/axis_stories.test.ts-snapshots/axis-stories/uses-proper-english-ending-at-a-weekly-resolution-chrome-linux.png
  packages/charts/src/chart_types/timeslip/timeslip/timeslip_render.ts
  packages/charts/src/chart_types/xy_chart/axes/timeslip/multilayer_ticks.ts
  packages/charts/src/chart_types/xy_chart/axes/timeslip/rasters.ts
Labels: :axis, :xy

#1794 fix(deps): upgrade uuid to latest version
  jest.config.js
  package.json
  packages/charts/package.json
  packages/charts/src/components/chart.tsx
  packages/charts/src/utils/common.tsx
  yarn.lock
Labels: dependencies, :build

#1804 ci: fix flaky animation story
  .buildkite/utils/exec.ts
  e2e/page_objects/common.ts
  e2e/playwright.config.ts
  e2e/tests/annotations_stories.test.ts
Labels: visual testing, :ci, internal
