Repository elastic/elastic-charts, pull requests merged in 2022-03, with the labels that each got.

#1609 fix(axis): correct tick alignment in ordinal scale with numeric values
  integration/tests/__image_snapshots__/bar-stories-test-ts-bar-series-stories-test-switch-ordinal-linear-x-axis-using-ordinal-x-axis-1-snap.png
  packages/charts/src/chart_types/xy_chart/state/selectors/visible_ticks.ts
  storybook/stories/bar/40_test_switch.story.tsx
Labels: bug, :axis, regression, :xy

#1611 fix(partition): consider legend extras when computing the legend size
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-interactions-sunburst-slice-clicks-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-mosaic-alpha-simple-mosaic-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-waffle-alpha-simple-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-waffle-alpha-test-visually-looks-correct-1-snap.png
  integration/tests/__image_snapshots__/interactions-test-ts-interactions-tooltips-should-show-tooltip-on-sunburst-1-snap.png
  integration/tests/__image_snapshots__/waffle-stories-test-ts-waffle-should-render-cells-in-ascending-order-1-snap.png
  packages/charts/src/chart_types/partition_chart/layout/utils/legend_labels.ts
  packages/charts/src/chart_types/partition_chart/state/chart_state.tsx
  packages/charts/src/chart_types/partition_chart/state/selectors/get_legend_items_labels.ts
  storybook/stories/waffle/1_simple.story.tsx
Labels: bug, :legend, :partition

#1618 build: migrate `node-sass` to latest `sass`
  .prettierignore
  e2e-server/server/webpack.config.js
  integration/jest_puppeteer.config.js
  integration/server/webpack.config.js
  integration/tests/__image_snapshots__/legend-stories-test-ts-legend-stories-should-render-color-picker-on-mouse-click-1-snap.png
  package.json
  packages/charts/package.json
  packages/charts/src/_eui_imports.scss
  packages/charts/src/_reset.scss
  packages/charts/src/theme_dark.scss
  packages/charts/src/theme_light.scss
  packages/charts/src/theme_only_dark.scss
  packages/charts/src/theme_only_light.scss
  playground/webpack.config.js
  storybook/package.json
  storybook/stories/legend/9_color_picker.story.tsx
  storybook/stories/utils/components/get_color_picker.tsx
  storybook/style.scss
  storybook/webpack.config.js
  wiki/consuming.md
  yarn.lock
Labels: :docs, dependencies, :build

#1619 fix(heatmap): align debug state with the visualized axis labels
  packages/charts/src/chart_types/heatmap/state/selectors/get_debug_state.ts
Labels: regression, :heatmap

#1621 feat(goal): expose max sizing limits in theme.goal options
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/goal_chart/layout/viewmodel/geoms.ts
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.ts
Labels: enhancement, :styling, :bullet/goal/gauge

#1634 fix(axis): ordinal number ending fix for the weekly resolution
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-can-render-multilayer-time-axis-on-top-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-uses-proper-english-ending-at-a-daily-resolution-10th-25th-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-uses-proper-english-ending-at-a-daily-resolution-30th-14th-1-snap.png
  integration/tests/__image_snapshots__/axis-stories-test-ts-axis-stories-uses-proper-english-ending-at-a-weekly-resolution-1-snap.png
  integration/tests/axis_stories.test.ts
  packages/charts/src/chart_types/xy_chart/axes/timeslip/rasters.ts
  storybook/parameters.ts
Labels: :axis, :xy

#1636 fix(style): don't export EUI styles
  packages/charts/src/_eui_imports.scss
Labels: :styling, :all
