Repository elastic/elastic-charts, pull requests merged in 2023-02, with the labels that each got.

#1915 feat: tooltip container
  e2e/screenshots/interactions.test.ts-snapshots/interactions/tooltips/should-render-custom-tooltip-chrome-linux.png
  e2e/screenshots/stylings_stories.test.ts-snapshots/stylings-stories/highlight-style-and-point-buffer-chrome-linux.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/renderer/dom/annotations/tooltip_content.tsx
  packages/charts/src/components/tooltip/components/_tooltip.scss
  packages/charts/src/components/tooltip/components/_tooltip_footer.scss
  packages/charts/src/components/tooltip/components/index.ts
  packages/charts/src/components/tooltip/components/tooltip_body.tsx
  packages/charts/src/components/tooltip/components/tooltip_container.tsx
  packages/charts/src/components/tooltip/components/tooltip_header.tsx
  packages/charts/src/components/tooltip/components/tooltip_provider.tsx
  packages/charts/src/components/tooltip/components/tooltip_table.tsx
  packages/charts/src/components/tooltip/components/tooltip_table_body.tsx
  packages/charts/src/components/tooltip/components/tooltip_table_color_cell.tsx
  packages/charts/src/components/tooltip/components/tooltip_wrapper.tsx
  packages/charts/src/components/tooltip/placement.ts
  packages/charts/src/components/tooltip/tooltip.tsx
  packages/charts/src/specs/tooltip.ts
  storybook/stories/components/tooltip/1_composed_list.story.tsx
  storybook/stories/components/tooltip/2_composed_table.story.tsx
  storybook/stories/components/tooltip/3_tabular_data.story.tsx
  storybook/stories/components/tooltip/4_actions_with_custom_tooltip.story.tsx
  storybook/stories/components/tooltip/data/list.ts
Labels: enhancement, :tooltip, :all

#1951 feat(metric): new size breakpoints
  packages/charts/src/chart_types/metric/renderer/dom/text.tsx
Labels: enhancement, :styling, :metric

#1957 fix(partition): tooltip item series identifier
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/picked_shapes.ts
Labels: :tooltip, :partition

#1968 fix(flamegraph): show tooltip prompt only if pinnable (#1967) [52.x]
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/flamegraph/hide-prompt-with-no-actions-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/flamegraph/show-prompt-with-actions-chrome-linux.png
  e2e/tests/tooltip.test.ts
  packages/charts/src/chart_types/flame_chart/flame_chart.tsx
  packages/charts/src/state/selectors/can_pin_tooltip.ts
  storybook/stories/components/tooltip/13_flamegraph.story.tsx
Labels: backport

#1958 fix(xy): respect `integersOnly` prop on axis component
  e2e/screenshots/all.test.ts-snapshots/baselines/axes/show-only-integers-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/test-cases/filter-zeros-in-log-fit-domain-chrome-linux.png
  packages/charts/src/scales/scale_continuous.test.ts
  packages/charts/src/scales/scale_continuous.ts
  storybook/stories/axes/15_integers_only.story.tsx
Labels: :axis, :xy

#1959 fix(partition): allow custom sorting for the legend items
  e2e/screenshots/all.test.ts-snapshots/baselines/legend/piechart-chrome-linux.png
  e2e/screenshots/legend_stories.test.ts-snapshots/legend-stories/extra-values/should-display-flat-legend-extra-values-on-sunburst-chrome-linux.png
  e2e/screenshots/legend_stories.test.ts-snapshots/legend-stories/extra-values/should-display-flat-legend-extra-values-on-treemap-chrome-linux.png
  e2e/screenshots/legend_stories.test.ts-snapshots/legend-stories/should-correctly-render-multiline-nested-legend-labels-chrome-linux.png
  packages/charts/src/chart_types/partition_chart/layout/utils/legend.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/compute_legend.ts
  storybook/stories/legend/10_sunburst.story.tsx
Labels: :legend, :partition

#1971 fix(annotation): render annotations correctly based on passed handlers
  packages/charts/src/chart_types/xy_chart/renderer/dom/annotations/_annotations.scss
  packages/charts/src/chart_types/xy_chart/renderer/dom/annotations/line_marker.tsx
Labels: :annotation, :xy
