Repository elastic/elastic-charts, pull requests merged in 2023-03, with the labels that each got.

#1985 fix(xy): dataIndex keeps original data order on small multiples
  integration/tests/__image_snapshots__/all-test-ts-baseline-visual-tests-for-all-stories-small-multiples-alpha-sorting-visually-looks-correct-1-snap.png
  packages/charts/api/charts.api.md
  packages/charts/src/common/predicate.ts
  packages/charts/src/index.ts
  storybook/stories/small_multiples/1_grid.story.tsx
  storybook/stories/small_multiples/8_sorting.story.tsx
  storybook/stories/small_multiples/small_multiples.stories.tsx
Labels: backport, :small multiples, ci:skip

#1994 ci: fix release error with json-schema package
  .buildkite/package.json
  .buildkite/yarn.lock
  github_bot/package.json
  github_bot/yarn.lock
  renovate.json
Labels: :ci

#2003 docs: remove legacy unused docs
  docs/0-Intro/0-Intro.mdx
  docs/0-Intro/1-Overview.mdx
  docs/1-Typesofchart/0-Bar.mdx
  docs/1-Typesofchart/1-Area.mdx
  docs/1-Typesofchart/2-Line.mdx
  docs/1-Typesofchart/3-Stacked.mdx
  docs/1-Typesofchart/4-Sunburts.mdx
  docs/1-Typesofchart/5-AnnotatingBars.mdx
  docs/1-Typesofchart/6-LegendsBars.mdx
  docs/1-Typesofchart/8-Donut.mdx
  docs/2-ChartPropTables/10-BarWAxisProps.md
  docs/2-ChartPropTables/11-SettingsProps.md
  docs/2-ChartPropTables/12-AxisProps.md
  docs/2-ChartPropTables/13-AreaProps.md
  docs/2-ChartPropTables/14-LineProps.md
  docs/2-ChartPropTables/7-PropTables.mdx
  docs/2-ChartPropTables/8-ConsolidatedSnippets.mdx
  docs/2-ChartPropTables/9-BarProps.md
  docs/charts.tsx
  storybook/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: :docs
