Repository elastic/elastic-charts, pull requests merged in 2023-04, with the labels that each got.

#1989 fix(tooltip): custom tooltip header context
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/state/selectors/get_tooltip_values_highlighted_geoms.ts
  packages/charts/src/chart_types/xy_chart/tooltip/tooltip.test.ts
  packages/charts/src/chart_types/xy_chart/tooltip/tooltip.ts
  packages/charts/src/components/tooltip/components/tooltip_header.tsx
  packages/charts/src/components/tooltip/tooltip.tsx
  packages/charts/src/components/tooltip/types.ts
  packages/charts/src/specs/tooltip.ts
  packages/charts/src/state/types.ts
  storybook/stories/bar/17_time_stacked.story.tsx
  storybook/stories/components/tooltip/data/list.ts
  storybook/stories/interactions/1_bar_clicks.story.tsx
Labels: :tooltip, breaking change, API

#2013 fix(interactions): brushing over origin coordinates
  e2e/screenshots/interactions.test.ts-snapshots/interactions/should-not-disable-dragging-when-returning-to-origin-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/should-not-show-tooltip-after-brushing-has-been-enabled-chrome-linux.png
  e2e/tests/interactions.test.ts
  packages/charts/src/chart_types/heatmap/state/chart_state.tsx
  packages/charts/src/chart_types/heatmap/state/selectors/get_brush_area.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_cursor_pointer.ts
  packages/charts/src/chart_types/heatmap/state/selectors/get_highlighted_area.ts
  packages/charts/src/chart_types/xy_chart/renderer/dom/cursor_band.tsx
  packages/charts/src/chart_types/xy_chart/renderer/dom/cursor_line.tsx
  packages/charts/src/chart_types/xy_chart/renderer/dom/highlighter.tsx
  packages/charts/src/chart_types/xy_chart/state/chart_state.tsx
  packages/charts/src/chart_types/xy_chart/state/selectors/get_cursor_pointer.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/is_brushing.ts
  packages/charts/src/components/legend/legend.tsx
  packages/charts/src/components/tooltip/tooltip.tsx
  packages/charts/src/state/reducers/interactions.ts
  packages/charts/src/state/selectors/is_brushing.ts
Labels: :interactions, :all

#2011 feat(metric): trend with string value
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/text-value-with-trend-chrome-linux.png
  e2e/tests/metric_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/metric/specs/index.ts
  storybook/stories/metric/1_basic.story.tsx
Labels: API, :metric

#2010 style(metric): small stylistic adjustments
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/basic-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/grid-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-vertical-progress-bar-in-dark-mode-chrome-linux.png
  packages/charts/src/chart_types/metric/renderer/dom/_text.scss
  packages/charts/src/chart_types/metric/renderer/dom/metric.tsx
  packages/charts/src/chart_types/metric/renderer/dom/text.tsx
Labels: enhancement, :styling, :metric
