Repository elastic/elastic-charts, pull requests merged in 2023-06, with the labels that each got.

#2054 build: change typescript target ES2019
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  tsconfig.json
Labels: kibana cross issue, :build

#2053 chore: remove deprecated types
  e2e/page_objects/common.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/partition_chart/layout/types/config.ts
  packages/charts/src/chart_types/partition_chart/layout/types/config_types.ts
  packages/charts/src/chart_types/xy_chart/annotations/line/dimensions.test.ts
  packages/charts/src/chart_types/xy_chart/annotations/tooltip.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/values/bar.ts
  packages/charts/src/chart_types/xy_chart/rendering/bars.ts
  packages/charts/src/chart_types/xy_chart/rendering/rendering.bars.test.ts
  packages/charts/src/chart_types/xy_chart/state/chart_state.interactions.test.tsx
  packages/charts/src/chart_types/xy_chart/state/chart_state.timescales.test.ts
  packages/charts/src/chart_types/xy_chart/state/chart_state.tooltip.test.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.test.ts
  packages/charts/src/chart_types/xy_chart/utils/grid_lines.ts
  packages/charts/src/chart_types/xy_chart/utils/specs.ts
  packages/charts/src/index.ts
  packages/charts/src/mocks/specs/specs.ts
  packages/charts/src/specs/settings.test.tsx
  packages/charts/src/specs/settings.tsx
  packages/charts/src/specs/tooltip.ts
  packages/charts/src/state/selectors/get_tooltip_spec.ts
  packages/charts/src/state/spec_factory.ts
  packages/charts/src/utils/geometry.ts
  packages/charts/src/utils/themes/merge_utils.ts
  packages/charts/src/utils/themes/theme.test.ts
  packages/charts/src/utils/themes/theme.ts
  storybook/stories/annotations/lines/1_x_continuous.story.tsx
  storybook/stories/annotations/lines/6_test_single_bar_histogram.story.tsx
  storybook/stories/area/21_with_time_timeslip.story.tsx
  storybook/stories/bar/12_stacked_as_percentage.story.tsx
  storybook/stories/bar/2_label_value.story.tsx
  storybook/stories/bar/51_label_value_advanced.story.tsx
  storybook/stories/components/tooltip/10_cartesian_chart.story.tsx
  storybook/stories/grids/1_basic.story.tsx
  storybook/stories/grids/2_multiple_axes.story.tsx
  storybook/stories/legend/7_display_values.story.tsx
  storybook/stories/legend/legend.stories.tsx
  storybook/stories/line/12_isolated_data_points.story.tsx
  storybook/stories/stylings/26_highlighter_style.story.tsx
  storybook/stories/stylings/2_margins.story.tsx
Labels: chore, API, :all

#2065 ci(screenshots): cull stale baselines
  e2e/screenshots/all.test.ts-snapshots/baselines/legend/display-values-in-legend-elements-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/should-not-disable-dragging-when-returning-to-origin-chrome-linux.png
  e2e/screenshots/stylings_stories.test.ts-snapshots/stylings-stories/texture/area/should-allow-any-random-texture-customization-chrome1-linux.png
Labels: :ci, internal

#2066 build: upgrade node to 18.x
  .buildkite/scripts/steps/e2e_server.ts
  .buildkite/scripts/steps/storybook.ts
  .github/workflows/release.yaml
  .nvmrc
  package.json
Labels: :build

#2071 fix: `Chart` component `children` type
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/specs.ts
  packages/charts/src/components/chart.tsx
  packages/charts/src/components/index.ts
  packages/charts/src/index.ts
  storybook/stories/annotations/rects/4_styling.story.tsx
Labels: API

#2068 feat(flame): expose search field text and search text change listener
  e2e/screenshots/flame_stories.test.ts-snapshots/flame-stories/should-focus-on-searched-terms-chrome-linux.png
  e2e/tests/flame_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/flame_chart/flame_api.ts
  packages/charts/src/chart_types/flame_chart/flame_chart.tsx
  storybook/stories/icicle/04_cpu_profile_gl_flame.story.tsx
Labels: enhancement, :interactions, API, :flamegraph

#2077 ci: fix execSync input parameter
  .buildkite/scripts/steps/eslint.ts
  .buildkite/utils/exec.ts
  .buildkite/utils/github.ts
Labels: :ci

#2079 fix: remove unused redux dev tools
  package.json
  packages/charts/src/components/chart.tsx
  yarn.lock
Labels: bug, :all
