Repository elastic/elastic-charts, pull requests merged in 2023-07, with the labels that each got.

#2084 style(tooltip): update selected row styles
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/selecting-series-on-pinned-tooltip-async-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/selecting-series-on-pinned-tooltip-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/show-loading-prompt-for-async-actions-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/flamegraph/pinning-with-selection-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/heatmap/pinning-with-selection-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/partition/pinning-with-selection-chrome-linux.png
  packages/charts/src/components/tooltip/components/_tooltip.scss
  packages/charts/src/components/tooltip/components/tooltip_table.tsx
Labels: :styling, :tooltip, :all

#2093 refactor: improve condition statements
  packages/charts/src/chart_types/heatmap/state/selectors/on_element_click_caller.ts
  packages/charts/src/utils/common.tsx
Labels: :refactor, ci:approved ✅

#2101 feat(metric): add value icon and color
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/value-icon-and-value-color-chrome-linux.png
  e2e/tests/metric_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/metric/renderer/dom/_text.scss
  packages/charts/src/chart_types/metric/renderer/dom/text.tsx
  packages/charts/src/chart_types/metric/specs/index.ts
  storybook/stories/metric/1_basic.story.tsx
Labels: enhancement, :metric
