Repository elastic/elastic-charts, pull requests merged in 2024-10, with the labels that each got.

#2537 test(perf): fix reduce performance measure threshold
  e2e/tests/performance.test.ts
Labels: :performance

#2524 feat(xy): render sorting
  e2e/screenshots/all.test.ts-snapshots/baselines/bar-chart/rendering-sort-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/bar-chart/with-value-label-advanced-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/bar-chart/with-value-label-chrome-linux.png
  e2e/screenshots/bar_stories.test.ts-snapshots/bar-series-stories/should-sort-legend-independent-from-render-sort-chrome-linux.png
  e2e/screenshots/bar_stories.test.ts-snapshots/bar-series-stories/value-labels-positioning/clip-both-geometry-and-chart-area-values-chrome-linux.png
  e2e/screenshots/styles.test.ts-snapshots/styles/should-hide-the-value-label-with-0-border-width-chrome-linux.png
  e2e/screenshots/styles.test.ts-snapshots/styles/should-hide-the-value-label-with-0-text-border-chrome-linux.png
  e2e/tests/bar_stories.test.ts
  e2e/tests/performance.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/legend/legend.test.ts
  packages/charts/src/chart_types/xy_chart/legend/legend.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_tooltip_values_highlighted_geoms.ts
  packages/charts/src/chart_types/xy_chart/state/utils/__snapshots__/utils.test.ts.snap
  packages/charts/src/chart_types/xy_chart/state/utils/utils.ts
  packages/charts/src/chart_types/xy_chart/utils/__snapshots__/series.test.ts.snap
  packages/charts/src/chart_types/xy_chart/utils/default_series_sort_fn.ts
  packages/charts/src/chart_types/xy_chart/utils/series.test.ts
  packages/charts/src/chart_types/xy_chart/utils/series.ts
  packages/charts/src/mocks/series/series.ts
  packages/charts/src/mocks/series/series_identifiers.ts
  packages/charts/src/mocks/utils.ts
  packages/charts/src/specs/settings.tsx
  packages/charts/src/specs/tooltip.ts
  packages/charts/src/utils/series_sort.ts
  storybook/stories/bar/10a_rendering_sort.story.tsx
  storybook/stories/bar/bars.stories.tsx
  storybook/stories/utils/datasets/test_log_data.ts
  storybook/stories/utils/knobs/custom.ts
Labels: enhancement, :data, :xy

#2538 refactor(xy): cleaup loops
  packages/charts/src/chart_types/xy_chart/utils/fill_series.ts
  packages/charts/src/chart_types/xy_chart/utils/series.ts
Labels: enhancement, :xy, :performance

#2555 chore: remove unused `hideLinesTooltips` prop on `LineAnnotationSpec`
  docs/docs/api/specs/xy/line_annotation.mdx
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/specs/line_annotation.ts
  packages/charts/src/chart_types/xy_chart/utils/specs.ts
Labels: :annotation, API

#2548 fix(Metric): improve default font-sizing
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/array-of-values-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/basic-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/grid-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/trend-multiple-data-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/test-cases/metric-trend-length-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-horizontal/bullet-as-metric/should-render-with-negative-values-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-horizontal/bullet-as-metric/should-render-with-negative-values-reversed-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-horizontal/bullet-as-metric/should-render-with-positive-negative-values-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-horizontal/bullet-as-metric/should-render-with-positive-negative-values-reversed-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-two-thirds-circle/bullet-as-metric/should-render-with-negative-values-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-two-thirds-circle/bullet-as-metric/should-render-with-negative-values-reversed-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-two-thirds-circle/bullet-as-metric/should-render-with-positive-negative-values-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-two-thirds-circle/bullet-as-metric/should-render-with-positive-negative-values-reversed-chrome-linux.png
  e2e/screenshots/chart.test.ts-snapshots/chart/sizing/should-accommodate-chart-title-and-description-metric-sm-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-bar-type/dark-theme/should-render-metric-with-click-interaction-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-bar-type/dark-theme/should-render-metric-with-hover-interaction-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-bar-type/dark-theme/should-render-metric-with-transparent-bg-color-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-bar-type/light-theme/should-render-metric-with-click-interaction-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-bar-type/light-theme/should-render-metric-with-hover-interaction-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-bar-type/light-theme/should-render-metric-with-transparent-bg-color-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-bar-type/should-render-with-blended-background-color-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-none-type/dark-theme/should-render-metric-with-click-interaction-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-none-type/dark-theme/should-render-metric-with-hover-interaction-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-none-type/dark-theme/should-render-metric-with-transparent-bg-color-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-none-type/light-theme/should-render-metric-with-click-interaction-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-none-type/light-theme/should-render-metric-with-hover-interaction-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-none-type/light-theme/should-render-metric-with-transparent-bg-color-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-none-type/should-render-with-blended-background-color-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-trend-type/dark-theme/should-render-metric-with-click-interaction-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-trend-type/dark-theme/should-render-metric-with-hover-interaction-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-trend-type/dark-theme/should-render-metric-with-transparent-bg-color-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-trend-type/light-theme/should-render-metric-with-click-interaction-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-trend-type/light-theme/should-render-metric-with-hover-interaction-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-trend-type/light-theme/should-render-metric-with-transparent-bg-color-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/metric-trend-type/should-render-with-blended-background-color-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-horizontal-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-metric-value-fit-font-size-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-no-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-vertical-progress-bar-in-dark-mode-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-render-with-empty-and-missing-background-colors-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/small-size-with-default-font-size-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/small-size-with-fit-font-size-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/small-size-with-fixed-font-size-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/text-value-with-trend-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/value-icon-and-value-color-chrome-linux.png
  e2e/tests/metric_stories.test.ts
  packages/charts/src/chart_types/bullet_graph/renderer/canvas/index.tsx
  packages/charts/src/chart_types/metric/renderer/dom/index.tsx
  packages/charts/src/chart_types/metric/renderer/dom/metric.tsx
  packages/charts/src/chart_types/metric/renderer/dom/text.tsx
  packages/charts/src/chart_types/metric/renderer/dom/text_measurements.tsx
  packages/charts/src/chart_types/metric/renderer/dom/text_processing.tsx
Labels: enhancement, :metric

#2557 fix(xy): single point visibility
  e2e/screenshots/all.test.ts-snapshots/baselines/area-chart/test-single-point-chrome-linux.png
  packages/charts/src/chart_types/xy_chart/renderer/canvas/areas.ts
  packages/charts/src/chart_types/xy_chart/renderer/canvas/lines.ts
  storybook/stories/area/22_single_point_test.story.tsx
  storybook/stories/area/area.stories.tsx
Labels: bug, regression, :xy, :rendering
