Repository elastic/elastic-charts, pull requests merged in 2024-01, with the labels that each got.

#2115 fix(legend): improve last value handling
  e2e/screenshots/all.test.ts-snapshots/baselines/test-cases/domain-edges-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/legend-last-value-should-be-aligned-across-areas-and-bars/custom-1ms-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/legend-last-value-should-be-aligned-across-areas-and-bars/custom-domain-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/legend-last-value-should-be-aligned-across-areas-and-bars/custom-empty-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/legend-last-value-should-be-aligned-across-areas-and-bars/data-domain-chrome-linux.png
  e2e/tests/test_cases_stories.test.ts
  packages/charts/src/chart_types/xy_chart/domains/types.ts
  packages/charts/src/chart_types/xy_chart/domains/x_domain.ts
  packages/charts/src/chart_types/xy_chart/legend/legend.test.ts
  packages/charts/src/chart_types/xy_chart/legend/legend.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/compute_legend.ts
  packages/charts/src/chart_types/xy_chart/state/utils/get_last_value.ts
  packages/charts/src/chart_types/xy_chart/state/utils/utils.test.ts
  packages/charts/src/mocks/xy/domains.ts
  storybook/stories/test_cases/21_domain_edges.story.tsx
  storybook/stories/test_cases/test_cases.stories.tsx
Labels: bug, enhancement, :data, :xy, breaking change

#2308 feat(legend): expose extra raw values
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/hierarchy_of_arrays.ts
  packages/charts/src/chart_types/xy_chart/legend/legend.test.ts
  packages/charts/src/chart_types/xy_chart/legend/legend.ts
  packages/charts/src/chart_types/xy_chart/tooltip/tooltip.ts
  packages/charts/src/common/legend.ts
  packages/charts/src/components/legend/extra.tsx
  packages/charts/src/components/legend/legend_item.tsx
  packages/charts/src/components/legend/utils.ts
  packages/charts/src/specs/settings.tsx
Labels: enhancement, :legend, :xy, breaking change

#2305 refactor(axes): replace `integersOnly` with `maximumFractionDigits`
  e2e/screenshots/all.test.ts-snapshots/baselines/axes/maximum-fraction-digits-chrome-linux.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/state/selectors/visible_ticks.ts
  packages/charts/src/chart_types/xy_chart/utils/axis_utils.ts
  packages/charts/src/chart_types/xy_chart/utils/scales.ts
  packages/charts/src/chart_types/xy_chart/utils/specs.ts
  packages/charts/src/scales/scale_continuous.test.ts
  packages/charts/src/scales/scale_continuous.ts
  storybook/stories/annotations/lines/8_advanced_markers.story.tsx
  storybook/stories/axes/15_integers_only.story.tsx
  storybook/stories/axes/15_maximum_fraction_digits.story.tsx
  storybook/stories/axes/axes.stories.tsx
  storybook/stories/grids/1_basic.story.tsx
  storybook/stories/test_cases/4_filter_zero_values_log.story.tsx
  storybook/stories/test_cases/5_legend_scroll_bar_sizing.story.tsx
Labels: enhancement, kibana cross issue, :axis, :xy, :Lens

#2278 fix(styles): isolated point style overrides
  e2e/tests/area_stories.test.ts
  packages/charts/src/chart_types/xy_chart/rendering/line_area_style.ts
  packages/charts/src/chart_types/xy_chart/state/utils/utils.ts
  storybook/stories/line/12_isolated_data_points.story.tsx
Labels: :styling, :xy

#2310 perf(tooltip): improve placement logic
  packages/charts/src/components/portal/tooltip_portal.tsx
  packages/charts/src/components/tooltip/tooltip.tsx
  packages/charts/src/state/selectors/get_tooltip_settings.ts
Labels: :tooltip, :all

#2270 fix: use passed size in pixel without waiting for resizeObserver
  e2e/screenshots/all.test.ts-snapshots/baselines/test-cases/resize-debounce-chrome-linux.png
  packages/charts/api/charts.api.md
  packages/charts/package.json
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/components/chart.tsx
  packages/charts/src/components/chart_resizer.tsx
  packages/charts/src/specs/constants.ts
  packages/charts/src/specs/settings.tsx
  packages/charts/src/utils/chart_size.ts
  storybook/stories/test_cases/11_resize_debounce.story.tsx
  storybook/stories/test_cases/test_cases.stories.tsx
  yarn.lock
Labels: bug, :chart, :all, :metric
