Repository elastic/elastic-charts, pull requests merged in 2024-06, with the labels that each got.

#2439 feat(legend): improve tooltip wording
  e2e/tests/legend_stories.test.ts
  packages/charts/src/components/legend/__snapshots__/legend.test.tsx.snap
  packages/charts/src/components/legend/label.tsx
Labels: :legend, :accessibility, :xy

#2457 fix(sunburst): rendering for full sections
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/should-render-sunburst-as-full-circle-chrome-linux.png
  e2e/tests/test_cases_stories.test.ts
  packages/charts/src/chart_types/partition_chart/layout/viewmodel/viewmodel.ts
  storybook/stories/sunburst/15_single.story.tsx
Labels: :partition, :rendering

#2446 perf: replace spread with concat where useful
  packages/charts/src/chart_types/xy_chart/annotations/rect/dimensions.ts
  packages/charts/src/chart_types/xy_chart/domains/x_domain.ts
  packages/charts/src/chart_types/xy_chart/domains/y_domain.ts
  packages/charts/src/chart_types/xy_chart/rendering/points.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_debug_state.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/visible_ticks.ts
  packages/charts/src/chart_types/xy_chart/state/utils/utils.ts
  packages/charts/src/chart_types/xy_chart/utils/grid_lines.ts
  packages/charts/src/chart_types/xy_chart/utils/series.ts
Labels: :performance

#2448 chore: reduce non-numeric number noise in logs
  packages/charts/src/chart_types/xy_chart/utils/series.test.ts
  packages/charts/src/chart_types/xy_chart/utils/series.ts
Labels: chore

#2464 fix: point style accessor for isolated points
  e2e/screenshots/all.test.ts-snapshots/baselines/test-cases/point-style-overrides-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/isolated-point-styles/should-override-all-point-styles-with-point-accessor-styles-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/isolated-point-styles/should-override-theme-and-series-point-styles-with-iso-point-styles-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/isolated-point-styles/should-override-theme-point-and-iso-point-styles-with-series-styles-chrome-linux.png
  e2e/tests/test_cases_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/rendering/points.ts
  packages/charts/src/chart_types/xy_chart/rendering/rendering.test.ts
  packages/charts/src/chart_types/xy_chart/utils/specs.ts
  storybook/stories/line/12_isolated_data_points.story.tsx
  storybook/stories/test_cases/13_point_style_overrides.story.tsx
  storybook/stories/test_cases/test_cases.stories.tsx
Labels: :styling, :xy

#2473 ci: update release workflow deps
  .github/workflows/release.yaml
Labels: :ci, ci:skip

#2472 fix: add option to disable the isolated point styles on line and area charts
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/isolated-point-styles/should-disable-isolated-point-styles-chrome-linux.png
  e2e/tests/test_cases_stories.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/xy_chart/rendering/area.ts
  packages/charts/src/chart_types/xy_chart/rendering/line.ts
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/legacy_dark_theme.ts
  packages/charts/src/utils/themes/legacy_light_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.ts
  storybook/stories/test_cases/13_point_style_overrides.story.tsx
Labels: :styling, :xy, :theme

#2471 fix: outside rect annotation placement and group relations
  e2e/screenshots/annotations_stories.test.ts-snapshots/annotations-stories/outside-annotations/should-render-outside-annotations-with-no-group-ids-chrome-linux.png
  e2e/tests/annotations_stories.test.ts
  package.json
  packages/charts/src/chart_types/xy_chart/annotations/rect/dimensions.ts
  packages/charts/src/chart_types/xy_chart/state/utils/common.ts
  packages/charts/src/chart_types/xy_chart/state/utils/spec.ts
  storybook/stories/annotations/rects/6_zero_domain.story.tsx
  storybook/stories/annotations/rects/7_with_group_id.story.tsx
  storybook/stories/annotations/rects/8_outside.story.tsx
Labels: :annotation, :xy
