Repository elastic/elastic-charts, pull requests merged in 2024-05, with the labels that each got.

#2407 fix(barSeries): error rendering bars with negative log scale
  e2e/screenshots/all.test.ts-snapshots/baselines/test-cases/log-with-negative-values-chrome-linux.png
  e2e/screenshots/bar_stories.test.ts-snapshots/bar-series-stories/should-not-render-min-bar-heights-for-log-scale-values-at-baseline-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/log-scales/should-correctly-render-negative-values-from-baseline-when-banded-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/log-scales/should-correctly-render-negative-values-from-baseline-when-stacked-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/log-scales/should-correctly-render-tooltip-values-for-banded-bars-chrome-linux.png
  e2e/tests/bar_stories.test.ts
  e2e/tests/test_cases_stories.test.ts
  packages/charts/src/chart_types/xy_chart/renderer/dom/highlighter.tsx
  packages/charts/src/chart_types/xy_chart/rendering/__snapshots__/rendering.bars.test.ts.snap
  packages/charts/src/chart_types/xy_chart/rendering/bars.ts
  packages/charts/src/chart_types/xy_chart/rendering/points.ts
  packages/charts/src/chart_types/xy_chart/rendering/rendering.bars.test.ts
  packages/charts/src/chart_types/xy_chart/rendering/utils.ts
  packages/charts/src/chart_types/xy_chart/state/selectors/get_tooltip_values_highlighted_geoms.ts
  packages/charts/src/chart_types/xy_chart/state/utils/utils.ts
  packages/charts/src/chart_types/xy_chart/tooltip/tooltip.ts
  packages/charts/src/utils/common.test.ts
  packages/charts/src/utils/common.tsx
  storybook/stories/bar/45_min_height.story.tsx
  storybook/stories/scales/7_log_scale_options.story.tsx
  storybook/stories/test_cases/12_log_with_negative_values.story.tsx
  storybook/stories/test_cases/test_cases.stories.tsx
Labels: :data, :tooltip, :xy

#2427 feat(Legend): change click on item behaviour
  e2e/page_objects/common.ts
  e2e/tests/area_stories.test.ts
  e2e/tests/interactions.test.ts
  e2e/tests/legend_stories.test.ts
  e2e/tests/mixed_stories.test.ts
  packages/charts/src/chart_types/xy_chart/legend/legend.test.ts
  packages/charts/src/components/legend/label.tsx
  packages/charts/src/state/actions/legend.ts
  packages/charts/src/state/reducers/interactions.ts
Labels: :legend, :xy

#2428 feat(metric): support array of values
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/array-of-values-chrome-linux.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/metric/renderer/dom/text.tsx
  packages/charts/src/chart_types/metric/specs/index.ts
  packages/charts/src/chart_types/specs.ts
  packages/charts/src/utils/common.tsx
  storybook/stories/metric/5_array_of_values.story.tsx
  storybook/stories/metric/metric.stories.tsx
Labels: :metric

#2431 feat(legend): change click on item behaviour
  e2e/page_objects/common.ts
  e2e/tests/area_stories.test.ts
  e2e/tests/interactions.test.ts
  e2e/tests/legend_stories.test.ts
  e2e/tests/mixed_stories.test.ts
  packages/charts/src/chart_types/xy_chart/legend/legend.test.ts
  packages/charts/src/components/legend/label.tsx
  packages/charts/src/state/actions/legend.ts
  packages/charts/src/state/reducers/interactions.ts
Labels: :legend, :xy

#2418 feat(legend): Improve interactions legend labels
  e2e/screenshots/all.test.ts-snapshots/baselines/legend/legend-item-interaction-help-chrome-linux.png
  e2e/tests/legend_stories.test.ts
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/components/legend/__snapshots__/legend.test.tsx.snap
  packages/charts/src/components/legend/label.tsx
  packages/charts/src/components/legend/legend.tsx
  packages/charts/src/components/legend/legend_item.tsx
Labels: enhancement, :legend

#2440 fix: react component type errors
  e2e_server/server/mocks/use_global_parameters.ts
  package.json
  packages/charts/api/charts.api.md
  packages/charts/package.json
  packages/charts/tsconfig.json
  yarn.lock
Labels: dependencies, :build
