Repository elastic/elastic-charts, pull requests merged in 2025-09, with the labels that each got.

#2714 test(enzyme): Migrate Enzyme to RTL
  jest.config.js
  package.json
  packages/charts/src/chart_types/xy_chart/annotations/line/tooltip.test.tsx
  packages/charts/src/chart_types/xy_chart/renderer/dom/annotations/annotation_tooltip.tsx
  packages/charts/src/chart_types/xy_chart/renderer/dom/annotations/line_marker.tsx
  packages/charts/src/chart_types/xy_chart/renderer/dom/annotations/tooltip_content.tsx
  packages/charts/src/chart_types/xy_chart/specs/line_annotation.test.tsx
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/components/accessibility/accessibility.test.tsx
  packages/charts/src/components/accessibility/goal_semantic_description.tsx
  packages/charts/src/components/accessibility/partitions_data_table.tsx
  packages/charts/src/components/accessibility/screen_reader_summary.tsx
  packages/charts/src/components/chart.test.tsx
  packages/charts/src/components/chart.tsx
  packages/charts/src/components/error_boundary.test.tsx
  packages/charts/src/components/legend/__snapshots__/legend.test.tsx.snap
  packages/charts/src/components/legend/color.tsx
  packages/charts/src/components/legend/label.tsx
  packages/charts/src/components/legend/legend.test.tsx
  packages/charts/src/components/legend/legend_icon.test.tsx
  packages/charts/src/components/legend/legend_icon.tsx
  packages/charts/src/components/legend/legend_table/legend_table.test.tsx
  packages/charts/src/components/tooltip/components/tooltip_header.tsx
  packages/charts/src/components/tooltip/components/tooltip_wrapper.tsx
  packages/charts/src/specs/settings.test.tsx
  packages/charts/src/specs/specs_parser.test.tsx
  packages/charts/src/state/spec_factory.test.tsx
  scripts/setup_tests.ts
  tsconfig.jest.json
  yarn.lock
Labels: :test, chore, dependencies, :all

#2699 chore(refactor): refactors A11Y screen reader description generation into chart selector factories
  e2e/tests_a11y/goal_chart_a11y.test.ts
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/goal_chart/components/goal_semantic_description.tsx
  packages/charts/src/chart_types/goal_chart/renderer/canvas/connected_component.tsx
  packages/charts/src/chart_types/goal_chart/state/chart_selectors.ts
  packages/charts/src/chart_types/goal_chart/state/selectors/get_screen_reader_data.ts
  packages/charts/src/chart_types/heatmap/renderer/canvas/connected_component.tsx
  packages/charts/src/chart_types/partition_chart/renderer/canvas/partition.tsx
  packages/charts/src/chart_types/partition_chart/renderer/dom/screen_reader_partition_table.tsx
  packages/charts/src/chart_types/partition_chart/state/selectors/get_screen_reader_data.test.ts
  packages/charts/src/chart_types/partition_chart/state/selectors/get_screen_reader_data.ts
  packages/charts/src/components/accessibility/accessibility.test.tsx
  packages/charts/src/components/accessibility/index.ts
  packages/charts/src/components/accessibility/label.tsx
  packages/charts/src/components/accessibility/screen_reader_description.tsx
  packages/charts/src/components/accessibility/screen_reader_items.tsx
  packages/charts/src/components/accessibility/screen_reader_summary.tsx
  packages/charts/src/components/accessibility/types.tsx
  packages/charts/src/state/chart_selectors.ts
  packages/charts/src/state/selectors/get_screen_reader_summary.ts
Labels: :accessibility

#2729 style(brush): improve the selection area and crosshair styles
  e2e/screenshots/annotations_stories.test.ts-snapshots/annotations-stories/outside-annotations/should-show-tooltip-on-hover-x-domain-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/should-not-have-brush-tool-extend-into-axes-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/theme-dark/should-render-correct-brush-area-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/theme-light/should-render-correct-brush-area-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/brushing/show-rectangular-brush-selection-90-degree-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/brushing/show-rectangular-brush-selection-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/brushing/show-x-brush-selection-90-degree-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/brushing/show-x-brush-selection-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/brushing/show-y-brush-selection-90-degree-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/brushing/show-y-brush-selection-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/highlighter-z-index-should-respect-geometry-z-index-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/mouse-cursor/should-show-cursor-when-background-is-set-with-dark-theme-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/mouse-cursor/should-show-cursor-when-background-is-set-with-light-theme-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/should-not-show-tooltip-after-brushing-has-been-enabled-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/should-show-null-values-in-tooltip-if-configured/show-n-a-tooltip-for-areas-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/tooltip-formatting/should-use-custom-mark-formatters-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/tooltip-sync/show-synced-extra-values-in-legend-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/tooltips/should-render-current-tooltip-in-dark-theme-chrome-linux.png
  e2e/screenshots/legend_stories.test.ts-snapshots/legend-stories/should-break-multiline-legends-with-long-url-characters-chrome-linux.png
  e2e/screenshots/line_stories.test.ts-snapshots/line-series-stories/line-with-mark-accessor/with-hidden-points-default-point-highlighter-size-chrome-linux.png
  e2e/screenshots/stylings_stories.test.ts-snapshots/stylings-stories/highlight-style-and-point-buffer-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/cartesian/show-loading-prompt-for-async-actions-chrome-linux.png
  packages/charts/api/charts.api.md
  packages/charts/src/components/brush/brush.tsx
  packages/charts/src/renderers/canvas/primitives/rect.ts
  packages/charts/src/utils/themes/amsterdam_dark_theme.ts
  packages/charts/src/utils/themes/amsterdam_light_theme.ts
  packages/charts/src/utils/themes/base_colors.ts
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/legacy_dark_theme.ts
  packages/charts/src/utils/themes/legacy_light_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.ts
Labels: :styling, :xy, :heatmap

#2734 feat(metric): add ability to disable secondary metric badge border
  e2e/screenshots/all.test.ts-snapshots/baselines/metric-alpha/layout-chrome-linux.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/metric/renderer/dom/badge.tsx
  packages/charts/src/chart_types/metric/renderer/dom/metric.tsx
  packages/charts/src/chart_types/metric/renderer/dom/secondary_metric.tsx
  packages/charts/src/chart_types/metric/renderer/dom/text.tsx
  packages/charts/src/chart_types/metric/specs/index.ts
  storybook/stories/metric/7_layout.story.tsx
Labels: enhancement, :metric

#2743 fix(metric): remove support for small responsive breakpoints
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-horizontal/bullet-as-metric/should-render-with-negative-values-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-horizontal/bullet-as-metric/should-render-with-negative-values-reversed-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-horizontal/bullet-as-metric/should-render-with-positive-negative-values-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-horizontal/bullet-as-metric/should-render-with-positive-negative-values-reversed-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-horizontal/bullet-as-metric/should-render-with-positive-values-chrome-linux.png
  e2e/screenshots/bullet_stories.test.ts-snapshots/bullet-stories/bullet-as-metric-horizontal/bullet-as-metric/should-render-with-positive-values-reversed-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-use-restrictive-breakpoint-at-149px-height-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/should-use-restrictive-breakpoint-at-99px-height-chrome-linux.png
  e2e/screenshots/metric_stories.test.ts-snapshots/metric/small-size-with-fixed-font-size-chrome-linux.png
  packages/charts/src/chart_types/metric/renderer/dom/text_measurements.tsx
Labels: :metric
