Repository elastic/elastic-charts, pull requests merged in 2025-01, with the labels that each got.

#2580 feat: remove error boundary in favor of external boundary
  e2e/helpers.ts
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/should-render-eui-error-boundary-when-error-is-thrown-is-chart-chrome-linux.png
  e2e/tests/test_cases_stories.test.ts
  packages/charts/src/components/__snapshots__/chart.test.tsx.snap
  packages/charts/src/components/chart.tsx
  packages/charts/src/components/error_boundary.test.tsx
  packages/charts/src/components/error_boundary/error_boundary.tsx
  packages/charts/src/components/error_boundary/errors.ts
  packages/charts/src/components/error_boundary/index.tsx
  storybook/stories/test_cases/14_error_boundary.story.tsx
  storybook/stories/test_cases/test_cases.stories.tsx
Labels: :chart, :all

#2588 refactor(theme): reuse borealis token semantic
  packages/charts/src/utils/themes/base_colors.ts
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
Labels: :theme, :refactor

#2591 style(heatmap): align colors to borealis theme
  e2e/screenshots/all.test.ts-snapshots/baselines/heatmap-alpha/basic-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/heatmap-alpha/categorical-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/heatmap-alpha/label-rotation-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/heatmap-alpha/sorting-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/heatmap-alpha/time-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/heatmap-alpha/time-snap-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/small-multiples-alpha/heatmap-chrome-linux.png
  e2e/screenshots/chart.test.ts-snapshots/chart/sizing/should-accommodate-chart-title-and-description-heatmap-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/render-table-with-all-nulls-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/rotate-categorical-axis-labels-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/rotate-time-axis-labels-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/should-maximize-the-label-font-size-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/should-maximize-the-label-with-an-unique-font-size-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/should-not-have-brush-tool-extend-into-axes-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/should-show-x-and-y-axis-titles-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-brush-panel-with-time-data-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-constrain-brush-to-active-panel-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-render-1-x-3-trellis-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-render-2-x-2-trellis-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-render-2-x-2-trellis-time-data-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-render-2-x-2-trellis-without-any-titles-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-render-2-x-2-trellis-without-any-titles-time-data-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-render-2-x-2-trellis-without-axes-titles-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-render-2-x-2-trellis-without-panel-titles-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-render-3-x-1-trellis-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-render-3-x-3-trellis-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-render-3-x-null-trellis-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-render-null-x-3-trellis-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-render-tooltip-over-correct-panel-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-select-single-cell-on-click-with-categorical-data-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/small-multiples/should-select-single-cell-on-click-with-time-data-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/theme-dark/should-highlight-band-on-legend-hover-dark-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/theme-dark/should-render-basic-heatmap-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/theme-dark/should-render-correct-brush-area-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/theme-light/should-highlight-band-on-legend-hover-light-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/theme-light/should-render-basic-heatmap-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/theme-light/should-render-correct-brush-area-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/time-snap-with-dataset-2-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/time-snap-with-dataset-3-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/time-snap-with-dataset-4-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/time-snap-with-dataset-5-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/time-snap-with-dataset-6-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/time-snap-with-dataset-7-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/time-snap-with-dataset-8-chrome-linux.png
  e2e/screenshots/heatmap_stories.test.ts-snapshots/heatmap-stories/time-snap-with-dataset-9-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/heatmap/pinning-with-selection-chrome-linux.png
  packages/charts/src/utils/themes/base_colors.ts
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  storybook/stories/heatmap/1_basic.story.tsx
  storybook/stories/heatmap/4_test_time_snap.story.tsx
Labels: :styling, :theme

#2596 style(partition): align to borealis colors
  e2e/screenshots/all.test.ts-snapshots/baselines/interactions/sunburst-slice-clicks-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/stylings/partition-labels-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/bold-link-value-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/counter-clockwise-special-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/custom-stroke-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/donut-chart-with-fill-labels-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/high-number-of-slices-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/most-basic-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/negative-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/not-a-number-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/single-small-sice-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/single-very-small-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/some-zero-value-slice-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/value-formatted-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/value-formatted-with-categorical-color-palette-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/with-fill-labels-chrome-linux.png
  e2e/screenshots/all.test.ts-snapshots/baselines/sunburst/with-linked-text-labels-chrome-linux.png
  e2e/screenshots/dark_mode.test.ts-snapshots/small-multiples-dark-mode/renders-panel-titles-chrome-linux.png
  e2e/screenshots/interactions.test.ts-snapshots/interactions/tooltips/should-show-tooltip-on-sunburst-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/fill-label-textcolor-sunburst/should-show-custom-black-text-color-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/fill-label-textcolor-sunburst/should-show-custom-black-translucent-text-color-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/fill-label-textcolor-sunburst/should-show-custom-red-text-color-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/fill-label-textcolor-sunburst/should-show-custom-white-text-color-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/fill-label-textcolor-sunburst/should-show-custom-white-translucent-text-color-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/link-label-textcolor-dark-theme/should-show-custom-black-text-color-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/link-label-textcolor-dark-theme/should-show-custom-black-translucent-text-color-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/link-label-textcolor-dark-theme/should-show-custom-red-text-color-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/link-label-textcolor-dark-theme/should-show-custom-white-text-color-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/link-label-textcolor-dark-theme/should-show-custom-white-translucent-text-color-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/link-label-textcolor-dark-theme/should-show-default-text-color-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/link-label-textcolor-light-theme/should-show-default-text-color-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/should-render-link-labels-with-fallback-text-color-for-dark-theme-chrome-linux.png
  e2e/screenshots/partition_stories.test.ts-snapshots/axis-stories/should-render-link-labels-with-fallback-text-color-for-light-theme-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-ar/ltr-text/should-render-with-correct-direction-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-ar/ltr-text/should-render-with-correct-direction-clockwise-sectors-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-ar/mostly-ltr-text/should-render-with-correct-direction-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-ar/mostly-ltr-text/should-render-with-correct-direction-clockwise-sectors-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-ar/mostly-rtl-text/should-render-with-correct-direction-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-ar/mostly-rtl-text/should-render-with-correct-direction-clockwise-sectors-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-ar/rtl-text/should-render-with-correct-direction-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-ar/rtl-text/should-render-with-correct-direction-clockwise-sectors-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-he/ltr-text/should-render-with-correct-direction-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-he/ltr-text/should-render-with-correct-direction-clockwise-sectors-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-he/mostly-ltr-text/should-render-with-correct-direction-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-he/mostly-ltr-text/should-render-with-correct-direction-clockwise-sectors-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-he/mostly-rtl-text/should-render-with-correct-direction-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-he/mostly-rtl-text/should-render-with-correct-direction-clockwise-sectors-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-he/rtl-text/should-render-with-correct-direction-chrome-linux.png
  e2e/screenshots/test_cases_stories.test.ts-snapshots/test-cases-stories/rtl-support/sunburst-chart-type/lang-he/rtl-text/should-render-with-correct-direction-clockwise-sectors-chrome-linux.png
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
Labels: :styling, :theme

#2598 style(flamegraph): align borealis colors
  e2e/screenshots/all.test.ts-snapshots/baselines/flame-alpha/cpu-profile-gl-flame-chart-chrome-linux.png
  e2e/screenshots/flame_stories.test.ts-snapshots/flame-stories/should-focus-element-on-click-chrome-linux.png
  e2e/screenshots/flame_stories.test.ts-snapshots/flame-stories/should-focus-on-searched-terms-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/flamegraph/hide-prompt-with-no-actions-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/flamegraph/pinning-with-selection-chrome-linux.png
  e2e/screenshots/tooltip.test.ts-snapshots/tooltip/chart-types/flamegraph/show-prompt-with-actions-chrome-linux.png
  packages/charts/api/charts.api.md
  packages/charts/src/chart_types/flame_chart/render/draw_a_frame.ts
  packages/charts/src/utils/themes/base_colors.ts
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/legacy_dark_theme.ts
  packages/charts/src/utils/themes/legacy_light_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.ts
Labels: :styling, :theme

#2602 style(theme): cleanup remaining theme changes
  packages/charts/api/charts.api.md
  packages/charts/src/index.ts
  packages/charts/src/utils/themes/base_colors.ts
  packages/charts/src/utils/themes/dark_theme.ts
  packages/charts/src/utils/themes/light_theme.ts
  packages/charts/src/utils/themes/theme.ts
Labels: :styling, :theme

#2604 fix(themes): reintroduce Amsterdam colors
  packages/charts/api/charts.api.md
  packages/charts/src/index.ts
  packages/charts/src/utils/themes/amsterdam_dark_theme.ts
  packages/charts/src/utils/themes/amsterdam_light_theme.ts
  packages/charts/src/utils/themes/get_charts_theme.ts
Labels: :theme

#2605 fix(themes): reintroduce Amsterdam colors (#2604) [69.0.x]
  packages/charts/api/charts.api.md
  packages/charts/src/index.ts
  packages/charts/src/utils/themes/amsterdam_dark_theme.ts
  packages/charts/src/utils/themes/amsterdam_light_theme.ts
  packages/charts/src/utils/themes/get_charts_theme.ts
Labels: backport
